{% extends "base.html" %}
{% block head %}
    <style>

    </style>
{% endblock %}

{% block title %}ระบบอาจารย์สองภาษา{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>อาจารย์สองภาษา</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group3:prof2lang_index' %}">ระบบอาจารย์สองภาษา</a></li>
    <li class="active">อาจารย์ผู้สอนทั้งหมด</li>
</ol>
{% endblock %}

{% block content %}
    <!-- check has Prof2Lang object -->
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-2">
                    <a class="btn btn-primary btn-block" href="{% url 'group3:prof_add' %}"><span class="glyphicon glyphicon-plus"></span> เพิ่มข้อมูล</a>
                </div>
                <div class="col-md-10">
                    {% if profList %}
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr class="success">
                                    <th><a href="{% url 'group3:prof_sort' 'shortName' %}">ตัวย่อชื่อ</a></th><!-- 1. -->
                                    <th><a href="{% url 'group3:prof_sort' 'fullname' %}">ชื่อ-สกุล</a></th><!-- 2. -->
                                    <th><a href="{% url 'group3:prof_sort' 'type' %}">ประเภท</a></th><!-- 3. -->
                                    <th><a href="{% url 'group3:prof_sort' 'department' %}">ภาควิชา</a></th><!-- 4. -->
                                    <th><a href="{% url 'group3:prof_sort' 'faculty' %}">คณะ</a></th><!-- 5. -->
                                    <th>เมนู</th><!-- 6. -->
                                </tr>
                                </thead>
                                <tbody>
                                {% for prof in profList %}
                                <tr>
                                    <td data-title="ตัวย่อชื่อ">{{ prof.shortName }}</td><!-- 1. -->
                                    <td data-title="ชื่อ-สกุล"><!-- 2. -->
                                        {% ifequal prof.academic_position "0"%}
                                            {% if prof.prefix_name == "3" %}ดร.
                                            {% else %}อ.
                                            {% endif %}
                                        {% endifequal %}
                                        {% ifequal prof.academic_position "1"%}ผู้ช่วยศาสตราจารย์{% ifequal prof.prefix_name "3" %} ดร.{% endifequal %}{% endifequal %}
                                        {% ifequal prof.academic_position "2"%}รองศาสตราจารย์{% ifequal prof.prefix_name "3" %} ดร.{% endifequal %}{% endifequal %}
                                        {% ifequal prof.academic_position "3"%}ศาสตราจารย์{% ifequal prof.prefix_name "3" %} ดร.{% endifequal %}{% endifequal %}
                                        {{ prof.firstName }}  {{ prof.lastName }}
                                    </td><!-- 2. -->
                                    <td><!-- 3. -->
                                        {% if prof.type == '0' %}อาจารย์ในภาควิชา{% endif %}
                                        {% if prof.type == '1' %}อาจารย์นอกภาควิชา{% endif %}
                                        {% if prof.type == '2' %}อาจารย์พิเศษ{% endif %}
                                    </td><!-- 3. -->
                                    <td data-title="ภาควิชา">{{ prof.department }}</td>
                                    <td data-title=คณะ">{{ prof.faculty }}</td>
                                    <td data-title="เมนู">
                                        <a class="btn btn-info btn-xs" href="{% url 'group3:prof_view' prof.profID %}">ดูข้อมูล</a>
                                        <!--a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delModal{{prof.profID}}" >ลบ</a-->
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="delModal{{prof.profID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">ลบข้อมูล</h4>
                                            </div>
                                            <div class="modal-body">
                                                คุณแน่ใจหรือว่าต้องการลบข้อมูลของ
                                                อาจารย์ {{ prof.firstName }}  {{ prof.lastName }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                                                <a href="{% url 'group3:prof_delete' prof.profID %}" class="btn btn-success" >ตกลง</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /table-responsive -->
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <strong>ยังไม่มีข้อมูล!</strong> กรุณา
                            <a class="alert-link" href="{% url 'group3:prof2lang_add' 0 %}">เพิ่มข้อมูล</a>
                        </div>
                    {% endif %}
                </div><!-- /col-md-9 -->
            </div><!-- /container-fluid -->
        </div><!-- /row -->

{% endblock %}