<meta charset="UTF-8">
{% extends "base.html" %}

{% block head %}
    <style>
		
    </style>
{% endblock %}

{% block title %}การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</li>
</ol>
{% endblock %}

{% block content %}

<style>

#bod{
	white-space:nowrap;
	margin:  0px 0% 0%;
	padding: 0px 340px 0px;
	background-color:#FFFFFF;
	}

	



.botton1{
    position: absolute;
    left: 373px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}

.botton2{
    position: absolute;
    left: 468px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}

.botton3{
    position: absolute;
    left: 588px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}

.botton4{
    position: absolute;
    left: 850px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;	
	
}



.botton5{
    position: absolute;
    left: 0px;
    padding: 10px 10px;
    background-color: #00B3EE;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;	
	
}

table{
    width: 50%;
	border:3px solid  #3366CC;//blue
    font:14pt "Angsana New";
}
</style>



{%if user.is_staff %}


{%else%}
{%if studentObj.degree != '0'%}

<a href="{% url 'group2:profile' %}" class="botton1">ประวัติส่วนตัว</a>
<a href="{% url 'group2:regis_result' %}" class="botton2">ผลการลงทะเบียน</a>
<a href="{% url 'group2:viyanipon' %}" class="botton3">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>
<a href="{% url 'group2:edit_viyanipon' %}" class="botton5">เพิ่ม/แก้ไข</a>
<br>
<br
<center>
<form method="post" action="{% url 'group2:Add_edit_viyanipon' %}">
{%csrf_token%}
			<table align="center">
		<tr>
			
			<td><br><b>เลขประจำตัว</b>   </td>
			<td><br> {{ studentObj.std_id }}  </td>
		</tr>
		<tr>
			<td> <b>ชื่อ - นามสกุล</b></td>
			<td>{{ studentObj.userprofile.firstname_th }}&nbsp{{ studentObj.userprofile.lastname_th }}</td>
		</tr>
		<tr>
			<td><b>แผนการเรียน</b></td>

			<td>
			<script>
			x = {{ studentObj.plan }}
			if (x == 0) {
				document.write('')
			}
			else if (x == 1){
				document.write('ป.โท แผน ก แบบ ก 2 ปกติ')
			}
			else if (x == 2){
				document.write('ป.โท แผน ก แบบ ก 2 สหกิจศึกษา')
			}
			else if (x == 3){
				document.write('ป.เอก แผน 1 แบบ 1.1')
			}
			else if (x == 4){
				document.write('ป.เอก แผน 1 แบบ 1.2')
			}
			else if (x == 5){
				document.write('ป.เอก แผน 2 แบบ 2.1')
			}
			else if (x == 6){
				document.write('ป.เอก แผน 2 แบบ 2.2')
			}
</script></td>
		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>

			<td>
				<b>ตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์</b>
			</td>
			<td><select name="t" >
                	<option value="ศาสตราจารย์  ประยุทธ อัครเอกฒาลิน">ศาสตราจารย์  ประยุทธ อัครเอกฒาลิน</option>
  					<option value="รองศาสตราจารย์  วิบูลย์  ชื่นแขก">รองศาสตราจารย์  วิบูลย์  ชื่นแขก</option>
  					<option value="ผู้ช่วยศาสตราจารย์  อภิบาล  พฤกษานุบาล">ผู้ช่วยศาสตราจารย์  อภิบาล  พฤกษานุบาล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  บัลลังก์  เนียมมณี">ผู้ช่วยศาสตราจารย์  บัลลังก์  เนียมมณี</option>
  					<option value="อาจารย์  ศราวุธ  ชัยมูล">อาจารย์  ศราวุธ  ชัยมูล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  วิไลพร  แซ่ลี้">ผู้ชวยศาสตราจารย์  วิไลพร  แซ่ลี้</option>
					
  					<option value="ผู้ช่วยศาสตราจารย์  ธีรธรรม  บุณยะกุล">ผู้ช่วยศาสตราจารย์  ธีรธรรม  บุณยะกุล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  พิสิษฐ์  ลิ่วธนกุล">ผู้ช่วยศาสตราจารย์  พิสิษฐ์  ลิ่วธนกุล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  สมพร  สิริสำราญนุกูล">ผู้ช่วยศาสตราจารย์  สมพร  สิริสำราญนุกูล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  ชาตรี  มหัทธนจาตุภัทร">ผู้ช่วยศาสตราจารย์  ชาตรี  มหัทธนจาตุภัทร</option>
  					<option value="อาจารย์  เอกรัฐ  บุญภูงา">อาจารย์  เอกรัฐ  บุญภูงา</option>
  					<option value="อาจารย์  นพดล  ฉาบแก้ว">อาจารย์  นพดล  ฉาบแก้ว</option>
					
  					<option value="อาจารย์  เพ็ญนภา ไพโรจน์อมรชัย">อาจารย์  เพ็ญนภา ไพโรจน์อมรชัย</option>
  					<option value="อาจารย์  พิสิฐ  วนิชชานันท์">อาจารย์  พิสิฐ  วนิชชานันท์</option>
  					<option value="รองศาสตราจารย์  สุขสันติ์  นุ่นงาม">รองศาสตราจารย์  สุขสันติ์  นุ่นงาม</option>	
					<option value="รองศาสตราจารย์  วรา  วราวิทย์">รองศาสตราจารย์  วรา  วราวิทย์</option>
  					<option value="รองศาสตราจารย์  ณชล  ไชยรัตนะ">รองศาสตราจารย์  ณชล  ไชยรัตนะ</option>
  					<option value="รองศาสตราจารย์  พงษ์ศักดิ์  กีรติวินทกร">รองศาสตราจารย์  พงษ์ศักดิ์  กีรติวินทกร</option>
					
  					<option value="รองศาสตราจารย์  ธีรพล เดโชเกียรติถวัลย์">รองศาสตราจารย์  ธีรพล เดโชเกียรติถวัลย์</option>
  					<option value="รองศาสตราจารย์  ไชยันต์  สุวรรณชีวะศิริ">รองศาสตราจารย์  ไชยันต์  สุวรรณชีวะศิริ</option>
  					<option value="รองศาสตราจารย์  เวช  วิเวก">รองศาสตราจารย์  เวช  วิเวก</option>
  					<option value="รองศาสตราจารย์  มนูญ  พ่วงพูล">รองศาสตราจารย์  มนูญ  พ่วงพูล</option>
  					<option value="ผู้ช่วยศาสตราจารย์  ศิริชัย  รุจิพัฒนพงศ์">ผู้ช่วยศาสตราจารย์  ศิริชัย  รุจิพัฒนพงศ์</option>
  					<option value="ผู้ช่วยศาสตราจารย์  ศราวุฒิ  คลี่สุวรรณ์">ผู้ช่วยศาสตราจารย์  ศราวุฒิ  คลี่สุวรรณ์</option>
					
					<option value="ผู้ช่วยศาสตราจารย์  สิทธิพร  เกิดสำอางค์">ผู้ช่วยศาสตราจารย์  สิทธิพร  เกิดสำอางค์</option>
  					<option value="อาจารย์  เรวัต  ศิริโภคาภิรมย์">อาจารย์  เรวัต  ศิริโภคาภิรมย์</option>
            </select></td>

		</tr>


<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td  width="20%" valign="top"><b> เสนอวิทยานิพนธ์ เรื่อง</b></td>
			<td>ชื่อภาษาไทย&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp<input name="th_offer"  type="text"  size="50" ></td>
		</tr>


	<tr><td><br></td><td><br></td></tr>	
		<tr>
			<td></td>
			<td>ชื่อภาษาอังกฤษ&nbsp:&nbsp<input name="en_offer"  type="text" size="50"></td>
		</tr>

		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องลงทะเบียนวิทยานิพนธ์ไม่น้อยกว่า  3  หน่วยกิตในภาคการศึกษานั้น ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td><b> สอบหัวข้อวิทยานิพนธ์</b></td>
			<td><input type="date" name="Date_test" value="{{Date_test}}" class="form-control" placeholder="ตั้งแต่" title="ตั้งแต่"  style='width:200px;' ></td>
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องดำเนินการให้แล้วเสร็จภายใน  30  วันหลังจากแต่งตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์และอนุมัติโครการวิทยานิพนธ์ที่เสนอ ***</font></td>

		</tr>

		
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="26%"><b> สอบความก้าวหน้าวิทยานิพนธ์&nbsp;</b></td>
			<td><input type="date" name="Date_advance" value="{{Date_advance}}" class="form-control" placeholder="ตั้งแต่" title="ตั้งแต่"  style='width:200px;' >  </td>
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>
		</tr>

<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="21%"><b> สอบป้องกันวิทยานิพนธ์</b></td>
			<td><input type="date" name="Date_protect" value="{{Date_protect}}" class="form-control" placeholder="ตั้งแต่" title="ตั้งแต่"  style='width:200px;' > </td>   
			
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">****หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		</table><center>
		<br><br><input class="btn btn-success"  type ="submit" name="Submit" value="Save">
		<br><br><br><br></center>
	</form>

</center>

{%endif%}

{%endif%}

{% endblock %}