{% extends "base.html" %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% block title %}แก้ไขเกรดนักศึกษา{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">แก้ไขเกรดนักศึกษา</li>
</ol>
{% endblock %}

{% block content %}
<style>

#bod{
	white-space:nowrap;
	margin:  0px 0% 0%;
	padding: 0px 340px 0px;
	background-color:#FFFFFF;
	}


.table{
		width: 50%;
		border:3px solid  #3366CC;//blue
		font:14pt "Angsana New";
	}

	
tr,td,th{
    
    border:3px solid #ab82ff;//blue
    font:14pt "Angsana New";
}

.botton1{
    position: absolute;
    left: 0px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton2{
    position: absolute;
    left: 0px;
    padding: 10px 10px;
    background-color: #00B3EE;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}



</style>
<center>


<p class='norm'><h4>ค้นหาเกรดนักศึกษา</h4></p>
{%if error_find_course %}

<FONT COLOR=#FF0000>***ใส่รหัสวิชา***</FONT>
<br>
{%endif%}

{%if error_find_year %}
<FONT COLOR=#FF0000>***ใส่ปีการศึกษา***</FONT>
<br>
{%endif%}

{%if error_data %}
<FONT COLOR=#FF0000>***ไม่พบข้อมูลที่ต้องการค้นหา***</FONT>
<br>
{%endif%}


<form method="post" action="{% url 'group2:Find_school_record_admin' %}">
	{%csrf_token%}
<table class="table table-striped table-bordered table-condensed" align="center">
<thead>
<tr>
	<th align="center" bgcolor="#C0C0C0" ><b>รหัสวิชา</b></th>
	<th align="center" bgcolor="#C0C0C0" ><b>ตอนเรียน</b></th>
	<th align="center" bgcolor="#C0C0C0" ><b>ภาคเรียนที่</b></th>
	<th align="center" bgcolor="#C0C0C0" ><b>ปีการศึกษา</b></th>
</tr>
    

</thead>
<tbody>
<tr>
                <td><input name="c_id"  type="text" ></td>
				<td><select name="sec" >
                	<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
                </select></td>
				<td><select name="t" >
                	<option value="1">1</option>
  					<option value="2">2</option>
                </select></td>
				<td><input name="y"  type="text" ></td>

</tr>
</tbody>





</table>
<br><input type ="submit"  value="Show" class="btn btn-info"  >
<br></form>
<br>
{%if table_show1 %}	
<br><p class='norm'><h4>แก้ไขเกรดนักศึกษา</h4></p>
ภาคการเรียนที่&nbsp {{table_show1.term }}&nbsp &nbsp&nbsp  &nbsp ปีการศึกษา&nbsp {{table_show1.year }}

<br><br>
<form method="post" action="{% url 'group2:Edit_school_record_admin' %}">
	<input name="t"  type="hidden" value={{table_show1.term}}>
	<input name="y"  type="hidden" value={{table_show1.year}}>
	{%csrf_token%}
        <table class="table table-striped table-bordered table-condensed" align="center">
        <tr>
		<th  bgcolor="#C0C0C0"><b>รหัสนศ</th>	
		<th  bgcolor="#C0C0C0" ><b>รหัสวิชา</b></th>
        <th  bgcolor="#C0C0C0"><b>วิชา</b></th>
        <th  bgcolor="#C0C0C0"><b>ตอนเรียน</b></th>
		<th  bgcolor="#C0C0C0"><b>สถานะ</b></th>
		<th  bgcolor="#C0C0C0"><b>เกรด</b></th>
		</tr>
		
	{%if table_show1 %}	
		<td>{{table_show1.std_id.std_id}}</td><input name="s_id1"  type="hidden" value={{table_show1.std_id.std_id}}>
	    <td>{{table_show1.Course_ID.Course_ID}} </td><input name="c_id"  type="hidden" value={{table_show1.Course_ID.Course_ID}}>
 	    <td>{{table_show1.Course_ID.Course_Name}} 
        <td>{{table_show1.Section.Section}}</td><input name="sec"  type="hidden" value={{table_show1.Section.Section}}>
		<td>{{table_show1.check}} </td>
		<td><select name="state1" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show2 %}	
		<td>{{table_show2.std_id.std_id}}</td><input name="s_id2"  type="hidden" value={{table_show2.std_id.std_id}}>
	    <td>{{table_show2.Course_ID.Course_ID}} </td>
 	    <td>{{table_show2.Course_ID.Course_Name}} 
        <td>{{table_show2.Section.Section}}</td>
		<td>{{table_show2.check}} </td>
		<td><select name="state2" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}	

	{%if table_show3 %}	
		<td>{{table_show3.std_id.std_id}}</td><input name="s_id3"  type="hidden" value={{table_show3.std_id.std_id}}>
	    <td>{{table_show3.Course_ID.Course_ID}} </td>
 	    <td>{{table_show3.Course_ID.Course_Name}} 
        <td>{{table_show3.Section.Section}}</td>
		<td>{{table_show3.check}} </td>
		<td><select name="state3" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show4 %}	
		<td>{{table_show4.std_id.std_id}}</td><input name="s_id4"  type="hidden" value={{table_show4.std_id.std_id}}>
	    <td>{{table_show4.Course_ID.Course_ID}} </td>
 	    <td>{{table_show4.Course_ID.Course_Name}} 
        <td>{{table_show4.Section.Section}}</td>
		<td>{{table_show4.check}} </td>
		<td><select name="state4" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show5 %}	
		<td>{{table_show5.std_id.std_id}}</td><input name="s_id5"  type="hidden" value={{table_show5.std_id.std_id}}>
	    <td>{{table_show5.Course_ID.Course_ID}} </td>
 	    <td>{{table_show5.Course_ID.Course_Name}} 
        <td>{{table_show5.Section.Section}}</td>
		<td>{{table_show5.check}} </td>
		<td><select name="state5" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show6 %}	
		<td>{{table_show6.std_id.std_id}}</td><input name="s_id6"  type="hidden" value={{table_show6.std_id.std_id}}>
	    <td>{{table_show6.Course_ID.Course_ID}} </td>
 	    <td>{{table_show6.Course_ID.Course_Name}} 
        <td>{{table_show6.Section.Section}}</td>
		<td>{{table_show6.check}} </td>
		<td><select name="state6" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show7 %}	
		<td>{{table_show7.std_id.std_id}}</td><input name="s_id7"  type="hidden" value={{table_show7.std_id.std_id}}>
	    <td>{{table_show7.Course_ID.Course_ID}} </td>
 	    <td>{{table_show7.Course_ID.Course_Name}} 
        <td>{{table_show7.Section.Section}}</td>
		<td>{{table_show7.check}} </td>
		<td><select name="state7" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show8 %}	
		<td>{{table_show8.std_id.std_id}}</td><input name="s_id8"  type="hidden" value={{table_show8.std_id.std_id}}>
	    <td>{{table_show8.Course_ID.Course_ID}} </td>
 	    <td>{{table_show8.Course_ID.Course_Name}} 
        <td>{{table_show8.Section.Section}}</td>
		<td>{{table_show8.check}} </td>
		<td><select name="state8" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show9 %}	
		<td>{{table_show9.std_id.std_id}}</td><input name="s_id9"  type="hidden" value={{table_show9.std_id.std_id}}>
	    <td>{{table_show9.Course_ID.Course_ID}} </td>
 	    <td>{{table_show9.Course_ID.Course_Name}} 
        <td>{{table_show9.Section.Section}}</td>
		<td>{{table_show9.check}} </td>
		<td><select name="state9" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show10 %}	
		<td>{{table_show10.std_id.std_id}}</td><input name="s_id10"  type="hidden" value={{table_show10.std_id.std_id}}>
	    <td>{{table_show10.Course_ID.Course_ID}} </td>
 	    <td>{{table_show10.Course_ID.Course_Name}} 
        <td>{{table_show10.Section.Section}}</td>
		<td>{{table_show10.check}} </td>
		<td><select name="state10" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show11 %}	
		<td>{{table_show11.std_id.std_id}}</td><input name="s_id11"  type="hidden" value={{table_show11.std_id.std_id}}>
	    <td>{{table_show11.Course_ID.Course_ID}} </td>
 	    <td>{{table_show11.Course_ID.Course_Name}} 
        <td>{{table_show11.Section.Section}}</td>
		<td>{{table_show11.check}} </td>
		<td><select name="state11" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show12 %}	
		<td>{{table_show12.std_id.std_id}}</td><input name="s_id12"  type="hidden" value={{table_show12.std_id.std_id}}>
	    <td>{{table_show12.Course_ID.Course_ID}} </td>
 	    <td>{{table_show12.Course_ID.Course_Name}} 
        <td>{{table_show12.Section.Section}}</td>
		<td>{{table_show12.check}} </td>
		<td><select name="state12" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}	

	{%if table_show13 %}	
		<td>{{table_show13.std_id.std_id}}</td><input name="s_id13"  type="hidden" value={{table_show13.std_id.std_id}}>
	    <td>{{table_show13.Course_ID.Course_ID}} </td>
 	    <td>{{table_show13.Course_ID.Course_Name}} 
        <td>{{table_show13.Section.Section}}</td>
		<td>{{table_show13.check}} </td>
		<td><select name="state13" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show14 %}	
		<td>{{table_show14.std_id.std_id}}</td><input name="s_id14"  type="hidden" value={{table_show14.std_id.std_id}}>
	    <td>{{table_show14.Course_ID.Course_ID}} </td>
 	    <td>{{table_show14.Course_ID.Course_Name}} 
        <td>{{table_show14.Section.Section}}</td>
		<td>{{table_show14.check}} </td>
		<td><select name="state14" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show15 %}	
		<td>{{table_show15.std_id.std_id}}</td><input name="s_id15"  type="hidden" value={{table_show15.std_id.std_id}}>
	    <td>{{table_show15.Course_ID.Course_ID}} </td>
 	    <td>{{table_show15.Course_ID.Course_Name}} 
        <td>{{table_show15.Section.Section}}</td>
		<td>{{table_show15.check}} </td>
		<td><select name="state15" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show16 %}	
		<td>{{table_show16.std_id.std_id}}</td><input name="s_id16"  type="hidden" value={{table_show16.std_id.std_id}}>
	    <td>{{table_show16.Course_ID.Course_ID}} </td>
 	    <td>{{table_show16.Course_ID.Course_Name}} 
        <td>{{table_show16.Section.Section}}</td>
		<td>{{table_show16.check}} </td>
		<td><select name="state16" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show17 %}	
		<td>{{table_show17.std_id.std_id}}</td><input name="s_id17"  type="hidden" value={{table_show17.std_id.std_id}}>
	    <td>{{table_show17.Course_ID.Course_ID}} </td>
 	    <td>{{table_show17.Course_ID.Course_Name}} 
        <td>{{table_show17.Section.Section}}</td>
		<td>{{table_show17.check}} </td>
		<td><select name="state17" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show18 %}	
		<td>{{table_show18.std_id.std_id}}</td><input name="s_id18"  type="hidden" value={{table_show18.std_id.std_id}}>
	    <td>{{table_show18.Course_ID.Course_ID}} </td>
 	    <td>{{table_show18.Course_ID.Course_Name}} 
        <td>{{table_show18.Section.Section}}</td>
		<td>{{table_show18.check}} </td>
		<td><select name="state18" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show19 %}	
		<td>{{table_show19.std_id.std_id}}</td><input name="s_id19"  type="hidden" value={{table_show19.std_id.std_id}}>
	    <td>{{table_show19.Course_ID.Course_ID}} </td>
 	    <td>{{table_show19.Course_ID.Course_Name}} 
        <td>{{table_show19.Section.Section}}</td>
		<td>{{table_show19.check}} </td>
		<td><select name="state19" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show20 %}	
		<td>{{table_show20.std_id.std_id}}</td><input name="s_id20"  type="hidden" value={{table_show20.std_id.std_id}}>
	    <td>{{table_show20.Course_ID.Course_ID}} </td>
 	    <td>{{table_show20.Course_ID.Course_Name}} 
        <td>{{table_show20.Section.Section}}</td>
		<td>{{table_show20.check}} </td>
		<td><select name="state20" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show21 %}	
		<td>{{table_show21.std_id.std_id}}</td><input name="s_id21"  type="hidden" value={{table_show21.std_id.std_id}}>
	    <td>{{table_show21.Course_ID.Course_ID}} </td>
 	    <td>{{table_show21.Course_ID.Course_Name}} 
        <td>{{table_show21.Section.Section}}</td>
		<td>{{table_show21.check}} </td>
		<td><select name="state21" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show22 %}	
		<td>{{table_show22.std_id.std_id}}</td><input name="s_id22"  type="hidden" value={{table_show22.std_id.std_id}}>
	    <td>{{table_show22.Course_ID.Course_ID}} </td>
 	    <td>{{table_show22.Course_ID.Course_Name}} 
        <td>{{table_show22.Section.Section}}</td>
		<td>{{table_show22.check}} </td>
		<td><select name="state22" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}	

	{%if table_show23 %}	
		<td>{{table_show23.std_id.std_id}}</td><input name="s_id23"  type="hidden" value={{table_show23.std_id.std_id}}>
	    <td>{{table_show23.Course_ID.Course_ID}} </td>
 	    <td>{{table_show23.Course_ID.Course_Name}} 
        <td>{{table_show23.Section.Section}}</td>
		<td>{{table_show23.check}} </td>
		<td><select name="state23" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show24 %}	
		<td>{{table_show24.std_id.std_id}}</td><input name="s_id24"  type="hidden" value={{table_show24.std_id.std_id}}>
	    <td>{{table_show24.Course_ID.Course_ID}} </td>
 	    <td>{{table_show24.Course_ID.Course_Name}} 
        <td>{{table_show24.Section.Section}}</td>
		<td>{{table_show24.check}} </td>
		<td><select name="state24" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show25 %}	
		<td>{{table_show25.std_id.std_id}}</td><input name="s_id25"  type="hidden" value={{table_show25.std_id.std_id}}>
	    <td>{{table_show25.Course_ID.Course_ID}} </td>
 	    <td>{{table_show25.Course_ID.Course_Name}} 
        <td>{{table_show25.Section.Section}}</td>
		<td>{{table_show25.check}} </td>
		<td><select name="state25" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show26 %}	
		<td>{{table_show26.std_id.std_id}}</td><input name="s_id26"  type="hidden" value={{table_show26.std_id.std_id}}>
	    <td>{{table_show26.Course_ID.Course_ID}} </td>
 	    <td>{{table_show26.Course_ID.Course_Name}} 
        <td>{{table_show26.Section.Section}}</td>
		<td>{{table_show26.check}} </td>
		<td><select name="state26" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show27 %}	
		<td>{{table_show27.std_id.std_id}}</td><input name="s_id27"  type="hidden" value={{table_show27.std_id.std_id}}>
	    <td>{{table_show27.Course_ID.Course_ID}} </td>
 	    <td>{{table_show27.Course_ID.Course_Name}} 
        <td>{{table_show27.Section.Section}}</td>
		<td>{{table_show27.check}} </td>
		<td><select name="state27" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show28 %}	
		<td>{{table_show28.std_id.std_id}}</td><input name="s_id28"  type="hidden" value={{table_show28.std_id.std_id}}>
	    <td>{{table_show28.Course_ID.Course_ID}} </td>
 	    <td>{{table_show28.Course_ID.Course_Name}} 
        <td>{{table_show28.Section.Section}}</td>
		<td>{{table_show28.check}} </td>
		<td><select name="state28" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show29 %}	
		<td>{{table_show29.std_id.std_id}}</td><input name="s_id29"  type="hidden" value={{table_show29.std_id.std_id}}>
	    <td>{{table_show29.Course_ID.Course_ID}} </td>
 	    <td>{{table_show29.Course_ID.Course_Name}} 
        <td>{{table_show29.Section.Section}}</td>
		<td>{{table_show29.check}} </td>
		<td><select name="state29" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show30 %}	
		<td>{{table_show30.std_id.std_id}}</td><input name="s_id30"  type="hidden" value={{table_show30.std_id.std_id}}>
	    <td>{{table_show30.Course_ID.Course_ID}} </td>
 	    <td>{{table_show30.Course_ID.Course_Name}} 
        <td>{{table_show30.Section.Section}}</td>
		<td>{{table_show30.check}} </td>
		<td><select name="state30" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show31 %}	
		<td>{{table_show31.std_id.std_id}}</td><input name="s_id31"  type="hidden" value={{table_show31.std_id.std_id}}>
	    <td>{{table_show31.Course_ID.Course_ID}} </td>
 	    <td>{{table_show31.Course_ID.Course_Name}} 
        <td>{{table_show31.Section.Section}}</td>
		<td>{{table_show31.check}} </td>
		<td><select name="state31" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show32 %}	
		<td>{{table_show32.std_id.std_id}}</td><input name="s_id32"  type="hidden" value={{table_show32.std_id.std_id}}>
	    <td>{{table_show32.Course_ID.Course_ID}} </td>
 	    <td>{{table_show32.Course_ID.Course_Name}} 
        <td>{{table_show32.Section.Section}}</td>
		<td>{{table_show32.check}} </td>
		<td><select name="state32" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}	

	{%if table_show33 %}	
		<td>{{table_show33.std_id.std_id}}</td><input name="s_id33"  type="hidden" value={{table_show33.std_id.std_id}}>
	    <td>{{table_show33.Course_ID.Course_ID}} </td>
 	    <td>{{table_show33.Course_ID.Course_Name}} 
        <td>{{table_show33.Section.Section}}</td>
		<td>{{table_show33.check}} </td>
		<td><select name="state33" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show34 %}	
		<td>{{table_show34.std_id.std_id}}</td><input name="s_id34"  type="hidden" value={{table_show34.std_id.std_id}}>
	    <td>{{table_show34.Course_ID.Course_ID}} </td>
 	    <td>{{table_show34.Course_ID.Course_Name}} 
        <td>{{table_show34.Section.Section}}</td>
		<td>{{table_show34.check}} </td>
		<td><select name="state34" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}

	{%if table_show35 %}	
		<td>{{table_show35.std_id.std_id}}</td><input name="s_id35"  type="hidden" value={{table_show35.std_id.std_id}}>
	    <td>{{table_show35.Course_ID.Course_ID}} </td>
 	    <td>{{table_show35.Course_ID.Course_Name}} 
        <td>{{table_show35.Section.Section}}</td>
		<td>{{table_show35.check}} </td>
		<td><select name="state35" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show36 %}	
		<td>{{table_show36.std_id.std_id}}</td><input name="s_id36"  type="hidden" value={{table_show36.std_id.std_id}}>
	    <td>{{table_show36.Course_ID.Course_ID}} </td>
 	    <td>{{table_show36.Course_ID.Course_Name}} 
        <td>{{table_show36.Section.Section}}</td>
		<td>{{table_show36.check}} </td>
		<td><select name="state36" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show37 %}	
		<td>{{table_show37.std_id.std_id}}</td><input name="s_id37"  type="hidden" value={{table_show37.std_id.std_id}}>
	    <td>{{table_show37.Course_ID.Course_ID}} </td>
 	    <td>{{table_show37.Course_ID.Course_Name}} 
        <td>{{table_show37.Section.Section}}</td>
		<td>{{table_show37.check}} </td>
		<td><select name="state37" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show38 %}	
		<td>{{table_show38.std_id.std_id}}</td><input name="s_id38"  type="hidden" value={{table_show38.std_id.std_id}}>
	    <td>{{table_show38.Course_ID.Course_ID}} </td>
 	    <td>{{table_show38.Course_ID.Course_Name}} 
        <td>{{table_show38.Section.Section}}</td>
		<td>{{table_show38.check}} </td>
		<td><select name="state38" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show39 %}	
		<td>{{table_show39.std_id.std_id}}</td><input name="s_id39"  type="hidden" value={{table_show39.std_id.std_id}}>
	    <td>{{table_show39.Course_ID.Course_ID}} </td>
 	    <td>{{table_show39.Course_ID.Course_Name}} 
        <td>{{table_show39.Section.Section}}</td>
		<td>{{table_show39.check}} </td>
		<td><select name="state39" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	
	{%if table_show40 %}	
		<td>{{table_show40.std_id.std_id}}</td><input name="s_id40"  type="hidden" value={{table_show40.std_id.std_id}}>
	    <td>{{table_show40.Course_ID.Course_ID}} </td>
 	    <td>{{table_show40.Course_ID.Course_Name}} 
        <td>{{table_show40.Section.Section}}</td>
		<td>{{table_show40.check}} </td>
		<td><select name="state40" >
                	<option value="A">A</option>
					<option value="B+">B+</option>
					<option value="B">B</option>
					<option value="C+">C+</option>
					<option value="C">C</option>
					<option value="D+">D+</option>
					<option value="D">D</option>
					<option value="F">F</option>
        </select></td>
		</tr>		
	{%endif%}
	</table>
<p></p><br><input type ="submit"  value="Edit" class="btn btn-primary"  >
<br>
{%endif%}	



<br>
<br>	
	
</center>
{% endblock %}