<meta charset="UTF-8">
{% extends "base.html" %}

{% block head %}
    <style>
		
    </style>
{% endblock %}

{% block title %}การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</li>
</ol>
{% endblock %}

{% block content %}
<style>

#bod{
	white-space:nowrap;
	margin:  0px 0% 0%;
	padding: 0px 340px 0px;
	background-color:#FFFFFF;
	}

	



.botton1{
    position: absolute;
    left: 373px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}

.botton2{
    position: absolute;
    left: 468px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;
}

.botton3{
    position: absolute;
    left: 588px;
    padding: 10px 10px;
    background-color: #00B3EE;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton4{
    position: absolute;
    left: 850px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;	
	
}

.botton5{
    position: absolute;
    left: 0px;
    padding: 10px 10px;
    background-color: #A8D9E8;
    text-decoration: none;
    color: #117777;
    border-radius: 10px;	
	
}
table{
    width: 50%;
	
    border:3px solid  #3366CC;//blue
    font:14pt "Angsana New";
}
</style>



{%if user.is_staff %}
<a href="{% url 'group2:profile_admin' studentObj.std_id %}" class="botton1">ประวัติส่วนตัว</a>
<a href="{% url 'group2:regis_result_admin' studentObj.std_id %}" class="botton2">ผลการลงทะเบียน</a>
<a href="{% url 'group2:viyanipon_admin' studentObj.std_id %}" class="botton3">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>
<a href="{% url 'group2:admin_look_school_record' studentObj.std_id %}" class="botton4">ผลการเรียน</a>
<br><br>


<center>
		
			
			<table>
		<tr>
			
			<td><br><b>เลขประจำตัว</b>   </td>
			<td><br> {{ studentObj.std_id }}  </td>
		</tr>
		<tr>
			<td> <b>ชื่อ - นามสกุล</b></td>
			<td>{{ studentObj.userprofile.firstname_th }}&nbsp{{ studentObj.userprofile.lastname_th }}</td>
		</tr>
		<tr>
			<td><b>แผนการเรียน</b></td>

			<td>
			<script>
			x = {{ studentObj.plan }}
			if (x == 0) {
				document.write('')
			}
			else if (x == 1){
				document.write('ป.โท แผน ก แบบ ก 2 ปกติ')
			}
			else if (x == 2){
				document.write('ป.โท แผน ก แบบ ก 2 สหกิจศึกษา')
			}
			else if (x == 3){
				document.write('ป.เอก แผน 1 แบบ 1.1')
			}
			else if (x == 4){
				document.write('ป.เอก แผน 1 แบบ 1.2')
			}
			else if (x == 5){
				document.write('ป.เอก แผน 2 แบบ 2.1')
			}
			else if (x == 6){
				document.write('ป.เอก แผน 2 แบบ 2.2')
			}
</script></td>
		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>

			<td>
				<b>ตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์</b>
			</td>

{%for i in table_show %}
{%csrf_token%}
<td><font color="#66CC00">{{i.Teacher}}</font></td>
{%endfor%}
		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td  width="20%" valign="top"><b> เสนอวิทยานิพนธ์ เรื่อง</b></td>
			
{%for i in table_show %}
{%csrf_token%}
<td> ชื่อภาษาไทย&nbsp&nbsp&nbsp&nbsp&nbsp:<font color="#66CC00">{{i.Offer_th}}</font></td>
{%endfor%}

	    </tr>	
		<tr>
		<td></td>

{%for i in table_show %}
{%csrf_token%}
<td>ชื่อภาษาอังกฤษ&nbsp:&nbsp<font color="#66CC00">{{i.Offer_en}}</font></td>
{%endfor%}
        </tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องลงทะเบียนวิทยานิพนธ์ไม่น้อยกว่า  3  หน่วยกิตในภาคการศึกษานั้น ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td><b> สอบหัวข้อวิทยานิพนธ์</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Test}}</font></td>
			{%endfor%}
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องดำเนินการให้แล้วเสร็จภายใน  30  วันหลังจากแต่งตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์และอนุมัติโครการวิทยานิพนธ์ที่เสนอ ***</font></td>

		</tr>

		
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="26%"><b> สอบความก้าวหน้าวิทยานิพนธ์&nbsp;</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Advance_Test}}</font></td>
			{%endfor%}
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>
		</tr>

<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="21%"><b> สอบป้องกันวิทยานิพนธ์</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Protect_Test}}</font></td>
			{%endfor%}			
			
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">****หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		</table>
		
		<br><br><br><br>
{%else%}
{%if studentObj.degree != '0'%}
<a href="{% url 'group2:profile' %}" class="botton1">ประวัติส่วนตัว</a>
<a href="{% url 'group2:regis_result' %}" class="botton2">ผลการลงทะเบียน</a>
<a href="{% url 'group2:viyanipon' %}" class="botton3">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>
<a href="{% url 'group2:edit_viyanipon' %}" class="botton5">เพิ่ม/แก้ไข</a>
<br>
<br>


<center>
		
			
			<table>
		<tr>
			
			<td><br><b>เลขประจำตัว</b>   </td>
			<td><br> {{ studentObj.std_id }}  </td>
		</tr>
		<tr>
			<td> <b>ชื่อ - นามสกุล</b></td>
			<td>{{ studentObj.userprofile.firstname_th }}&nbsp{{ studentObj.userprofile.lastname_th }}</td>
		</tr>
		<tr>
			<td><b>แผนการเรียน</b></td>

			<td>
			<script>
			x = {{ studentObj.plan }}
			if (x == 0) {
				document.write('')
			}
			else if (x == 1){
				document.write('ป.โท แผน ก แบบ ก 2 ปกติ')
			}
			else if (x == 2){
				document.write('ป.โท แผน ก แบบ ก 2 สหกิจศึกษา')
			}
			else if (x == 3){
				document.write('ป.เอก แผน 1 แบบ 1.1')
			}
			else if (x == 4){
				document.write('ป.เอก แผน 1 แบบ 1.2')
			}
			else if (x == 5){
				document.write('ป.เอก แผน 2 แบบ 2.1')
			}
			else if (x == 6){
				document.write('ป.เอก แผน 2 แบบ 2.2')
			}
</script></td>
		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>

			<td>
				<b>ตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์</b>
			</td>

{%for i in table_show %}
{%csrf_token%}
<td><font color="#66CC00">{{i.Teacher}}</font></td>
{%endfor%}
		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td  width="20%" valign="top"><b> เสนอวิทยานิพนธ์ เรื่อง</b></td>
			
{%for i in table_show %}
{%csrf_token%}
<td> ชื่อภาษาไทย&nbsp&nbsp&nbsp&nbsp&nbsp:<font color="#66CC00">{{i.Offer_th}}</font></td>
{%endfor%}

	    </tr>	
		<tr>
		<td></td>

{%for i in table_show %}
{%csrf_token%}
<td>ชื่อภาษาอังกฤษ&nbsp:&nbsp<font color="#66CC00">{{i.Offer_en}}</font></td>
{%endfor%}
        </tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องลงทะเบียนวิทยานิพนธ์ไม่น้อยกว่า  3  หน่วยกิตในภาคการศึกษานั้น ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td><b> สอบหัวข้อวิทยานิพนธ์</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Test}}</font></td>
			{%endfor%}
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องดำเนินการให้แล้วเสร็จภายใน  30  วันหลังจากแต่งตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์และอนุมัติโครการวิทยานิพนธ์ที่เสนอ ***</font></td>

		</tr>

		
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="26%"><b> สอบความก้าวหน้าวิทยานิพนธ์&nbsp;</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Advance_Test}}</font></td>
			{%endfor%}
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>
		</tr>

<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		<tr>
			<td width="21%"><b> สอบป้องกันวิทยานิพนธ์</b></td>
			{%for i in table_show %}
			{%csrf_token%}
			<td><font color="#66CC00">{{i.Protect_Test}}</font></td>
			{%endfor%}			
			
		</tr>
		<tr>
			<td></td>
			<td><font color="#FF0000">****หมายเหตุ  ต้องได้รับอนุมัติหัวข้อวิทยานิพนธ์เเล้วไม่น้อยกว่า  240 วัน ***</font></td>

		</tr>
<tr><td><br></td><td><br></td></tr>
<tr><td><br></td><td><br></td></tr>
		</table>
		
		<br><br><br><br>



{%endif%}
{%endif%}
{% endblock %}