<meta charset="UTF-8">

{% extends "base.html" %}
{% block head %}
    <style>
		
    </style>
{% endblock %}

{% block title %}วิทยานิพนธ์{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">ประวัตินักศึกษา</li>
</ol>
{% endblock %}

{% block content %}

<style>

#bod{
	white-space:nowrap;
	margin:  0px 0% 0%;
	padding: 0px 340px 0px;
	background-color:#FFFFFF;
	}

.botton1{
    position: absolute;
    left: 346px;
    padding: 10px 10px;
    background-color: #3366CC;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton2{
    position: absolute;
    left: 442px;
    padding: 10px 10px;
    background-color: #5964ff;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton3{
    position: absolute;
    left: 546px;
    padding: 10px 10px;
    background-color: #6fa3ff;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton4{
    position: absolute;
    left: 665px;
    padding: 10px 10px;
    background-color: #66CCFF;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}
</style>

{% if currentUser.type = "0" %}
<a href="{% url 'group2:profile' %}" class="botton1">ประวัติส่วนตัว</a>
<a href="{% url 'group2:data_student' %}" class="botton2">ข้อมูลนักศึกษา</a>
<a href="{% url 'group2:regis_result' %}" class="botton3">ผลการลงทะเบียน</a>
<a href="{% url 'group2:viyanipon' %}" class="botton4">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>
{% endif %}
{% if currentUser.type != "0" %}
<a href="{% url 'group2:profile_admin' studentObj.std_id %}" class="botton1">ประวัติส่วนตัว</a>
<a href="{% url 'group2:data_student_admin' studentObj.std_id %}" class="botton2">ข้อมูลนักศึกษา</a>
<!--a href="{% url 'group2:regis_result_admin' studentObj.std_id %}" class="botton3">ผลการลงทะเบียน</a-->
<a href="{% url 'group2:viyanipon_admin' studentObj.std_id %}" class="botton4">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>
{% endif %}

<br>
<br>


<body>
	<table align="center" style="width:60%"><!--border="1">-->
		<form method = "post" action="{% url 'group2:viyaniponshow' %}">
			{%csrf_token%}
		<tr>
			<td></td>
			<td>เลขประจำตัว   </td>
			<td> {{ studentObj.std_id }}  </td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>{{ studentObj.userprofile.firstname_th }}&nbsp{{ studentObj.userprofile.lastname_th }}</td>
		</tr>
		<tr>
			<td></td>
			<td>เรียน</td>
			<td>
			<script>
				x = {{ studentObj.degree }}
				if (x == '1') {
					document.write('มหาบัณฑิต   :  ปริญญาโท')
				}
				else if (x == '2'){
					document.write('ดุษฎีบัณฑิต  :  ปริญญาเอก')
				}
			</script></td>
		</tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		{%for i in table_show%}
		{%if i.teach_name == 'true' and i.std_id == studentObj.std_id %}
		<tr>
			<!-------------------------------------------------------------->
			<td></td>
			<td>
				อาจารย์ที่ปรึกษาวิทยานิพนธ์	<!-------------------------------------------------------------->
			</td>
			<td>
				{%if i.adviser == '1'%}
					ศาสตราจารย์  ประยุทธ อัครเอกฒาลิน
				{%elif i.adviser == '2'%}
					รองศาสตราจารย์  วิบูลย์  ชื่นแขก
				{%elif i.adviser == '3'%}
					ผู้ช่วยศาสตราจารย์  อภิบาล  พฤกษานุบาล
				{%elif i.adviser == '4'%}
					ผู้ช่วยศาสตราจารย์  บัลลังก์  เนียมมณี
				{%elif i.adviser == '5'%}
					อาจารย์  ศราวุธ  ชัยมูล
				{%elif i.adviser == '6'%}
					ผู้ช่วยศาสตราจารย์  วิไลพร  แซ่ลี้
				{%elif i.adviser == '7'%}
					ผู้ช่วยศาสตราจารย์  ธีรธรรม  บุณยะกุล
				{%elif i.adviser == '8'%}
					ผู้ช่วยศาสตราจารย์  พิสิษฐ์  ลิ่วธนกุล
				{%elif i.adviser == '9'%}
					ผู้ช่วยศาสตราจารย์  สมพร  สิริสำราญนุกูล
				{%elif i.adviser == '10'%}
					ผู้ช่วยศาสตราจารย์  ชาตรี  มหัทธนจาตุภัทร
				{%elif i.adviser == '11'%}
					อาจารย์  เอกรัฐ  บุญภูงา
				{%elif i.adviser == '12'%}
					อาจารย์  นพดล  ฉาบแก้ว
				{%elif i.adviser == '13'%}
					อาจารย์  เพ็ญนภา ไพโรจน์อมรชัย
				{%elif i.adviser == '14'%}
					อาจารย์  พิสิฐ  วนิชชานันท์
				{%elif i.adviser == '15'%}
					รองศาสตราจารย์  สุขสันติ์  นุ่นงาม
				{%elif i.adviser == '16'%}
					รองศาสตราจารย์  วรา  วราวิทย์
				{%elif i.adviser == '17'%}
					รองศาสตราจารย์  ณชล  ไชยรัตนะ
				{%elif i.adviser == '18'%}
					รองศาสตราจารย์  พงษ์ศักดิ์  กีรติวินทกร
				{%elif i.adviser == '19'%}
					รองศาสตราจารย์  ธีรพล เดโชเกียรติถวัลย์
				{%elif i.adviser == '20'%}
					รองศาสตราจารย์  ไชยันต์  สุวรรณชีวะศิริ
				{%elif i.adviser == '21'%}
					adviser1 = "รองศาสตราจารย์  เวช  วิเวก
				{%elif i.adviser == '22'%}
					รองศาสตราจารย์  มนูญ  พ่วงพูล"
				{%elif i.adviser == '23'%}
					ผู้ช่วยศาสตราจารย์  ศิริชัย  รุจิพัฒนพงศ์
				{%elif i.adviser == '24'%}
					ผู้ช่วยศาสตราจารย์  ศราวุฒิ  คลี่สุวรรณ์
				{%elif i.adviser == '25'%}
					ผู้ช่วยศาสตราจารย์  สิทธิพร  เกิดสำอางค์
				{%elif i.adviser == '26'%}
					อาจารย์  เรวัต  ศิริโภคาภิรมย์
				{%else%}
				{%endif%}
			</td>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		<tr>
			<td></td>
			<td>
				ตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์
			</td>
			<td>
		  		<label for="adviser"> ชื่ออาจารย์ </label>
		  		<select name="adviser" id="adviser">
					<option value="0">-----</option>
					<option value="1">ศาสตราจารย์  ประยุทธ อัครเอกฒาลิน</option>
					<option value="2">รองศาสตราจารย์  วิบูลย์  ชื่นแขก</option>
					<option value="3">ผู้ช่วยศาสตราจารย์  อภิบาล  พฤกษานุบาล</option>
					<option value="4">ผู้ช่วยศาสตราจารย์  บัลลังก์  เนียมมณี</option>
					<option value="5">อาจารย์  ศราวุธ  ชัยมูล</option>
					<option value="6">ผู้ช่วยศาสตราจารย์  วิไลพร  แซ่ลี้</option>
					<option value="7">ผู้ช่วยศาสตราจารย์  ธีรธรรม  บุณยะกุล</option>
					<option value="8">ผู้ช่วยศาสตราจารย์  พิสิษฐ์  ลิ่วธนกุล</option>
					<option value="9">ผู้ช่วยศาสตราจารย์  สมพร  สิริสำราญนุกูล</option>
					<option value="10">ผู้ช่วยศาสตราจารย์  ชาตรี  มหัทธนจาตุภัทร</option>
					<option value="11">อาจารย์  เอกรัฐ  บุญภูงา</option>
					<option value="12">อาจารย์  นพดล  ฉาบแก้ว</option>
					<option value="13">อาจารย์  เพ็ญนภา ไพโรจน์อมรชัย</option>
					<option value="14">อาจารย์  พิสิฐ  วนิชชานันท์</option>
					<option value="15">รองศาสตราจารย์  สุขสันติ์  นุ่นงาม</option>
					<option value="16">รองศาสตราจารย์  วรา  วราวิทย์</option>
					<option value="17">รองศาสตราจารย์  ณชล  ไชยรัตนะ</option>
					<option value="18">รองศาสตราจารย์  พงษ์ศักดิ์  กีรติวินทกร</option>
					<option value="19">รองศาสตราจารย์  ธีรพล เดโชเกียรติถวัลย์</option>
					<option value="20">รองศาสตราจารย์  ไชยันต์  สุวรรณชีวะศิริ</option>
					<option value="21">รองศาสตราจารย์  เวช  วิเวก</option>
					<option value="22">รองศาสตราจารย์  มนูญ  พ่วงพูล</option>
					<option value="23">ผู้ช่วยศาสตราจารย์  ศิริชัย  รุจิพัฒนพงศ์</option>
					{%if studentObj.degree == '1'%}
					<option value="24">ผู้ช่วยศาสตราจารย์  ศราวุฒิ  คลี่สุวรรณ์</option>
					<option value="25">ผู้ช่วยศาสตราจารย์  สิทธิพร  เกิดสำอางค์</option>
					<option value="26">อาจารย์  เรวัต  ศิริโภคาภิรมย์</option>
					{%endif%}
		  		</select>
			</td>

		</tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr>
			{%for s in table_name%}
			{%if s.name == 'true' and s.std_id == studentObj.std_id%}	<!-------------------------------------------------------------->
			<td></td>
				<td  width="20%" valign="top">วิทยานิพนธ์ เรื่อง</td>	<!-------------------------------------------------------------->
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>ชื่อภาษาไทย   {{s.name_thai}}</td><!-------------------------------------------------------------->
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>ชื่อภาษาอังกฤษ   {{s.name_eng}}</td><!-------------------------------------------------------------->
		</tr>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
			<tr><td>&nbsp;&nbsp;</td></tr>
		<tr>
			{%for j in table_show%}
			{%if j.adviser != '0' and j.std_id == studentObj.std_id %}
			<td></td>
			<td  width="20%" valign="top">เสนอวิทยานิพนธ์ เรื่อง</td>
			<td><textarea name="name_thai" cols="60" rows="2" placeholder="ชื่อภาษาไทย"></textarea></td>
		</tr>
		<tr>
			<td valign="top">&nbsp;</td>
			<td></td>
			<td><textarea name="name_eng" cols="60" rows="2" placeholder="ชื่อภาษาอังกฤษ"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td valign="top">&nbsp;</td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องลงทะเบียนวิทยานิพนธ์ไม่น้อยกว่า  3  หน่วยกิตในภาคการศึกษานั้น ***</font></td>
			{%endif%}
			{%endfor%}
		</tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr>
			{%for k in table_project%}
			{%if k.project_name == 'true' and k.std_id == studentObj.std_id %}	<!-------------------------------------------------------------->
			<td></td>
			<td>สอบหัวข้อวิทยานิพนธ์</td>	<!-------------------------------------------------------------->
			<td>วันที่
		  		{{k.name_day}}	<!-------------------------------------------------------------->
				เดือน
		  		{{k.name_month}}	<!-------------------------------------------------------------->
				ปี
				{{k.name_year}}
			</td>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		<tr>
			{%for x in table_name%}
			{%if x.name == 'true' and x.std_id == studentObj.std_id %}	<!-------------------------------------------------------------->
			<td></td>
			<td>สอบหัวข้อวิทยานิพนธ์</td>
			<td>วันที่
		  		<select name="name_day" id="day">
					<option value="0">--</option>
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
					<option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
					<option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option>
					<option value="29">29</option><option value="30">30</option><option value="31">31</option>
				</select>
				เดือน
		  		<select name="name_month" id="month">
					<option value="0">-----</option>
					<option value="มกราคม">มกราคม</option>
					<option value="กุมภาพันธ์">กุมภาพันธ์</option>
					<option value="มีนาคม">มีนาคม</option>
					<option value="เมษายน">เมษายน</option>
					<option value="พฤษภาคม">พฤษภาคม</option>
					<option value="มิถุนายน">มิถุนายน</option>
					<option value="กรกฏาคม">กรกฏาคม</option>
					<option value="สิงหาคม">สิงหาคม</option>
					<option value="กันยายน">กันยายน</option>
					<option value="ตุลาคม">ตุลาคม</option>
					<option value="พฤศจิกายน">พฤศจิกายน</option>
					<option value="ธันวาคม">ธันวาคม</option>
			  	</select>
				ปี
				<select name="name_year" id="year">
					<option value="0">----</option>
					<option value="2565">2565</option>
					<option value="2564">2564</option>
					<option value="2563">2563</option>
					<option value="2562">2562</option>
					<option value="2561">2561</option>
					<option value="2560">2560</option>
					<option value="2559">2559</option>
					<option value="2558">2558</option>
					<option value="2557">2557</option>
					<option value="2556">2556</option>
				</select>

			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ  ต้องดำเนินการให้แล้วเสร็จภายใน  30  วันหลังจากแต่งตั้งอาจารย์ที่ปรึกษาวิทยานิพนธ์และอนุมัติโครการวิทยานิพนธ์ที่เสนอ ***</font></td>
			{%endif%}			<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr>
			{%for l in table_test%}
			{%if l.test == 'true' and l.std_id == studentObj.std_id %}	<!-------------------------------------------------------------->
			<td></td>
			<td>สอบความก้าวหน้าวิทยานิพนธ์</td>	<!-------------------------------------------------------------->
			<td>วันที่
		  		{{l.test_day}}	<!-------------------------------------------------------------->
				เดือน
		  		{{l.test_month}}	<!-------------------------------------------------------------->
				ปี
				{{l.test_year}}
			</td>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		</table>
		<table align="center" style="width:60%"><!--border="1">-->
		<tr>{%for d in table_project%}
			{%if d.project_name == 'true' and d.std_id == studentObj.std_id%}	<!-------------------------------------------------------------->
			<td></td>
			<td width="26%">สอบความก้าวหน้าวิทยานิพนธ์&nbsp;</td>
			<td>
				วันที่
				<select name="test_day" id="day">
					<option value="0">--</option>
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
					<option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
					<option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option>
					<option value="29">29</option><option value="30">30</option><option value="31">31</option>
				</select>
				เดือน
				<select name="test_month" id="month">
					<option value="0">-----</option>
					<option value="มกราคม">มกราคม</option>
					<option value="กุมภาพันธ์">กุมภาพันธ์</option>
					<option value="มีนาคม">มีนาคม</option>
					<option value="เมษายน">เมษายน</option>
					<option value="พฤษภาคม">พฤษภาคม</option>
					<option value="มิถุนายน">มิถุนายน</option>
					<option value="กรกฏาคม">กรกฏาคม</option>
					<option value="สิงหาคม">สิงหาคม</option>
					<option value="กันยายน">กันยายน</option>
					<option value="ตุลาคม">ตุลาคม</option>
					<option value="พฤศจิกายน">พฤศจิกายน</option>
					<option value="ธันวาคม">ธันวาคม</option>
				</select>
				ปี
				<select name="test_year" id="year">
					<option value="0">----</option>
					<option value="2565">2565</option>
					<option value="2564">2564</option>
					<option value="2563">2563</option>
					<option value="2562">2562</option>
					<option value="2561">2561</option>
					<option value="2560">2560</option>
					<option value="2559">2559</option>
					<option value="2558">2558</option>
					<option value="2557">2557</option>
					<option value="2556">2556</option>
				</select
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><font color="#FF0000">***หมายเหตุ ***</font></td>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr>
			{%for m in table_testend%}
			{%if m.testend == 'true' and m.std_id == studentObj.std_id %}	<!-------------------------------------------------------------->
			<td></td>
			<td>สอบป้องกันวิทยานิพนธ์</td>	<!-------------------------------------------------------------->
			<td>วันที่
		  		{{m.testend_day}}    	<!-------------------------------------------------------------->
				เดือน
		  		{{m.testend_month}}    	<!-------------------------------------------------------------->
				ปี
				{{m.testend_year}}
			</td>
			{%endif%}	<!-------------------------------------------------------------->
			{%endfor%}
		</tr>
		</table>
		<table align="center" style="width:60%"><!--border="1">-->
			<tr>{%for e in table_test %}
				{%if e.test == 'true' and e.std_id == studentObj.std_id %}	<!-------------------------------------------------------------->
				<td></td>
				<td width="21%">สอบป้องกันวิทยานิพนธ์</td>
				<td>วันที่
				<select name="testend_day" id="day">
					<option value="0">--</option>
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
					<option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
					<option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option>
					<option value="29">29</option><option value="30">30</option><option value="31">31</option>
				</select>
				เดือน
				<select name="testend_month" id="month">
					<option value="0">-----</option>
					<option value="มกราคม">มกราคม</option>
					<option value="กุมภาพันธ์">กุมภาพันธ์</option>
					<option value="มีนาคม">มีนาคม</option>
					<option value="เมษายน">เมษายน</option>
					<option value="พฤษภาคม">พฤษภาคม</option>
					<option value="มิถุนายน">มิถุนายน</option>
					<option value="กรกฏาคม">กรกฏาคม</option>
					<option value="สิงหาคม">สิงหาคม</option>
					<option value="กันยายน">กันยายน</option>
					<option value="ตุลาคม">ตุลาคม</option>
					<option value="พฤศจิกายน">พฤศจิกายน</option>
					<option value="ธันวาคม">ธันวาคม</option>
				</select>
				ปี
				<select name="testend_year" id="year">
					<option value="0">----</option>
					<option value="2565">2565</option>
					<option value="2564">2564</option>
					<option value="2563">2563</option>
					<option value="2562">2562</option>
					<option value="2561">2561</option>
					<option value="2560">2560</option>
					<option value="2559">2559</option>
					<option value="2558">2558</option>
					<option value="2557">2557</option>
					<option value="2556">2556</option>
				</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td><font color="#FF0000">***หมายเหตุ ***</font></td>
				{%endif%}	<!-------------------------------------------------------------->
				{%endfor%}
			</tr>
			<tr><td>&nbsp;&nbsp;</td></tr>
		</table>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
		<input type="submit" class="btn btn-success" value="save">
		<br><br><br><br>
	</form>
</body>
{% endblock %}
