<meta charset="UTF-8">
{% extends "base.html" %}

{% block head %}
    <style>
		
    </style>
{% endblock %}

{% block title %}ประวัตินักศึกษา{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">ประวัตินักศึกษา</li>
</ol>
{% endblock %}

{% block content %}
<style>

#bod{
	white-space:nowrap;
	margin:  0px 0% 0%;
	padding: 0px 340px 0px;
	background-color:#FFFFFF;
	}

.botton1{
    position: absolute;
    left: 346px;
    padding: 10px 10px;
    background-color: #3366CC;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton2{
    position: absolute;
    left: 442px;
    padding: 10px 10px;
    background-color: #5964ff;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton3{
    position: absolute;
    left: 546px;
    padding: 10px 10px;
    background-color: #6fa3ff;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.botton4{
    position: absolute;
    left: 665px;
    padding: 10px 10px;
    background-color: #66CCFF;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}
</style>

<a href="{% url 'group2:profile' %}" class="botton1"> ประวัติส่วนตัว ></a>
<a href="{% url 'group2:data_student' %}" class="botton2">ข้อมูลนักศึกษา</a>
<a href="{% url 'group2:regis_result' %}" class="botton3">ผลการลงทะเบียน</a>
<a href="{% url 'group2:viyanipon' %}" class="botton4">การทำวิทยานิพนธ์เเละการสอบวิทยานิพนธ์</a>

<br>
<br>
<br>
<br>
<br>
<center>
<!--h1>Viyanipon</h1-->
</center>
<body>
	<form method="post" action="{% url 'group2:viyaniponadmin' %}">
        <table align="center" style="width:30%">
            {% csrf_token %}
            <tr>
                <td>ค้นหา&nbsp&nbsp;</td>
                <td>
                    <textarea name="search" cols="13" rows="1" placeholder="รหัสนักศึกษา" required=""></textarea>
                </td>
            </tr>
        </table>
        <br><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
        <input type="submit" class="btn btn-success" value="ค้นหา">
        <br><br><br><br>
    </form>
</body>
{% endblock %}