{% extends "start_base.html" %}
{% load staticfiles %}
{% block title %}Database ระบบสารสนเทศ{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row">
            <div class="container">
                <h1><span class="glyphicon glyphicon-user"></span> {{ user.username }}</h1>
                <a class="btn btn-default" href="{% url 'login:menu' %}">Menu</a><br />
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="container-fluid">
                <main id="content" class="ismartuby-masthead" tabindex="-1" role="main">
                    <p class="container">
                    <img src="{% static 'images/ece_logo_edit.gif' %}" height="200px">
                    <p class="lead-brand">e-Office ECE</p>
                    <p class="lead">สำนักงานอิเล็กทรอนิกส์ ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์<br/>
                    คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</p>
                    <a class="btn btn-success btn-lg" href="{% url 'login:register' %}">ลงทะเบียน</a>
                    <p class="lead lead-label">สำหรับนักศึกษา</p>
                </main>
            </div>
        </div>

        <div class="row">
            <div class="container">


            </div>
        </div>
    {% endif %}

{% endblock %}

























