{% extends "base.html" %}

{% block title %}Menu เมนู{% endblock %}

{% block pageHeader %}<h1>Menu <small>เมนู</small></h1>{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>App <small>group1</small></h4>
                </div>
                <div class="panel-body">
                    ...
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>App <small>group2</small></h4>
                </div>
                <div class="panel-body">
                    ...
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>งานสอน</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group3:prof2lang_index' %}">อาจารย์สองภาษา</a><br>
                    <a href="#">พนักงานรายชั่วโมง</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>การเบิกจ่ายค่ารักษาพยาบาล</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group4:adminShow' %}">สถิติการเบิกค่ารักษาพยาบาล</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>App <small>group5</small></h4>
                </div>
                <div class="panel-body">
                    ...
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group6:project_docs_index' %}">ฟอร์มเสนอโครงงานที่สร้างไว้</a><br>
                    <a href="{% url 'group6:project_docs_create_3forms' %}">สร้างฟอร์มเสนอโครงงานใหม่</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>App <small>group7</small></h4>
                </div>
                <div class="panel-body">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
