{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Menu เมนู{% endblock %}

{% block pageHeader %}<h1>Menu <small>เมนู</small></h1>{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>งานสารบัญ</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group1:upload_file' %}">อัพโหลดเอกสาร</a><br>
                    <a href="{% url 'group1:search_file' %}">ค้นหาเอกสาร</a><br>
                    <a href="{% url 'group1:add_category' %}">เพิ่มหมวดของเอกสาร</a><br>
                    <a href="{% url 'group1:add_people' %}">เพิ่มผู้ได้รับมอบหมาย</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>นักศึกษาปริญญาโท, ปริญญาเอก</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group2:profile' %}">ประวัตินักศึกษา</a><br>
                    <a href="{% url 'group2:registeration' %}">ลงทะเบียน</a><br>
					<a href="{% url 'group2:school_record' %}">ผลการเรียน</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>งานสอน</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group3:prof2lang_index' %}">อาจารย์สองภาษา</a><br>
                    <a href="{% url 'group3:hour_index' %}">พนักงานรายชั่วโมง</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>การเบิกจ่ายค่ารักษาพยาบาล</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group4:adminShow' %}">สถิติการเบิกค่ารักษาพยาบาล</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>App <small>group5</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group5:addpet' %}">แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน</a><br>
                    <a href="{% url 'group5:status' %}">ตรวจสอบสถานะการฝึกงาน</a><br>
                    <a href="{% url 'group5:company' %}">รายชื่อบริษัทฝึกงาน</a><br>
                    <a href="{% url 'group5:form1' %}">รายชื่อนักศึกษาที่รอการตรวจสอบใบคำร้องขอล่าสุด</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group6:project_docs_index' %}">ฟอร์มเสนอโครงงานที่สร้างไว้</a><br>
                    <a href="{% url 'group6:project_docs_create_3forms' %}">สร้างฟอร์มเสนอโครงงานใหม่</a><br/>
                    <a href="{% static 'group6/template_ECE_.docx' %}">ตัวอย่างรูปเล่มโปรเจค</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>ระบบ <small>เบิกจ่ายอุปกรณ์ทำโปรเจ็ค</small></h4>
                </div>
                <div class="panel-body">
                    <a href="{% url 'group7:index' %}">รายชื่อโปรเจ็ค</a><br>
                    <a href="{% url 'group7:summary' %}">สรุป</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
