{% extends "start_base.html" %}
{% load staticfiles %}

{% block title %}.: ลงทะเบียน สำหรับนักศึกษา :.{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="page-header">
            <h2>ลงทะเบียน <small>สำหรับนักศึกษา</small></h2>
        </div>

        <form class="form-horizontal" method="post" action="{% url 'login:register' %}">
            {% csrf_token %}

            <!-- 1. username -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> Username:</label>
                <div class="col-sm-9">
                    <input type="text" name="username" value="{{username}}" pattern="[A-Za-z0-9_]{1,}" class="form-control" placeholder="username" maxlength="30" title="กรุณากรอก Username ห้ามเว้นวรรค" required>
                </div>
            </div>

            <!-- 2. std_id -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> รหัสนักศึกษา:</label>
                <div class="col-sm-9">
                    <input type="text" name="std_id" value="{{std_id}}" pattern="[0-9]{13}" class="form-control" maxlength="13" placeholder="รหัสนักศึกษา" title="กรุณากรอกรหัสนักศึกษา 13 หลัก ห้ามเว้นวรรค ห้ามใส่เครื่องหมาย -" required>
                </div>
            </div>

            <script>
                function genPrefix(s1, s2, s3){
                    var s1 = document.getElementById(s1);
                    var s2 = document.getElementById(s2);
                    var s3 = document.getElementById(s3);
                    s2.innerHTML = "";
                    s3.innerHTML = "";
                    var newOption = document.createElement("option");
                    var sexOption = document.createElement("option");
                    if(s1.value == "0"){
                        newOption.value = "0";
                        newOption.text = "Mr.";
                        sexOption.value = "0";
                        sexOption.text = "ชาย";
                    }
                    else if(s1.value == "1"){
                        newOption.value = "1";
                        newOption.text = "Mrs.";
                        sexOption.value = "1";
                        sexOption.text = "หญิง";
                    }
                    else if(s1.value == "2"){
                        newOption.value = "2";
                        newOption.text = "Miss.";
                        sexOption.value = "1";
                        sexOption.text = "หญิง";
                    }
                    s2.options.add(newOption);
                    s3.options.add(sexOption);
                }

                var orig_default = -1;
                function setDefault(sel_id) {
                    if (orig_default < 0) {
                        orig_default = document.getElementById(sel_id).selectedIndex;
                    }
                }

                function testReset(sel_id) {
                    if (orig_default >= 0) {
                        document.getElementById(sel_id).selectedIndex = orig_default;
                    }
                }
            </script>

            <!-- 23. prefix_name -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> คำนำหน้าชื่อภาษาไทย:</label>
                <div class="col-sm-9">
                    <select name="prefix_name" id="prefix_th" class="form-control" title="คำนำหน้าชื่อ" onclick="genPrefix('prefix_th','prefix_en','sex')" onbeforeunload=setDefault('prefix_th'); required>
                        <option value="">กรุณาเลือก</option>
                        <option value="0">นาย</option>
                        <option value="1">นาง</option>
                        <option value="2">นางสาว</option>
                    </select>
                </div>
            </div>

            <!-- 3. firstname_th -->
            <!-- 4. lastname_th -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ชื่อ-นามสกุล ภาษาไทย:</label>
                <div class="col-sm-9">
                    <input type="text" name="firstname_th" value="{{firstname_th}}" class="form-control" maxlength="100" placeholder="ชื่อจริง" title="กรุณากรอกชื่อจริงเป็นภาษาไทย" required>
                    <input type="text" name="lastname_th" value="{{lastname_th}}" class="form-control" maxlength="100" placeholder="นามสกุล" title="กรุณากรอกนามสกุลเป็นภาษาไทย" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> คำนำหน้าชื่อภาษาอังกฤษ:</label>
                <div class="col-sm-9">
                    <select name="prefix_name_en" id="prefix_en" class="form-control" title="Prefix" disabled required>

                    </select>
                </div>
            </div>

            <!-- 5. firstname_en -->
            <!-- 6. lastname_en -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ชื่อ-นามสกุล ภาษาอังกฤษ:</label>
                <div class="col-sm-9">
                    <input type="text" name="firstname_en" value="{{firstname_en}}" pattern="[A-Za-z]{1,}" class="form-control" placeholder="First Name" maxlength="30" title="กรุณากรอกชื่อจริงเป็นภาษาอังกฤษ ห้ามเว้นวรรค" required>
                    <input type="text" name="lastname_en" value="{{lastname_en}}" pattern="[A-Za-z]{1,}" class="form-control" placeholder="Last Name" maxlength="30" title="กรุณากรอกนามสกุลเป็นภาษาอังกฤษ ห้ามเว้นวรรค" required>
                </div>
            </div>

            <!-- 16. sex -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> เพศ:</label>
                <div class="col-sm-9">
                    <select name="sex" id="sex" class="form-control" title="เพศ" required disabled>

                    </select>
                </div>
            </div>

            <!-- 18. id_number -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> เลขประจำตัวประชาชน:</label>
                <div class="col-sm-9">
                    <input type="text" name="id_number" value="{{id_number}}" pattern="[0-9]{13}" class="form-control" maxlength="13" placeholder="เลขประจำตัวประชาชน" title="กรุณากรอกเลขประจำตัวประชาชน 13 หลัก ห้ามเว้นวรรค" required>
                </div>
            </div>

            <!-- 19. nationality -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> เชื้อชาตื:</label>
                <div class="col-sm-9">
                    <input type="text" name="nationality" value="{{nationality}}" class="form-control" maxlength="50" placeholder="เชื้อชาติ" title="เชื้อชาติ" required>
                </div>
            </div>

            <!-- 20. religion -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ศาสนา:</label>
                <div class="col-sm-9">
                    <input type="text" name="religion" value="{{religion}}" class="form-control" maxlength="50" placeholder="ศาสนา" title="ศาสนา" required>
                </div>
            </div>

            <!-- 21. blood_type -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> หมู่เลือด:</label>
                <div class="col-sm-9">
                    <select name="blood_type" class="form-control" title="หมู่เลือด" required>
                        <option value="">กรุณาเลือก</option>
                        <option value="0">O</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">AB</option>
                    </select>
                </div>
            </div>

            <script>
                $(function(){
                    $( "#birthDate" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd-mm-yy', // รูปแบบการแสดงผล วัน-เดือน-ปี
                        yearRange: '-100:+0',   // ย้อนหลังไป 100 ปี
                    });
                });
            </script>

            <!-- 22. birthDate -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> วันเกิด:</label>
                <div class="col-sm-9">
                    <input type="text" name="birthDate" id="birthDate" value="{{birthDate}}" class="form-control" placeholder="วันเกิด" title="วันเกิด" required>
                </div>
            </div>

            <!-- 7. address -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ที่อยู่:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" name="address" placeholder="ที่อยู่" title="กรุณากรอกที่อยู่" required>{{address}}</textarea>
                </div>
            </div>

            <!-- 8. office -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ที่ทำงาน:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" name="office" placeholder="ที่ทำงาน" title="กรุณากรอกที่ทำงาน" required>{{office}}</textarea>
                </div>
            </div>

            <!-- 9. email -->
            <div class="form-group">
                <label class="col-sm-3 control-label">E-mail:</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" value="{{email}}" placeholder="อีเมล">
                </div>
            </div>

            <!-- 10. tel 11. ext -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> เบอร์โทรศัพท์:</label>
                <div class="col-sm-7">
                    <input type="tel" name="tel" value="{{tel}}" pattern="[0-9]{9,10}" maxlength="10" class="form-control" placeholder="เบอร์โทรศัพท์" title="กรุณากรอกเบอร์โทรศัพท์ ห้ามใส่เครื่องหมาย - และห้ามเว้นวรรค" required>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="ext" value="{{ext}}" pattern="[0-9]{1,}" maxlength="10" class="form-control" placeholder="ต่อ" title="กรุณากรอกหมายเลข ห้ามใส่เครื่องหมาย - และห้ามเว้นวรรค">
                </div>
            </div>

            <script>
                function autoScheme(degree, scheme, plan){
                    var degree = document.getElementById(degree);
                    var scheme = document.getElementById(scheme);
                    var plan = document.getElementById(plan);
                    scheme.innerHTML = "";
                    plan.innerHTML = "";
                    if(degree.value == ''){
                        var schemeOption = ["|กรุณาเลือกระดับ"];
                    }
                    else if(degree.value == '0'){
                        var schemeOption = ["0|หลักสูตรปรับปรุง Cpr.E 54", "1|หลักสูตรปรับปรุง EE 51", "2|หลักสูตรปรับปรุง ECE 55"];
                        $('#planCollapse').collapse('hide');
                    }
                    else if(degree.value == '1'){
                        var schemeOption = ["3|หลักสูตรมหาบัณฑิต 55"];
                        $('#planCollapse').collapse('show');
                        var planOption = ["1|ป.โท แผน ก แบบ ก 2 ปกติ", "2|ป.โท แผน ก แบบ ก 2 สหกิจศึกษา"];
                    }
                    else if(degree.value == 2){
                        var schemeOption = ["4|หลักสูตรดุษฎีบัณฑิต 55"];
                        $('#planCollapse').collapse('show');
                        var planOption = ["3|ป.เอก แผน 1 แบบ 1.1", "4|ป.เอก แผน 1 แบบ 1.2", "5|ป.เอก แผน 2 แบบ 2.1", "6|ป.เอก แผน 2 แบบ 2.2"];
                    }

                    for(var option in schemeOption){
                        var pair = schemeOption[option].split("|");
                        var newOption = document.createElement("option");
                        newOption.value = pair[0];
                        newOption.text = pair[1];
                        scheme.options.add(newOption);
                    }

                    for(var option in planOption){
                        var pair = planOption[option].split("|");
                        var newOption = document.createElement("option");
                        newOption.value = pair[0];
                        newOption.text = pair[1];
                        plan.options.add(newOption);
                    }
                }
            </script>

            <!-- 17. degree -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ระดับ:</label>
                <div class="col-sm-9">
                    <select name="degree" id="degree" onclick="autoScheme('degree','scheme','plan')" class="form-control" title="ระดับ" required>
                        <option value="">กรุณาเลือก</option>
                        <option value="0">ปริญญาตรี</option>
                        <option value="1">ปริญญาโท</option>
                        <option value="2">ปริญญาเอก</option>
                    </select>
                </div>
            </div>

            <!-- 12. scheme  -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> หลักสูตร:</label>
                <div class="col-sm-9">
                    <select name="scheme" id="scheme" class="form-control" title="กรุณาเลือกหลักสูตรที่ศึกษา" required>

                    </select>
                    <p class="help-block">กรุณาเลือกระดับก่อน ตัวเลือกหลักสูตรจึงจะปรากฏ</p>
                </div>
            </div>

            <!-- 26 plan -->
            <div class="collapse" id="planCollapse">
                <div class="form-group">
                    <label class="col-sm-3 control-label">แผนการเรียน:</label>
                    <div class="col-sm-9">
                        <select name="plan" id="plan" class="form-control" title="กรุณาเลือกแผนการเรียน">

                        </select>
                        <p class="help-block">กรุณาเลือกระดับก่อน ตัวเลือกแผนการเรียนจึงจะปรากฏ</p>
                    </div>
                </div>
            </div>

            <!-- 13. main -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> สาขา:</label>
                <div class="col-sm-9">
                    <select name="main" class="form-control" title="กรุณาเลือกสาขาที่ศึกษา" required>
                        <option value="">กรุณาเลือก</option>
                        <option value="0">วิศวกรรมคอมพิวเตอร์</option>
                        <option value="1">วิศวกรรมไฟฟ้ากำลัง</option>
                        <option value="2">วิศวกรรมควบคุม</option>
                        <option value="3">วิศวกรรมไฟฟ้าสื่อสาร</option>
                    </select>
                </div>
            </div>

            <!-- 14. department -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> ภาควิชา:</label>
                <div class="col-sm-9">
                    <select name="department" class="form-control" title="กรุณาเลือกภาควิชา" required>
                        <option value="1">วิศวกรรมไฟฟ้าและคอมพิวเตอร์</option>
                    </select>
                </div>
            </div>

            <!-- 15. faculty -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> คณะ:</label>
                <div class="col-sm-9">
                    <select name="faculty" class="form-control" title="กรุณาเลือกคณะ" required>
                        <option value="1">วิศวกรรมศาสตร์</option>
                    </select>
                </div>
            </div>

            <!-- 24. password -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> Password:</label>
                <div class="col-sm-9">
                    <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!#$%&'()*+,./:;<=>?@\^_`{|}~-])[A-Za-z0-9!#$%&'()*+,./:;<=>?@\^_`{|}~-]{8,}" value="" class="form-control" placeholder="รหัสผ่าน" title="กรุณากรอกรหัสผ่าน" required>
                    <p class="help-block" style="color: red;">
                        กรอกรหัสผ่านอย่างน้อย 8 ตัวอักษร ที่ประกอบด้วยตัวเลข, ตัวอักษร และสัญลักษณ์ อย่างน้อยชนิดละ 1 ตัวอักษร<br/>
                        (หมายเหตุ: สามารถใช้สัญลักษณ์เหล่านี้ได้ ! # $ % & ' ( ) * + , . / : ; < = > ? @ \ ^ _ ` { | } ~ - ยกเว้น เครื่องหมาย " )
                    </p>
                </div>
            </div>

            <!-- 25. check_password -->
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">*</font> Password (อีกครั้ง):</label>
                <div class="col-sm-9">
                    <input type="password" name="check_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!#$%&'()*+,./:;<=>?@\^_`{|}~-])[A-Za-z0-9!#$%&'()*+,./:;<=>?@\^_`{|}~-]{8,}" value="" class="form-control" placeholder="รหัสผ่านอีกครั้ง" title="กรุณากรอกรหัสผ่านอีกครั้ง" required>
                </div>
            </div>

            <!-- save button -->
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-success" value="ตกลง"/>
                </div>
            </div>

        </form>

        <script type="text/javascript">
            {% if errors %}
                $(document).ready(function(){
                    $('#errors-modal').modal('show');
                });
            {% endif %}

            {% if registered %}
                $(document).ready(function(){
                    $('#registered-modal').modal('show');
                });
            {% endif %}

        </script>

        <!-- errors-modal -->
        <div class="modal fade" id="errors-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><font color="red"><span class="glyphicon glyphicon-remove"></span> ลงทะเบียนไม่สำเร็จ</font></h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">
                        {% for error in errors %}
                            {% if error == 1 %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error!</strong> คุณกรอกรหัสผ่านไม่ตรงกัน
                                </div>
                            {% endif %}
                            {% if error == 2 %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error!</strong> มีผู้อื่นใช้ Username นี้แล้ว
                                </div>
                            {% endif %}
                            {% if error == 3 %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error!</strong> รหัสนักศึกษานี้เคยลงทะเบียนแล้ว
                                </div>
                            {% endif %}
                            {% if error == 4 %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error!</strong> เลขประจำตัวประชาชนนี้เคยลงทะเบียนแล้ว
                                </div>
                            {% endif %}
                            {% if error == 5 %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error!</strong> ลงทะเบียไม่สำเร็จ
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div><!-- /modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                    </div><!-- /modal-footer -->
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div><!-- /modal -->

        <!-- registered-modal -->
        <div class="modal fade" id="registered-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 content="modal-title"><font color="green"><span class="glyphicon glyphicon-ok"></span> ลงทะเบียนสำเร็จ</font></h4>
                    </div><!-- /modal-header -->
                    <div class="modal-body">
                        <p>ขอบคุณสำหรับการลงทะเบียน<br/>
                        คุณสามารถ <a class="btn btn-primary btn-sm" href="{% url 'login:login' %}">เข้าสู่ระบบ</a> เพื่อใช้งานระบบ</p>
                    </div><!-- /modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                    </div><!-- /modal-footer -->
                </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
        </div><!-- /modal -->

    </div>
</div>
{% endblock %}





















