{% extends "base.html" %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="/group7Project_Docs/">รายชื่อโครงงาน</a></li>
    <li><a href="/group7/{{order.id}}/">รายการใบสั่งซื้อวัสดุ</a></li>
    <li><a href="/group7/{{order.id}}/orderinfo/">รายละเอียดใบสั่งซื้อวัสดุ</a></li>
    <li class="active">เพิ่มรายละเอียดใบสั่งซื้อวัสดุ</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<font size="7" face="Angsana New"><b>เพิ่มรายละเอียดใบสั่งวัสดุภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์</b></font>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/group7/{{ order.id }}/addorderinfoview/" enctype="multipart/form-data"  method="post" >
{% csrf_token %}
<table border=0>
    	<tr><td><font size="6" face="Angsana New"> บริษัท: </td><td><input type="text" name="company"></td></tr>
	<tr><td><font size="6" face="Angsana New"> ที่อยู่บริษัท: </td><td><input type="text" name="id"></td></tr>
    	<tr><td><font size="6" face="Angsana New"> ชื่อวัสดุ : </td><td><input type="text" name="itemname_orderinfo"></td></tr>
    	<tr><td><font size="6" face="Angsana New"> จำนวน : </td><td><input type="text" name="amount_orderinfo"></td></tr>
    	<tr><td><font size="6" face="Angsana New"> ราคา/หน่วย : </td><td><input type="text" name="price_orderinfo"></td></tr>
</table>
<button type="submit"class="btn btn-success">ยืนยัน</button>&nbsp<a href="/group7/{{order.id}}/orderinfo/"><button type="button"class="btn btn-danger">ยกเลิก</button></a>
</form>
{% endblock %}


