{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="/group7Project_Docs/">รายชื่อโครงงาน</a></li>
    <li><a href="/group7/{{id}}/">รายการใบสั่งซื้อวัสดุ</a></li>
    <li><a href="/group7/{{id }}/statusof/">รายละเอียดใบสั่งซื้อวัสดุ</a></li>
    <li class="active">อัพเดทสถานะใบสั่งซื้อวัสดุ</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
		<script>
	function validateForm(form) {
	    var x = document.forms["statusForm"]["date_status"].value;
		var y = document.forms["statusForm"]["date_requi"].value;
		var ma_st = document.forms["statusForm"]["more"].value;  
		re = /^\d{4}\-\d{1,2}\-\d{1,2}$/;
		if(x != '' && !x.match(re) || y != '' && !y.match(re)) {
	      alert("Invalid date format: " + x + "and" + y);
	      return false;
	    }
	    if (x == null || x == "" || y == null || y == "" ) {
	        alert("date invalid!");
	        return false;
	    }
		if ( ma_st == null || ma_st == "") {
	        alert("ต้องมีหมายเหตุ");
	        return false;
	    }
		var ma_re = /^\d+/g$/;
		var reqID_re = /^\S+/g$/;     
		var reqIDreq = document.forms["statusForm"]["requi_id_requi"].value
		var reqIDreqCon = reqIDreq.match(reqID_re) ;
		if (ma_st .match(ma_re) ) {
		    alert('ma invalid' + ma_st ); 
			return false;
		}
		if (matches != null || matches2 != null) {
		    alert('number'); 
			return false;
		}
		if (reqIDreqCon != null) {
			alert('reqID is numbers only');
			return false;
		}
	}
	</script>
<font size="7" face="Angsana New"><b>เพิ่มเติมสถานะรายการใบสั่งวัสดุภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์</b></font>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/group7/{{ id }}/addstatusof/" >
<table border=0>
    	<b><font size="6" face="Angsana New">อัพเดทสถานะปัจจุบัน</b></font>
    	<tr><td>
	<script>
                $(function(){
                    $( "#date" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd-mm-yy', // รูปแบบการแสดงผล วัน-เดือน-ปี
                        yearRange: '-100:+0',   // ย้อนหลังไป 100 ปี
                    });
                });
            </script>

            <div class="form-group">
                <div class="col-sm-9">
			<tr><td><font size="5" face="Angsana New">เลือกวันที่:<td><input type="text" name="date" id="date" value="{{now}}"></tr></td>
			<tr><td><font size="5" face="Angsana New"> ขั้นตอน : </td><td><select name="state_status">
			{% if object == ""%}
			    <option  type="text" value="วันที่ในการซื้อวัสดุ">วันที่ในการซื้อวัสดุ</option>
			{%endif%}
			{%if object == "วันที่ในการซื้อวัสดุ"%}
				<option  type="text" value="ตรวจสอบวัสดุและใบเสร็จ">ตรวจสอบวัสดุและใบเสร็จ</option>
			{%endif%}
		    	{%if object == "ตรวจสอบวัสดุและใบเสร็จ"%}
				<option  type="text" value="complete">ใบเบิกวัสดุ</option>
	    		
			{%endif%}
			
			</select></td></tr>
			<tr><td><font size="5" face="Angsana New"> หมายเหตุ: </td><td><input type="text" name="more"></td></tr>
                </div>
            </div>      
	</td></tr>
    	
</table>
<table border=0>
    {%if object == "ตรวจสอบวัสดุและใบเสร็จ"%}
	<b><font size=6" face="Angsana New">ข้อมูลใบเบิกวัสดุ</b></font>
	<tr><td><font size="5" face="Angsana New"> เลขที่ตามใบส่งของ : </td><td><input type="text" name="requisition_id" value="None"></td></tr>
    {%endif%}
</table>

<button type="submit"class="btn btn-success">ยืนยัน</button>&nbsp<a href="/group7/{{ id }}/statusof/"><button type="button"class="btn btn-danger">ยกเลิก</button></a>
</form>
{% endblock %}

