{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="/group7Project_Docs/">รายชื่อโครงงาน</a></li>
     <li><a href="/group7/{{object.Projectg7_id}}/">รายการใบสั่งซื้อวัสดุ</a></li>
    <li class="active">แก้ไขรายการใบสั่งซื้อวัสดุ</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<script>
	function validateForm(form) {
	    var x = document.forms["dateForm"]["date_order"].value;
		re = /^\d{4}\-\d{1,2}\-\d{1,2}$/;
		if(x != '' && !x.match(re)) {
	      alert("Invalid date format: " + x);
	      document.dateForm.focus();
	      return false;
	    }
	    if (x == null || x == "") {
	        alert("date invalid!");
	        return false;
	    }
	    
		if(regs = x.match(re)) {
		
	        // day value between 1 and 31
	    if(regs[3] < 1 || regs[3] > 31) {
	    	alert("Invalid value for day: " + regs[3]);
	        document.dateForm.focus();
	        return false;
	    }
	        // month value between 1 and 12
	    if(regs[2] < 1 || regs[2] > 12) {
	        alert("Invalid value for month: " + regs[2]);
	        document.dateForm.focus();
	        return false;
	    }
			// year value between 1902 and 2015
		if(regs[1] < 1902 || regs[1] > (new Date()).getFullYear()) {
		    alert("Invalid value for year: " + regs[1] + " - must be between 1902 and " + (new Date()).getFullYear());
		    document.dateForm.focus();
		    return false;
		}
	}
		        
   }
	
	function checkDate(form)
	  {
	    var allowBlank = true;
	    var minYear = 1902;
	    var maxYear = (new Date()).getFullYear();

	    var errorMsg = "";

	    // regular expression to match required date format
	    re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

	    if(form.value != '') {
	      if(regs = form.value.match(re)) {
	        if(regs[1] < 1 || regs[1] > 31) {
	          errorMsg = "Invalid value for day: " + regs[1];
	        } else if(regs[2] < 1 || regs[2] > 12) {
	          errorMsg = "Invalid value for month: " + regs[2];
	        } else if(regs[3] < minYear || regs[3] > maxYear) {
	          errorMsg = "Invalid value for year: " + regs[3] + " - must be between " + minYear + " and " + maxYear;
	        }
	      } else {
	        errorMsg = "Invalid date format: " + field.value;
	      }
	    } else if(!allowBlank) {
	      errorMsg = "Empty date not allowed!";
	    }

	    if(errorMsg != "") {
	      alert(errorMsg);
	      form.focus();
	      return false;
	    }

	    return true;
	  }
	</script>  
<font size="7" face="Angsana New"><b>แก้ไขรายการใบสั่งซื้อวัสดุภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์</b></font>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!-- <form action="/group7addorderview/" method="post"> -->
<form name="dateForm" action="/group7/{{object.id}}/editorder/"  onsubmit="return validateForm(this)" >
{% csrf_token %}
	<table border=0>
    	<tr><td>
	<script>
                $(function(){
                    $( "#date" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd-mm-yy', // รูปแบบการแสดงผล วัน-เดือน-ปี
                        yearRange: '-100:+0',   // ย้อนหลังไป 100 ปี
                    });
                });
            </script>

            <div class="form-group">
                <div class="col-sm-9">
                    <tr><td><font size="6" face="Angsana New">เลือกวันที่ : <td><input type="text" name="date" id="date" value="{{dates}}"></tr></td>
                </div>
            </div>

	     
	    
	</td></tr>
</table>
<button type="submit"class="btn btn-success">ยืนยัน</button>&nbsp<a href="/group7/{{object.Projectg7_id}}/"><button type="button"class="btn btn-danger">ยกเลิก</button></a>
</form>
{% endblock %}
