{% extends "base.html" %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="/group7Project_Docs/">รายชื่อโครงงาน</a></li>
    <li class="active">รายการใบสั่งซื้อวัสดุ</li>
</ol>
{% endblock %}


{% block content %}
<div class="container-fluid">
<center><font size="7" face="Angsana New"><b>รายการใบสั่งวัสดุภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์</b></font></center>
{% if object.order_set.all %}
	<center>
	<div class="table-responsive">
	<table class="table table-striped table-bordered">
	<tr>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>วัน/เดือน/ปี</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>ชื่อโครงงาน</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>ชื่อผู้สั่ง</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>เลขที่โครงงาน</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>รายละเอียด</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>สถานะ</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>แก้ไขข้อมูล</center></th>
	</tr>
	{% for pay in object.order_set.all %}
		<tr>
		    {%for d in dates%}
			{% ifequal forloop.parentloop.counter forloop.counter%}
			<td><font size="5" face="Angsana New"><center>{{ d }}</center></td>
			{%endifequal%}
		    {% endfor %}
			<td><font size="5" face="Angsana New"><center>{{ object.name_thai}}</center></td>
			<td><font size="5" face="Angsana New"><center>{{ teacher.firstname_th}}  {{ teacher.lastname_th}}</center></td>
			<td><font size="5" face="Angsana New"><center>{{pid.project_catagories}}{{pid.year}}-{{pid.semester}}-{{pid.number}}</center></td>
			<td><center><a href="/group7/{{ pay.id }}/orderinfo/" ><button type="button"class="btn btn-info">รายละเอียดใบสั่งวัสดุ</button></a></center></td> 
			<td><center><a href="/group7/{{ pay.id }}/statusof/"><button type="button"class="btn btn-info">สถานะรายการสั่งวัสดุ</button></a></center></td>
			<td><center><a href="/group7/{{ pay.id }}/edit/" ><button type="button"class="btn btn-info">แก้ไข</button></a></center></td>
		</tr>
	{% endfor %}
{% else %}
	<br><font size="5" face="Angsana New"><center>There are no data available.</center></font>
{% endif %}
</table>
</center>
<a href="/group7/{{ object.id }}/addorder/"><button type="button"class="btn btn-success">เพิ่มรายการใบสั่งวัสดุ</button></a>
<center><a href="/group7Project_Docs/"><button type="button"class="btn btn-danger">ย้อนกลับ</button></a></center>
{% endblock %}
