{% extends "base.html" %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
     <li><a href="{% url 'login:menu' %}">เมนู</a></li>
     <li><a href="/group7/summary">สรุปรายละเอียดการเบิกจ่ายแต่ละโครงงาน</a></li>
     <li class="active">แสดงรายการใบสั่งซื้อในขั้นตอนตกลงวันที่ในการซื้อวัสดุ</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<center><font size="7" face="Angsana New"><b>แสดงรายการใบสั่งซื้อในขั้นตอนตกลงวันที่ในการซื้อวัสดุ</b></font></center>

<center>
<div class="table-responsive">
<table class="table table-striped table-bordered">
	<tr>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>ชื่อโครงงาน</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>วัน/เดือน/ปี</center></th> <!-- Pull from Order -->		
	</tr>
	<tr>
{% for item in data %}
	
		<td><font size="5" face="Angsana New"><center>{{item}}</center></td>
		{% if forloop.counter|divisibleby:"2" %}
		     </tr>
	        {%endif%}
	
	
{% endfor %}
</tr>
</table>
&nbsp

<table border ="0"  width="100%"><font color="BLACK">
	<tr>
		<td align="center">
			<a href="/group7/summary"><button type="button"class="btn btn-danger">ย้อนกลับ</button></a>	
		</form></td>
</center>
{% endblock %}

