{% extends "base.html" %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="/group7Project_Docs/">รายชื่อโครงงาน</a></li>
    <li><a href="/group7/{{s.Projectg7_id}}/">รายการใบสั่งซื้อวัสดุ</a></li>
    <li class="active">สถานะรายการใบสั่งซื้อวัสดุ</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<center><font size="7" face="Angsana New"><b>สถานะรายการใบสั่งวัสดุภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์</b></font></center>
{% if data %}
	<center>
	<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<tr>
			<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>วัน/เดือน/ปี</center></th>
			<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>ขั้นตอน</center></th>
			<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>สถานะ</center></th>
			<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>หมายเหตุ</center></th>
			<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>แก้ไขข้อมูล</center></th>	
		</tr><tr>
	{% for pay in data %}
			{% if forloop.counter|divisibleby:"5" %}
			<td><center><a href="/group7/{{ pay }}/statusof/edit/" ><button type="button"class="btn btn-info">แก้ไข</button></a></center></td>
			<tr>
			{%else%}
			    <td><font size="5" face="Angsana New"><center>{{ pay}}</center></td>
			{%endif%}
		    
	{% endfor %}
		    </tr>
{% else %}
	<br><font size="5" face="Angsana New"><center>There are no data available.</center></font>
{% endif %}
</table>

<table border ="0"  width="100%">
<tr><td width="1%"><a href="/group7/{{s.id}}/statusof/addstatusof/"><button type="button"class="btn btn-success">อัพเดทสถานะ</button></a></td>
<td width="1%"></td>
{% for pay in data %}
	{%if pay == "สมบูรณ์" %}
		<td><a href="/group7/{{s.id}}/statusof/requisition/" target = _blank><button type="button"class="btn btn-success">ดูตัวอย่างใบเบิกวัสดุ</button></a></td></tr>
	{%endif%}
{% endfor %}

</table>

<table border ="0"  width="100%"><font color="BLACK">
	<tr>
		<td align="right">
			<a href="/group7/{{s.Projectg7_id}}/"><button type="button"class="btn btn-danger">ย้อนกลับ</button></a>	
		</form></td>
		<td width="1%"></td>
		<td align="left">
			<a href="/group7Project_Docs/"><button type="button"class="btn btn-warning">หน้าแรก</button></a>
		</form></td>
	</tr>
</table>
</center>
{% endblock %}

