{% extends "base.html" %}
{% load humanize %}
{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">สรุปรายละเอียดการเบิกจ่ายแต่ละโครงงาน</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<center><font size="7" face="Angsana New"><b>สรุปรายละเอียดการเบิกจ่ายแต่ละโครงงาน</b></font></center>

<center>
<div class="table-responsive">
<table class="table table-striped table-bordered">
	<tr>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>ชื่อโครงงาน</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>เลขที่โครงงาน</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>งบประมาณที่สามารถใช้ได้</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>งบประมาณที่ถูกใช้ไปแล้ว</center></th>
		<th bgcolor="#E6E6E6"><font size="6" face="Angsana New"><center>งบประมาณคงเหลือ</center></th>		
	</tr>
	    <tr>
	    {% for a in cost%}
		 
		
		{% if a < 0%}
		<td><font color="red" size="5" face="Angsana New"><center>{{a}}</center></font></td>
		{%else%}
		<td><font size="5" face="Angsana New"><center>{{a}}</center></td>
	    {%endif%}
	    {% if forloop.counter|divisibleby:"5" %}
		    <tr>
		{% endif%}
		{%endfor%}

</table>
&nbsp

<div class="table-responsive">
<table class="table table-striped table-bordered">
	<tr>
		<th bgcolor="#E6E6E6"><font size="5" face="Angsana New"><center>จำนวนใบสั่งซื้อในขั้นตอนการตกลงวันที่ซื้อวัสดุ</center></th>
		<th bgcolor="#E6E6E6"><font size="5" face="Angsana New"><center>จำนวนใบสั่งซื้อในขั้นตอนการตรวจสอบวัสดุและใบเสร็จ</center></th>
		<th bgcolor="#E6E6E6"><font size="5" face="Angsana New"><center>จำนวนใบสั่งซื้อในขั้นตอนการทำใบเบิกวัสดุ</center></th>		
	</tr>
	<tr>
		<td><font size="5" face="Angsana New"><center><a href="/group7/summarydate/">{{buy}}</a></center></td>
		<td><font size="5" face="Angsana New"><center><a href="/group7/summarycheck/">{{check}}</a></center></td>
		<td><font size="5" face="Angsana New"><center><a href="/group7/summaryreq/">{{complete}}</a></center></td>	
	</tr>
</table>
&nbsp


{% endblock %}

