{% extends "base.html" %}

{% block title %}Group7{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>เบิกจ่ายค่าวัสดุในการทำโครงงาน</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">สรุปรายละเอียดการเบิกจ่ายแต่ละโครงงาน</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<center><h3>สรุปรายละเอียดการเบิกจ่ายแต่ละโครงงาน</h3></center>

<center>
<table border ="1"  width="100%"><font color="BLACK">
	<tr>
		<th><center>ชื่อโครงงาน</center></th>
		<th><center>งบประมาณที่สามารถใช้ได้</center></th>
		<th><center>งบประมาณที่ถูกใช้ไปแล้ว</center></th>
		<th><center>งบประมาณคงเหลือ</center></th>		
	</tr>
	    <tr>
	    {% for a in cost%}
	    <td><center>{{a}}</center></td>
	    {% if forloop.counter|divisibleby:"4" %}
		<tr>
	    {% endif%}
	    {%endfor%}

</table>
&nbsp

<table border ="1"  width="100%"><font color="BLACK">
	<tr>
		<th><center>จำนวนใบสั่งซื้อในขั้นตอนการตกลงวันที่ซื้อวัสดุ</center></th>
		<th><center>จำนวนใบสั่งซื้อในขั้นตอนการตรวจสอบวัสดุและใบเสร็จ</center></th>
		<th><center>จำนวนใบสั่งซื้อในขั้นตอนการทำใบเบิกวัสดุ</center></th>		
	</tr>
	<tr>
		<td><center><a href="/group7/summarydate/">{{buy}}</a></center></td>
		<td><center><a href="/group7/summarycheck/">{{check}}</a></center></td>
		<td><center><a href="/group7/summaryreq/">{{complete}}</a></center></td>	
	</tr>
</table>
&nbsp


{% endblock %}

