<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}

{% block pageHeader %}

<h2>ระบบ<small>งานสารบัญ</small></h2>

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">เพิ่มผู้ได้รับมอบหมาย</li>
</ol>



{% endblock %}

{% block content %}

{% if user.username == "admin" or user.username == "admin_doc"%}

{% load static %}

    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<form action="/group1/upload_file/" method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<div style="width: auto; margin: 0 auto; padding: 10px 10px 10px;">
	
		<fieldset>
          <legend>รายละเอียดหมวดเอกสาร</legend>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">ชื่อ-นามสกุล<font color = "red">*</font></label>
			<div class="col-sm-5">
				<input type="text" name="detail7_file" maxlength="100" size ="200"></input>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">ชื่อย่อ<font color = "red">*</font></label>
			<div class="col-sm-5">
				<input type="text" name="detail8_file" maxlength="3" size ="200"></input>
			</div>
		</div>
		
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">อีเมล<font color = "red">*</font></label>
			<div class="col-sm-5">
				<input type="text" name="detail9_file" maxlength="100" size ="200"></input>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-3">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_addSubject" style="color:green;">
                        <span class="glyphicon glyphicon-plus"></span>
                        เพิ่มผู้ที่ได้รับมอบหมาย
                    </button>
            </div>
		</div>
		
		<!---------------------------------------------------modal---------------------------------------------------------------------->
		
		
		<div class="modal fade" id="modal_addPeople" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
            <!-- Form for add Subject Object -->
            <form class="form-horizontal" method="post" action="{% url 'group3:addSubject' %}" enctype="multipart/form-data">
                <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">เพิ่มผู้ที่ได้รับมอบหมาย</h4>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        {% csrf_token %}
                        <!-- หน่วยงาน -->
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 control-label"><font color="red">* </font>หน่วยงาน: </label>
                            <div class="col-sm-5"></div>
				</div>
            </div>

                        <!-- ชื่อหมวด -->
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 control-label"><font color="red">* </font>ชื่อหมวด: </label>
                            <div class="col-sm-9">
                                <input type="text" name="subjectName" class="form-control" value="" placeholder="ชื่อหมวด " maxlength="200" required>
                            </div>
                        </div>
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                        <button type="ิีbutton" class="btn btn-success">ยืนยัน</button>
                    </div>
                </div><!-- end of modal-content -->
            </form>
        </div>
    </div>
	
	
	</div>
</from>	

        <!--&nbsp;&nbsp;<button type="submit" class="btn btn-success">อัพโหลด</button-->
        
       
        


 {% else %}
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> สำหรับเจ้าหน้าที่งานสารบัญ</div>
{% endif %}

{% endblock %}

