<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}

{% block pageHeader %}

<h2>ระบบ<small>งานสารบัญ</small></h2>

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">เพิ่มหมวดของเอกสาร</li>
</ol>



{% endblock %}

{% block content %}

{% if user.username == "admin" or user.username == "admin_doc"%}

{% load static %}


<form action="/group1/add_category/" method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<div style="width: auto; margin: 0 auto; padding: 10px 10px 10px;">
	
		<fieldset>
          <legend>เพิ่มหมวดของเอกสาร</legend>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
		<div class="form-group">
			<label for="dept" class="col-sm-2 control-label">หน่วยงาน<font color = "red">*</font></label>
			<div class="col-sm-5">
				<input type="checkbox" name="detail5_file" value="ภายใน" checked="checked"><label>&nbsp;ภายใน&nbsp;</label></input>
				<input  type="checkbox" name="detail5_file" value="ภายนอก" ><label>&nbsp;ภายนอก&nbsp;</label></input></td>
				<font id="choose3" color="red"></font>
                              
                <script>
					// the selector will match all input controls of type :checkbox
					// and attach a click event handler 
					$("input:checkbox").on('click', function() {
					 // in the handler, 'this' refers to the box clicked on
					 var $box = $(this);
					 if ($box.is(":checked")) {
					// the name of the box is retrieved using the .attr() method
					// as it is assumed and expected to be immutable
					var group = "input:checkbox[name='" + $box.attr("name") + "']";
					// the checked state of the group/box on the other hand will change
					// and the current value is retrieved using .prop() method
					$(group).prop("checked", false);
					$(group).prop("not checked", false);
					$box.prop("checked", true);
					document.getElementById("choose3").innerHTML="";
					 } 
					
					 else {
					$box.prop("checked", false);
					//alert("You must check at least one checkbox.");
						document.getElementById("choose3").innerHTML="กรุณาเลือกอย่างใดอย่างหนึ่ง";
						
					 }
					});
								
				</script> 
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
        
        <div class="form-group">
			<label for="title" class="col-sm-2 control-label">ชื่อหมวดเอกสาร<font color = "red">*</font></label> 
			<div class="col-sm-5">
				<input type="text" name="category_name"  value="{{category_name}}" class="form-control" id="title" placeholder="ชื่อหมวดเอกสาร" required>
				
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>

          <div class="form-group">
			 <label for="title" class="col-sm-2 control-label"></label>  
			<div class="col-sm-5">
				<button type="submit" class="btn btn-success" >ยืนยัน</button>	
			</div>
		</div> 
	
	</div>
	
	    <table id="category-table" border="1px"  align="center" style="cellpadding:100px">
       <tr bgcolor="#E6E6E6" style="text-align:center;padding-left: 5px;padding-right: 5px">
			
		   <th style="width:250px;text-align:center;padding-left: 5px;padding-right: 5px">ชื่อหมวดเอกสาร</th>
		    <th style="text-align:center;padding-left: 5px;padding-right: 5px">ที่มาของหน่วยงาน</th>

		{% if user.username == "admin" or user.username == "admin_doc"%}
			<th style="text-align:center;padding-left: 5px;padding-right: 5px">ลบหมวดเอกสาร</th>
		{% endif %}
		
                </tr>
				
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		{% for item in category %}
                <tr valign="middle" align = "middle" style="padding-left: 5px;padding-right: 5px">
             

		    <td >
		    
				{{item.name}}&nbsp;
		  

		    </td>
		    
		    <td >
		    
				{{item.depart}}&nbsp;
		  

		    </td>
		    
		    
		{% if user.username == "admin" or user.username == "admin_doc"%}
			
			<td valign="middle" align = "middle" style="padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px">
				
				&nbsp;<!--button type="button" class="btn btn-danger" id="delete" onClick="location.href='/group1/delete/'" align="middle">ลบ</button-->
				<button type="button" class="btn btn-danger" id="delete" onClick="location.href='/admin/group1/category/{{item.code_name}}/delete/'" align="middle">ลบ</button>
				&nbsp;
			</td>
		{% endif %}
                </tr>
                {% endfor %}
                
             </table> 
             
</from>	

        
        
        
       
        


 {% else %}
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> สำหรับเจ้าหน้าที่งานสารบัญ</div>
{% endif %}

{% endblock %}

