<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}

{% block pageHeader %}

<h2>ระบบ<small>งานสารบัญ</small></h2>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">อัพโหลดเอกสาร</li>
</ol>

{% endblock %}

{% block content %}

{% if user.username == "admin" or user.username == "admin_doc" or user.username == modify.0.username or user.username == modify.1.username %}

{% load static %}

<SCRIPT language="javascript">
function addRow(tableID) {

            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var colCount = table.rows[0].cells.length;

            var row = table.insertRow(rowCount);

            row = table.insertRow(table.rows.length);
            for(var i = 0; i < colCount; i++) {

                var newcell = row.insertCell(i);
				
                if(i ==(colCount-1)){
                    newcell.innerHTML = "<INPUT type=\"button\" class=\"btn btn-danger\" value=\"ลบผู้ได้รับมอบหมาย\" onclick=\"removeRow(this)\"/>";
                } else {
                    newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                }
            }
        }
cells.insertRow
        /**
         * This method deletes the specified section of the table
         * OR deletes the specified rows from the table.
         */
        function removeRow(src) {
			
            var oRow = src.parentElement.parentElement;
            var rowsCount = 0;
            for(var index = oRow.rowIndex; index >= 0; index--) {

                document.getElementById("dataTable").deleteRow(index);
                if(rowsCount == (2 - 1)) {
                    return;
                }
                rowsCount++;
            }
            //once the row reference is obtained, delete it passing in its rowIndex
            /* document.getElementById("dataTable").deleteRow(oRow.rowIndex); */
        }
    </SCRIPT>

<form action="/group1/upload_file/" method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<div style="width: auto; margin: 0 auto; padding: 10px 10px 10px;">
{% if msg = 200 %}
<div class="alert alert-success" role="alert"><strong>อัพโหลดข้อมูลสำเร็จ</strong></div>
{% elif msg = 201 %}
<div class="alert alert-danger" role="alert"><strong>ไม่สามารถอัพโหลดข้อมูลได้</strong></div>
{% elif msg = 202 %}
<div class="alert alert-danger" role="alert"><strong>มีการซ้ำกันของข้อมูลเลขที่รับ/ปีพ.ศ.</strong></div>
{% elif msg = 203 %}
<div class="alert alert-danger" role="alert"><strong>กรุณาเลือกเอกสารที่ต้องการอัพโหลด</strong></div>
{% elif msg = 204 %}
<div class="alert alert-danger" role="alert"><strong>กรุณาเลือกหมวดของเอกสาร</strong></div>
{% endif %}
<input type="hidden" name="user_doc" value="{{user.username}}" />
	
		<fieldset>
          <legend>รายละเอียดเอกสาร</legend>
		  
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
        
        <div class="form-group">
			<label for="title" class="col-sm-2 control-label">ชื่อเรื่อง<font color = "red">*</font></label> 
			<div class="col-sm-6">
				<input type="text" name="name_file" value="{{name_file}}" class="form-control" id="title" placeholder="ชื่อเรื่อง" required>			
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		<div class="form-group">
			<label for="catalogue" class="col-sm-2 control-label">หน่วยงาน<font color = "red">*</font></label>
			<div class="col-sm-5">
					<input type="radio" name="category_name" id="inside" checked required><label>&nbsp;ภายใน</label>
					<input type="radio" name="category_name" id="outside" value="-" required><label>&nbsp;ภายนอก</label>
			</div>
			
			<script type="text/javascript">
                   $("#inside").click(function() {
                        $("#catename").attr("disabled", false);
                    	document.getElementById('catename').value = ""; 
                        //$("#category").show(); //To Show the dropdown
                    });
                    $("#outside").click(function() {
                        $("#catename").attr("disabled", true);
                        document.getElementById('catename').value = "-";                 
                    });
			</script>
		</div>
		
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		<div class="form-group">
			<label for="dept_name" class="col-sm-2 control-label">ชื่อหน่วยงาน<font color = "red">*</font></label>
			<div class="col-sm-6">
				<input type="text" name="name_dept"  value="{{name_dept}}" class="form-control" id="name_dept" placeholder="ชื่อหน่วยงาน" required>
			</div>	
		</div>
		

	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
				<div class="form-group">
			<label for="catalogue" class="col-sm-2 control-label">หมวดเอกสาร<font color = "red">*</font></label>
			<div class="col-sm-6">
				<input type="text" list="category" class="form-control" placeholder="ชื่อหมวดเอกสาร" id="catename" autocomplete="off" name="category_name" required />
				<datalist name="category_file" size="1" lang="th" id="category">
					<option value ="-"></option>
					{% for item in category %}
					<option value = "{{item.name}}">{{item.name}}</option>
					{% endfor %}
				</datalist>
				<!--input type="text" list="category" id="category_list"-->
			</div>	
		</div>
	
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
		<div class="form-group">
			<!--label for="year" class="col-sm-2 control-label">ปี พ.ศ.<font color = "red">*</font></label-->
			<label for="d" class="col-sm-2 control-label">เลขที่รับจากภายนอก<font color = "red">*</font></label>
			<div class="col-sm-10">
				<input name="number_file2" type="text" maxlength="20" size="14" value="{{number_file2}}" required></input>
				&nbsp;&nbsp;<label for="d">เลขที่รับ<font color = "red">*</font> </label>
                        <input name="number_file" type="text" maxlength="10" size="14" value="{{number_file}}" required></input>
				<!---------------------------------------------------------------------------->
				<!-- Input date hidden-->
						<input type="hidden" name="year_file" id="g_year" />
						<script>
							var y = new Date();
							var n = y.getYear()+2443;
							document.getElementById("g_year").value = n;
						</script>
				<!---------------------------------------------------------------------------->
						<input type="hidden" name="month_file" id="g_month" />
						<script>
							var m = new Date();
							var n = m.getMonth()+1;
							document.getElementById("g_month").value = n;
						</script>
				<!---------------------------------------------------------------------------->
						<input type="hidden" name="date_file" id="g_day" />
						<script>
							var d = new Date();
							var n = d.getDate();
							document.getElementById("g_day").value = n;
						</script>
                 <!---------------------------------------------------------------------------->
                 &nbsp;&nbsp;<label for="year">วัน - เวลา </label>
                  
                  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
				  
				  <script>
					jQuery(document).ready(function() {
					var foo = jQuery('#foo');
			  
					function updateTime() {
						var now = new Date()
						var s = now.getSeconds()
						if(s<10)
							s = "0" +s
						else
							s = s
						
						var mi = now.getMinutes()
							if(mi<10)
								mi = "0" +mi
							else
								mi = mi						
						var h = now.getHours()
							if(h<10)
								h = "0" +h
							else
								h = h	
						var d = now.getDate()
							if(d<10)
								d = "0" +d
							else
								d = d						
						var m = now.getMonth()+1
							if(m<10)
								m = "0" +m
							else
								m = m						
						var y  = now.getFullYear() +543
						
						
						foo.val(" "+d.toString()+"/"+m.toString()+"/"
								+y.toString()+" - "+h.toString()+":"+mi.toString()+":"+s.toString());   
								
						    
					}
				  
					updateTime();
					setInterval(updateTime, 1000); // 5 * 1000 miliseconds
				});
				
				</script>
					<input id="foo" name="foo" type="text" value="" size="22" disabled>
					     
				
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
		<div class="form-group">
			<label for="file" class="col-sm-2 control-label">เลือกไฟล์<font color = "red">*</font></label>
			<div class="col-sm-5">
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.help_text }}</p>
				<p>
					{{ form.docfile }}
				</p>
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
		<div class="form-group">
			<label for="docs" class="col-sm-2 control-label">เอกสารเพื่อ<font color = "red">*</font></label>
			<div class="col-sm-5">
				<input type="radio"  name="detail1_file" value="ทราบ" checked="checked">{% if detail1_file == "ทราบ" %}checked{% endif %}<label>&nbsp;ทราบ&nbsp;</label></input>
                <input  type="radio"  name="detail1_file" value="พิจารณา" >{% if detail1_file == "พิจารณา" %}checked{% endif %}<label>&nbsp;พิจารณา&nbsp;</label></input>                      
			</div>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
		
		<div class="form-group">
			<label for="doc2" class="col-sm-2 control-label">ประชาสัมพันธ์</label>
			<div class="col-sm-5">
				<input type="hidden" name="detail2_file" value=''>
				<input type="hidden" name="detail3_file" value=''>
				<input type="hidden" name="detail4_file" value=''>
                <input type="radio" class="rad" name="detail2_file" value="ติดประกาศ" >{% if detail2_file == "ติดประกาศ" %}checked{% endif %}<label>&nbsp;ติดประกาศ&nbsp;</label>  
                <input type="radio" class="rad" name="detail3_file" value="Facebook">{% if detail3_file == "Facebook" %}checked{% endif %}<label>&nbsp;Facebook&nbsp;</label> 
			    <input type="radio" class="rad" name="detail4_file" value="เว็บไซต์" >{% if detail4_file == "เว็บไซต์" %}checked{% endif %}<label>&nbsp;เว็บไซต์&nbsp;</label>
			</div>
			
			<script>
				$(document).ready(function () {
					$("#button").click(function () {
						// Radios
						$(".rad:checked").each(function() {
							console.log("Radio: " + $(this).val());
						});
					});
				})	
				</script>
				<script>
				var allRadios = document.getElementsByClassName('rad');
				var booRadio;
				var x = 0;
				for(x = 0; x < allRadios.length; x++){

						allRadios[x].onclick = function(){

							if(booRadio == this){
								this.checked = false;
						booRadio = null;
							}else{
							booRadio = this;
						}
						};

				}

			</script>
		</div>
		
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
                       
                          <fieldset>
                            <legend>มอบหมาย</legend>
           					  
                          <TABLE id="dataTable">
            				<TR>
								<TD>
                                  <SELECT name="pers_email[]" onchange="showHide() ">
                                      <option value="" selected><label>กรุณาเลือกบุคลากร</label></option>
                                      <!--option value="person_all"><label>เลือกบุคลากรทั้งหมด</label></option-->
					{% for per in persons %}
                                      <option value="{{per.id}}"><label>{{per.firstname_th}}  {{per.lastname_th}}</label></option>
					{% endfor %}                                      
              
                                  </SELECT>&nbsp;&nbsp;
                              </TD>
                              
                             
                               <TD>
								   
					<button type="button" class="btn btn-success"  onClick="addRow('dataTable')">เพิ่มผู้ได้รับมอบหมาย&nbsp;&nbsp;</button>&nbsp;</td>
								  
								<script>
									function deleteRow(r) {
										var i = r.parentNode.parentNode.rowIndex;
										document.getElementById("dataTable").deleteRow(i);
									}
								</script>
                              </TD>

                          </TR>
				</TABLE>
                          </fieldset>                   
	
           
	
	</div>
	</from>	

        <tr><td>&nbsp;&nbsp;<button type="submit" class="btn btn-success" >อัพโหลด</button></td></tr>


<br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br> <br> <br> <br> <br> <br><br>
        
       
        


 {% else %}
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> สำหรับเจ้าหน้าที่งานสารบัญ</div>
{% endif %}

{% endblock %}

