<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'images/ece_logo.gif' %}" class="img-responsive" alt="Cinque Terre" style="max-width:100%; height:auto;">
                </div>
                <div class="col-sm-10">
                    <h1>Database Systems
                    <p class="lead">ระบบสารสนเทศ</p></h1>
                </div>
            </div>
        </div>
    </header>


    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#id_nav2">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'login:menu' %}">
                    <span class="glyphicon glyphicon-home"></span>
                    หน้าหลัก
                </a>
            </div>

            <div class="collapse navbar-collapse" id="id_nav2">
                
                <ul class="nav navbar-nav">

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group1<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'group1:index' %}">group1 index</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group2<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">App1</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                            งานสอน<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="#">Link1</a> </li>
                            <li><a href="#">Link2</a> </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">อาจารย์สองภาษา</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="{% url 'group3:prof2lang_index' %}">ดูข้อมูล</a> </li>
                                    <li><a tabindex="-1" href="{% url 'group3:prof2lang_add' 0 %}">เพิ่มข้อมูล</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group4<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">App1</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group5<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">App1</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group6<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">App1</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            App Group7<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">App1</a> </li>
                            <li><a href="#">App2</a> </li>
                        </ul>
                    </li>

                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class=dropdown>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ user.username }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login:logout' %}">ออกจากระบบ</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="page-header">
            {% block pageHeader %}{% endblock %}
        </div>
    </div>

    {% block content %}{% endblock %}

    {% else %}
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> กรุณา<a href="{% url 'login:login' %}">เข้าสู่ระบบ</a></div>
    {% endif %}
</body>
</html>