{% extends "base.html" %}

{% block title %}ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี - แบบเสนอโครงงานปริญญานิพนธ์ - {{ approve.project.name_thai }}{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group6:project_docs_index' %}">ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</a></li>
    <li class="active">แบบเสนอโครงงานปริญญานิพนธ์ - {{ approve.project.name_thai }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
.page{
	width:210mm;
	height:auto;
	margin:auto;
	position:relative;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
	}
.form > H{
	margin-left:50;
}
H{
        font:16pt "Angsana New";
}
textarea {
	margin-left:50;
	resize:none;
	outline:none;
	}
input{
	outline:none;
	resize:none;
	}
#o1{
	text-align:center;
	}
@page{
	size:A4;
	margin:0;
	}
.text{
	border: 1px solid #000; /* Use for change border width*/
	width:120mm;
	height:16mm;
	resize:none;
	margin-left:50;
	}
.namestd{
	margin-left:50;
	}
.comment{
	border: 1px solid #000; /* Use for change border width*/
	width:80mm;
	height:60mm;
	resize:none;
	
}
table,tr,td{
	border-collapse: collapse;
	font:16pt "Angsana New";
	}
@media print {
  .page {
		margin:0;
		font:16pt "Angsana New";
		position:absolute;
		border: initial;
		width: initial;
		height:initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		}
}
</style>
<div class="page">
<CENTER><H>คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H>แบบเสนอขออนุมัติโครงงานปริญญานิพนธ์</H><br>
<H>ปีการศึกษา {{ approve.project.yearOfEducation }}</H></CENTER>
<label class="form">
<H>ด้วยข้าพเจ้า ชื่อและสกุล(ภาษาไทย) : {{ approve.student.userprofile.firstname_th }} {{ approve.student.userprofile.lastname_th }}</H><br>
<H>ด้วยข้าพเจ้า ชื่อและสกุล(อังกฤษ) : {{ approve.student.userprofile.firstname_en }} {{ approve.student.userprofile.lastname_en }}</H><br>
<H>ขณะนี้เป็นนักศึกษาปีที่ : {{ currentYear }}</H><H style="margin-left:0;"> ของหลักสูตร : {{ scheme }}</H><H style="margin-left:0;"> วิศวกรรมศาสตร์บัณฑิต</H><br>
<H>ในภาควิชา : {{ department }}</H><H style="margin-left:0;"> สาขาวิชา : {{ main }}</H><br>
<H>ตำบลที่อยู่ปัจจุบันของนักศึกษา : </H><br><div class="text">{{ approve.student.userprofile.address }}</div>
<H>โทร : {{ approve.student.userprofile.tel }}</H><br>
<H>สภานที่ทำงานปัจจุบันของนักศึกษา : </H><br><div class="text">{{ approve.student.userprofile.office }}</div>
<H>มีความประสงค์ขออนุมัติทำปริญญานิพนธ์เพื่อเป็นส่วนหนึ่งของการศึกษาตามหลักสูตร</H><br>
<H>วิศวกรรมศาสตร์บัณฑิต ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ จำนวน : {{ approve.credit }}</H><H style="margin-left:0;"> หน่วย</H> <br>
<H>ในวิชา : {{ approve.course }}</H><br>
<H>ชื่อเรื่อง(ภาษาไทย) : {{ approve.project.name_thai }}</H><br>
<H>ชื่อเรื่อง(ภาษาอังกฤษ) : {{ approve.project.name_eng }}</H><br>
<H>ชื่ออาจารย์ที่ปรึกษา : {{ approve.project.teacher.userprofile.firstname_th }} {{ approve.project.teacher.userprofile.lastname_th }} ({{ approve.project.teacher.shortname }})</H><br>
<H>หมายเลขโทรศัพท์ที่ทำงานของอาจารย์ที่ปรึกษา โทร: {{ approve.project.teacher.userprofile.tel }}</H><br><H>ต่อ : -</H><br>
<H>คาดว่าจะเขียนปริญญานิพนธ์เสร็จภายในภาคที่ : {{ approve.semesterEnd }}</H><br><H> ปีการศึกษา : {{ approve.yearEnd }}</H><br>
<H>จิงขอได้โปรดพิจารณาอนุมัติ โดยได้แนบโครงการเสนอปริญญานิพนธ์มาพร้อมนี้</H><br>
<H>วัตถุประสงค์ :</H><br><div class="text">{{ approve.project.objective }}</div>
<H>แนวเหตุผล ทฤฏีสำคัญหรือสมมุติฐาน :</H><div class="text">{{ approve.project.reason }}</div>
<H>ขอบเขตของการทำโครงงาน :</H><br><div class="text">{{ approve.project.scope }}</div>
<H>ผลประโยชน์ที่คาดว่าจะได้รับ :</H><br><div class="text">{{ approve.project.benefit }}</div>
<br>
<div align="right"><H>ลงชื่อ:</H>................................<H>(ผู้ยื่นคำร้อง)</H>
<div align="right" style="margin-right:36mm">{dd/mm/yyyy}</div>
<br>

	 <CENTER><table border="0">
	 <tr><td><CENTER><H>ความเห็นของอาจารย์ที่ปรึกษา</H><div class="comment"></div><H>(ลงนาม)</H>...............<br>{dd/mm/yyyy}</td>
	 <td><CENTER><H>ความเห็นของหัวหน้าภาค</H><div class="comment"></div><H>(ลงนาม)</H>...............<br>{dd/mm/yyyy}</td></tr>
     	</label>
</div>

<a href="{% url 'group6:project_docs_index' %}"><input class="btn btn-danger" type="button" value="ย้อนกลับ" name = 'cancel' /></a>
</div>
{% endblock %}
