{% extends "base.html" %}
{% load custom_function %}

{% block title %}ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี - สร้างฟอร์มเสนอโครงงานใหม่{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group6:project_docs_index' %}">ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</a></li>
    <li class="active">สร้างแบบฟอร์มเสนอโครงงานใหม่</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <style>
    table,tr,td{
        border-collapse: collapse;
    }
    body{
       background-color:white;
   }
   .page{
       width:210mm;
       margin:auto;
       position:relative;
       padding: 2cm;
       border: 1px #D3D3D3 solid;
       border-radius: 5px;
       background: white;
   }
   .form > H{
       margin-left:10;
   }
   .namestd{
       margin-left:10;
   }
   textarea {
       margin-left:10;
       resize:none;
       outline:none;
   }
   H{
       font:16pt "Angsana New";
   }
   input{
       outline:none;
       resize:none;
   }
   #o1{
       text-align:center;
   }
/*#years{
	margin-left:0;
	}
#nameth{
	margin-left:0;
	}
#nameen{
	margin-left:18;
	}
#numbers{
	margin-left:56;
	}
	*/
    @page{
       size:A4;
       margin:0;
   }
   /*@media print {
      .page {
          margin:0;
          font-size:20px;
          position:absolute;
          border: initial;
          width: initial;
          height:initial;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
      }
  }*/
  </style>
  <script>
  function myFunction() {
   var year = new Date();
   var x = document.getElementById("yearselect")
   document.getElementById("demo").innerHTML = x.options[x.selectedIndex].value;
}
function yearselect(){
	var year = new Date();
	var list = document.getElementById("yearselect");
        var list2 = document.getElementById("yearSTART");
        var list3 = document.getElementById("monthSTART");
	var i;
	for (i=0;i<list.length;i++){
		list.options[i].text = year.getFullYear()-i+543;
		list.options[i].value = year.getFullYear()-i+543;
		list2.options[i].text = year.getFullYear()-i+543;
		list2.options[i].value = year.getFullYear()-i+543;
  }
        var sel = document.getElementById("stdnumber");
        sel.value = {{ numOP }}
        list.value = {{ yearOE }}
        list2.value = {{ yearST }}
        list3.value = "{{ monthST }}"
}
var oldnum=0;
function addMoreStd(){
	var e1 = document.getElementById("stdnumber");
	var stdnum = e1.options[e1.selectedIndex].value;
	var txts = "";
	if (oldnum!=stdnum){
		oldnum=stdnum;
		for (i = 1; i < 5; i++) { 
			var e2 = document.getElementById("studentElement"+i);
                        if(i < stdnum){
				if(e2 == null){
					txts += "<div id='studentElement" + i + "'><H>"+e1.options[i].text+". "+"</H><input id='studentNAME" + (i) +"' type='text' name='studentNAME" + (i) +"'><H>เลขประจำตัว :</H><input type='text' name='studentID" + (i) + "' maxlength='13' id='studentID" + (i) + "'></div>";
				}
			}else{
				if(e2 != null){
					e2.remove();
				}
			}
		}
	document.getElementById("namestd").innerHTML += txts;
	}
}
function checkSUBMIT(){  //by jupiter ------------ A function to check the studentID and the rest of the number type input before submit ---- please use it  before perform any action in next step
    var e1 = document.getElementById("stdnumber");
    var stdnum = e1.options[e1.selectedIndex].value;
    
    if(stdnum==1){
        var sid = document.getElementById("studentID0");
        if(sid.value.length!=13 || isNaN(sid.value)){
            alert("กรุณาตรวจสอบการกรอกรหัสนักศึกษาใหม่อีกครั้ง (ตัวเลขความยาว 13 ตัว)");
            return false;
        }else{
            checkSUBMIT2();
        }
    }else if(stdnum==2){
        var sid1 = document.getElementById("studentID0");
        var sid2 = document.getElementById("studentID1");
        if(sid1.value.length!=13 || sid2.value.length!=13 || isNaN(sid1.value) || isNaN(sid2.value)){
            alert("กรุณาตรวจสอบการกรอกรหัสนักศึกษาใหม่อีกครั้ง (ตัวเลขความยาว 13 ตัว)");
            return false;
        }else{
            checkSUBMIT2();
        }        
    }else if(stdnum==3){
        var sid1 = document.getElementById("studentID0");
        var sid2 = document.getElementById("studentID1");
        var sid3 = document.getElementById("studentID2");
        if(sid1.value.length!=13 || sid2.value.length!=13 || sid3.value.length!=13 || isNaN(sid1.value) || isNaN(sid2.value) || isNaN(sid3.value)){
            alert("กรุณาตรวจสอบการกรอกรหัสนักศึกษาใหม่อีกครั้ง (ตัวเลขความยาว 13 ตัว)");
            return false;
        }else{
            checkSUBMIT2();
        }        
    }else if(stdnum==4){
        var sid1 = document.getElementById("studentID0");
        var sid2 = document.getElementById("studentID1");
        var sid3 = document.getElementById("studentID2");
        var sid4 = document.getElementById("studentID3");
        if(sid1.value.length!=13 || sid2.value.length!=13 || sid3.value.length!=13 || sid4.value.length!=13 || isNaN(sid1.value) || isNaN(sid2.value) || isNaN(sid3.value) || isNaN(sid4.value)){
            alert("กรุณาตรวจสอบการกรอกรหัสนักศึกษาใหม่อีกครั้ง (ตัวเลขความยาว 13 ตัว)");
            return false;
        }else{
            checkSUBMIT2();
        }        
    }
    else if(stdnum==5){
        var sid1 = document.getElementById("studentID0");
        var sid2 = document.getElementById("studentID1");
        var sid3 = document.getElementById("studentID2");
        var sid4 = document.getElementById("studentID3");
        var sid5 = document.getElementById("studentID4");
        if(sid1.value.length!=13 || sid2.value.length!=13 || sid3.value.length!=13 || sid4.value.length!=13 || sid5.value.length!=13 || isNaN(sid1.value) || isNaN(sid2.value) || isNaN(sid3.value) || isNaN(sid4.value) || isNaN(sid5.value)){
            alert("กรุณาตรวจสอบการกรอกรหัสนักศึกษาใหม่อีกครั้ง (ตัวเลขความยาว 13 ตัว)");
            return false;
        }else{
            checkSUBMIT2();
        }        
    }

}
function checkSUBMIT2(){
    var e2 = document.getElementById("matCOST");
    console.log(e2.value);
    var matcost = e2.value;
    var e3 = document.getElementById("otherCOST");
    var othercost = e3.value;
    var e4 = document.getElementById("totalCOST");
    var totalcost = e4.value;
    var e4_1 = document.getElementById("stdYEAR");
    var stdyear = e4_1.value;
    var e5 = document.getElementById("stdPHONE");
    var stdphone = e5.value;
    var e6 = document.getElementById("tPHONE");
    var tphone = e6.value;
    var e7 = document.getElementById("tPHONEex");
    var tphoneex = e7.value;
    var e8 = document.getElementById("termEND");
    var termend = e8.value;
    var e9 = document.getElementById("yearEND");
    var yearend = e9.value;

    if(isNaN(matcost) || e2.value==''){ 
        alert("กรุณาใส่ค่าใช้จ่ายวัสดุให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(othercost) || e3.value==''){ 
        alert("กรุณาใส่ค่าใช้จ่ายอื่นๆให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(totalcost) || e4.value==''){
        alert("กรุณาใส่ค่าใช้จ่ายรวมให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(stdyear) || e4_1.value==''){
        alert("กรุณาใส่ปีการศึกษาให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(stdphone) || e5.value==''){
        alert("กรุณาใส่หมายเลขโทรศัพท์นักศึกษาให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(tphone) || e6.value==''){
        alert("กรุณาใส่หมายเลขโทรศัพท์อาจารย์ที่ปรึกษาให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(tphoneex)){
        alert("กรุณาใส่หมายเลขโทรศัพท์อาจารย์ที่ปรึกษาให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(termend) || e8.value==''){
        alert("กรุณาใส่ข้อมูลภาคเรียนที่จะเขียนปริญญานิพนธ์เสร็จ ให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else if(isNaN(yearend) || e9.value==''){
        alert("กรุณาใส่ข้อมูลปีการศึกษาที่จะเขียนปริญญานิพนธ์เสร็จ ให้ถูกต้อง (เป็นตัวเลข)");
        return false;
    }else{
        //and then do the next step of action
        return true;
    }
}
</script>
<!--
id ################
f_name
l_name
faculty
major
c_live
c_work
unit
course
p_nameth
p_nameen
adviser
p_adviser
-->
<body onLoad="yearselect();">
    {% ifequal edit '1' %}
    <form action = "{% url 'group6:project_docs_create_3forms_add' %}" method = "post">
    {% else %}
    <form action = "{% url 'group6:project_docs_edit_update' project_id %}" method = "post">
    {% endifequal %}
        {% csrf_token %}
        <div class="page" onMouseMove="return addMoreStd();">
            <center>
                <H>แบบฟอร์มสำรวจหัวข้อโครงงานปริญญานิพนธ์</H><br>
                <H>ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
                <H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
                <H>ปีการศึกษา <select id="yearselect" name="yearOfEducation">
                    <option>test1</option>
                    <option>test2</option>
                    <option>test3</option>
                    <option>test4</option>
                    <option>test5</option>
                    <option>test6</option>
                    <option>test7</option>
                    <option>test8</option>
                    <option>test9</option>
                </select></H><br><font color = "FF0000" name="message">{{ error_yearOE }}</font><br>
            </center>
            <label class="form">
                <H>ชื่อโครงงาน (ภาษาไทย): </H><input id="nameth" type="text" name="name_thai" maxlength="200" value="{{ nameTH }}"> <font color = "FF0000" name="message">{{ error_nameTH }}</font></br>
                <H>ชื่อโครงงาน (อังกฤษ): </H><input id="nameen" type="text" name="name_eng" maxlength="200" value="{{ nameEN }}"> <font color = "FF0000" name="message">{{ error_nameEN }}</font></br>
                <H>จำนวนนักศึกษา: </H><select id="stdnumber" name="numberOfPeople">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> คน <font color = "FF0000" name="message">{{ error_numOP }}</font></br>

            <H>เสนอโดย :</H><br>

            {% if student_list %}
                {% for student in student_list %}
                    {% if forloop.counter == 1 %}
                        <H>{{ forloop.counter }}. {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }} เลขประจำตัว : {{ student.std_id }}</H><br> <div class="namestd" id="namestd">
                    {% else %}
                        {% ifequal edit '1' %}
                            {% ifequal error_student|get_at_index:forloop.counter0 '' %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><input type='text' name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}" value="{{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}"><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}" value="{{ student.std_id }}"></div>
                            {% else %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><input type='text' name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}"><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}"> <font color = "FF0000" name="message">{{ error_student|get_at_index:forloop.counter0 }}</font></div>
                            {% endifequal %}
                        {% else %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><input type='text' name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}" value="{{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}"><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}" value="{{ student.std_id }}"></div>
                        {% endifequal %}
                    {% endif %}
                {% endfor %}
            {% else %}
            <H>1. {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }} <!--</H><input type='text' name='studentNAME0' id="studentNAME0"><H>-->เลขประจำตัว : {{ student.std_id }}</H><!--<input type='text' name='studentID0' maxlength='13' id="studentID0">--><br> <div class="namestd" id="namestd">
            {% endif %}

            
                
            </div>
            <H>ชื่ออาจารย์ที่ปรึกษา  :</H>
            <select id="p_adviser" name="adviser">
              {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.userprofile.firstname_th }} {{ teacher.userprofile.lastname_th }} ({{ teacher.shortname }})</option>
              {% endfor %}
              <!--<option value=”adviser1”>ดร. ศิริชัย รุจิพัฒนพงศ์ (SRU)</option>
              <option value=”adviser2” selected=”selected”>รศ. ดร. วรา วราวิทย์ (VRV)</option>
              <option value=”adviser3”>รศ.ดร. ณชล ไชยรัตนะ (NCC)</option>-->
          </select><font color = "FF0000" name="message">{{ error_adv }}</font></br>


          <H>วัตถุประสงค์:</H> <font color = "FF0000" name="message">{{ error_obj }}</font></br><textarea rows="6" cols="60" name="objective">{{ obj }}</textarea></br>
          <H>แนวเหตุผล ทฤษฏีสำคัญหรือสมมุติฐาน:</H> <font color = "FF0000" name="message">{{ error_reasons }}</font></br><textarea rows="6" cols="60" name="reason">{{ reasons }}</textarea></br>
          <H>ขอบเขตของการทำโครงงาน:</H> <font color = "FF0000" name="message">{{ error_scopes }}</font></br><textarea rows="6" cols="60" name="scope">{{ scopes }}</textarea></br>
          <H>ผลประโยชน์ที่คาดว่าจะได้รับ:</H> <font color = "FF0000" name="message">{{ error_benefits }}</font></br><textarea rows="6" cols="60" name="benefit">{{ benefits }}</textarea></br>	
	<!--</label>
    

    <!--###############################Form 2################################-->
    <!--
    <CENTER><H>คณะวิศวกรรมศาสตร์</H><br>
    <H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
    <H>แบบเสนอโครงงานปริญญานิพนธ์</H><br>
    <H>ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ </H><br>
    <H>ปีการศึกษา</H> <input type="text" name="text"></CENTER><br>
    <label class="form">
    <H>ชื่อโครงงาน (ภาษาไทย):</H> <input type="text" name="text"></br>
    <H>ชื่อโครงงาน (อังกฤษ):</H> <input type="text" name="text"></br>
    <label>ชื่ออาจารย์ที่ปรึกษา  :
        <select name=”adviser”>
            <option value=”adviser1”>ดร. ศิริชัย รุจิพัฒนพงศ์ (SRU)</option>
            <option value=”adviser2” selected=”selected”>รศ. ดร. วรา วราวิทย์ (VRV)</option>
            <option value=”adviser2”>รศ.ดร. ณชล ไชยรัตนะ (NCC)</option>
        </select></br>
        <br/><H>วัตถุประสงค์:</Hn> </br><textarea rows="10" cols="60"></textarea></br>
        <H>แนวเหตุผล ทฤฏีสำคัญหรือสมมุติฐาน:</Hn> </br><textarea rows="10" cols="60"></textarea></br>
            <H>ขอบเขตของการทำโครงงาน</Hn> </br><textarea rows="10" cols="60"></textarea></br>-->
                <H>ประมาณการค่าใช้จ่ายในโครงการ </H> <br>
                <H>ค่าวัสดุ:</H> <input id='matCOST' type="text" name="priceOfMaterial" value="{{ priceOM }}"><H>บาท</H> <font color = "FF0000" name="message">{{ error_priceOM }}</font><br>
                <H>ค่าใช้จ่ายเบ็ดเตล็ด:</H> <input id='otherCOST' type="text" name="priceOfOther" value="{{ priceOO }}"><H>บาท</H> <font color = "FF0000" name="message">{{ error_priceOO }}</font><br>
                <!--<H>รวมค่าใช้จ่ายในโครงการ:</H> <input id='totalCOST' type="text" name="text"><H>บาท (ดังรายระเอียดที่แนบมา)</H></br>
        <H>ผลประโยชน์ที่คาดว่าจะได้รับ:</Hn> </br><textarea rows="10" cols="60"></textarea></br>	
        </label> 
    </label>
    
    
    <!--#####################################Form 3 ######################################## -->
    <!--
    <CENTER><H>คณะวิศวกรรมศาสตร์</H></CENTER></br>
    <CENTER><H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H></CENTER></br>
    <CENTER><H>แบบเสนอขออนุมัติโครงงานปริญญานิพนธ์</H></CENTER></br>
    <CENTER><H>ปีการศึกษา</H> <input type="text" name="text"></CENTER></br>-->
    <!--<H>ด้วยข้าพเจ้า ชื่อและสกุล(ภาษาไทย):</H> <input id="f_name" type="text" name="text"><br>
    <H>ด้วยข้าพเจ้า ชื่อและสกุล(อังกฤษ):</H> <input id="l_name" type="text" name="text"><br>
    <H>ขณะนี้เป็นนักศึกษาปีที่:</H> <input id='stdYEAR' type="text" name="text"><H>ของหลักสูตร:</H> <input type="text" name="text"><H>วิศวกรรมศาสตร์บัณฑิต</H><br>
    <H>ในภาควิชา</H>: <input id="faculty" type="text" name="text"><H>สาขาวิชา</H>: <input id="major" type="text" name="text"><br>
    <H>ตำบลที่อยู่ปัจจุบันของนักศึกษา:</H><br><textarea id="c_live" rows="10" cols="60"></textarea><br>
    <H>โทร:</H> <input id="stdPHONE" type="text" name="text"><br>
    <H>สภานที่ทำงานปัจจุบันของนักศึกษา:</H><br><textarea id="c_work" rows="10" cols="60"></textarea><br>-->
    <H>มีความประสงค์ขออนุมัติทำปริญญานิพนธ์เพื่อเป็นส่วนหนึ่งของการศึกษาตามหลักสูตร</H><br>
    <H>วิศวกรรมศาสตร์บัณฑิต ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ จำนวน:</H><input id="unit" type="text" name="credit" value="{{ credits }}"><H>หน่วย</H> <font color = "FF0000" name="message">{{ error_credits }}</font><br>
    <H>ในวิชา:</H><input id="course" type="text" name="course" value="{{ courses }}"> <font color = "FF0000" name="message">{{ error_courses }}</font><br>
    <!--<H>ชื่อเรื่อง(ภาษาไทย):</H> <br><textarea id="p_nameth" rows="10" cols="60"></textarea><br>
    <H>ชื่อเรื่อง(ภาษาอังกฤษ):</H><br><textarea id="p_nameen" rows="10" cols="60"></textarea><br>
    <H>ชื่ออาจารย์ที่ปรึกษา  :</H>
    <select id="adviser" name=”adviser”>
        <option value=”adviser1”>ดร. ศิริชัย รุจิพัฒนพงศ์ (SRU)</option>
        <option value=”adviser2” selected=”selected”>รศ. ดร. วรา วราวิทย์ (VRV)</option>
        <option value=”adviser2”>รศ.ดร. ณชล ไชยรัตนะ (NCC)</option>
    </select></br>
    
    <H>หมายเลขโทรศัพท์ที่ทำงานของอาจารย์ที่ปรึกษา โทร:</H> <input id='tPHONE' type="text" name="text"></br><H>ต่อ:</H> <input id='tPHONEex' type="text" name="text"></br>-->
    <H>คาดว่าจะเขียนปริญญานิพนธ์เสร็จภายในภาคที่:</H> <input id='termEND' type="text" name="semesterEnd" value="{{ semester }}"> <font color = "FF0000" name="message">{{ error_semester }}</font></br><H>ปีการศึกษา:</H> <input id='yearEND' type="text" name="yearEnd" value="{{ yearEN }}"> <font color = "FF0000" name="message">{{ error_yearEN }}</font></br>
        <!--<H>จิงขอได้โปรดพิจารณาอนุมัติ โดยได้แนบโครงการเสนอปริญญานิพนธ์มาพร้อมนี้</H> 
        <H>วัตถุประสงค์:</Hn> </br><textarea rows="10" cols="60"></textarea></br>
        <H>แนวเหตุผล ทฤฏีสำคัญหรือสมมุติฐาน:</H> </br><textarea rows="10" cols="60"></textarea></br>
        <H>ขอบเขตของการทำโครงงาน</H> </br><textarea rows="10" cols="60"></textarea></br>
        <H>ผลประโยชน์ที่คาดว่าจะได้รับ:</H> </br><textarea rows="10" cols="60"></textarea></br>	
         <p align = "right"><table border="0">
        <tr><td><H>ลงชื่อ:</H><input type="text" name="text"><H>(ผู้ยื่นคำร้อง)</H></td></tr>
         <tr><td><input type="date" name="date"></p></td></tr>
    </table>
    <!--
         <CENTER><table border="1">
         <tr><td><CENTER><H>ความเห็นของอาจารย์ที่ปรึกษา</H></br><textarea rows="10" cols="60"></textarea></br><H>(ลงนาม)</H><input type="text" name="text"></br><input type="date" name="date"></td>
           <td><CENTER><H>ความเห็นของหัวหน้าภาค</H></br><textarea rows="10" cols="60"></textarea></br><H>(ลงนาม)</H><input type="text" name="text"></br><input type="date" name="date"></td></tr> -->
       </label><br>
<H>
<p align="center">ขั้นตอนการดำเนินงานแนวคิดกับแผนที่วางไว้</p>
             		<table border="1" cellpadding="0" cellspacing="0" width="100%" height="208"> 
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>ขั้นตอนที่</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE>
             					รายละเอียดขั้นตอนการดำเนินงาน</br>เริ่มทำปริญญานิพนธ์เมื่อ <input type="text" name="dateSTART" size="1" maxlength="2" value="{{ dateST }}"> เดือน <select id="monthSTART" name="monthSTART">
             						<option value="มกราคม">มกราคม</option>
             						<option value="กุมภาพันธ์">กุมภาพันธ์</option>
             						<option value="มีนาคม">มีนาคม</option>
             						<option value="เมษายน">เมษายน</option>
             						<option value="พฤษภาคม">พฤษพาคม</option>
             						<option value="มิถุนายน">มิถุนายน</option>
             						<option value="กรกฎาคม">กรกฎาคม</option>
             						<option value="สิงหาคม">สิงหาคม</option>
             						<option value="กันยายน">กันยายน</option>
             						<option value="ตุลาคม">ตุลาคม</option>
             						<option value="พฤษจิกายน">พฤษจิกายน</option>
             						<option value="ธันวาคม">ธันวาคม</option>
             					</select> พ.ศ. <select id="yearSTART" name="yearSTART">
							<option>test1</option>
							<option>test2</option>
							<option>test3</option>
							<option>test4</option>
							<option>test5</option>
							<option>test6</option>
							<option>test7</option>
							<option>test8</option>
							<option>test9</option></select></td>

             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
             						<tr border="1">
             							<td width="40%" height="40" align=CENTER valign=MIDDLE>เดือนที่</td>
             						</tr>
             					</table>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	

             						<td width="8%" height="40" align=CENTER valign=MIDDLE>1</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>2</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>3</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>4</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>5</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>6</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>7</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>8</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>9</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>10</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>11</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>12</td>

             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>1</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process1" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process1 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
                                                        {% if checkList1 %}
             						        {% for check in checkList1 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/{{ forloop.counter }}" name="myCheck1/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/{{ forloop.counter }}" name="myCheck1/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
                                                        <tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/1" name="myCheck1/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/2" name="myCheck1/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/3" name="myCheck1/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/4" name="myCheck1/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/5" name="myCheck1/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/6" name="myCheck1/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/7" name="myCheck1/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/8" name="myCheck1/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/9" name="myCheck1/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/10" name="myCheck1/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/11" name="myCheck1/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/12" name="myCheck1/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>2</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process2" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process2 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList2 %}
             						        {% for check in checkList2 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/{{ forloop.counter }}" name="myCheck2/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/{{ forloop.counter }}" name="myCheck2/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/1" name="myCheck2/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/2" name="myCheck2/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/3" name="myCheck2/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/4" name="myCheck2/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/5" name="myCheck2/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/6" name="myCheck2/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/7" name="myCheck2/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/8" name="myCheck2/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/9" name="myCheck2/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/10" name="myCheck2/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/11" name="myCheck2/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/12" name="myCheck2/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>3</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process3" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process3 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList3 %}
             						        {% for check in checkList3 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/{{ forloop.counter }}" name="myCheck3/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/{{ forloop.counter }}" name="myCheck3/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/1" name="myCheck3/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/2" name="myCheck3/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/3" name="myCheck3/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/4" name="myCheck3/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/5" name="myCheck3/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/6" name="myCheck3/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/7" name="myCheck3/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/8" name="myCheck3/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/9" name="myCheck3/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/10" name="myCheck3/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/11" name="myCheck3/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/12" name="myCheck3/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>4</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process4" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process4 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList4 %}
             						        {% for check in checkList4 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/{{ forloop.counter }}" name="myCheck4/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/{{ forloop.counter }}" name="myCheck4/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/1" name="myCheck4/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/2" name="myCheck4/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/3" name="myCheck4/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/4" name="myCheck4/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/5" name="myCheck4/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/6" name="myCheck4/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/7" name="myCheck4/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/8" name="myCheck4/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/9" name="myCheck4/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/10" name="myCheck4/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/11" name="myCheck4/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/12" name="myCheck4/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>5</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process5" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process5 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList5 %}
             						        {% for check in checkList5 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/{{ forloop.counter }}" name="myCheck5/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/{{ forloop.counter }}" name="myCheck5/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/1" name="myCheck5/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/2" name="myCheck5/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/3" name="myCheck5/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/4" name="myCheck5/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/5" name="myCheck5/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/6" name="myCheck5/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/7" name="myCheck5/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/8" name="myCheck5/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/9" name="myCheck5/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/10" name="myCheck5/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/11" name="myCheck5/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/12" name="myCheck5/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>6</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process6" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process6 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList6 %}
             						        {% for check in checkList6 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/{{ forloop.counter }}" name="myCheck6/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/{{ forloop.counter }}" name="myCheck6/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
     <!--</table>
	 <table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
	 -->
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/1" name="myCheck6/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/2" name="myCheck6/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/3" name="myCheck6/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/4" name="myCheck6/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/5" name="myCheck6/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/6" name="myCheck6/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/7" name="myCheck6/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/8" name="myCheck6/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/9" name="myCheck6/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/10" name="myCheck6/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/11" name="myCheck6/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/12" name="myCheck6/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 
<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>7</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process7" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process7 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList7 %}
             						        {% for check in checkList7 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/{{ forloop.counter }}" name="myCheck7/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/{{ forloop.counter }}" name="myCheck7/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
     <!--</table>
	 <table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
	 -->
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/1" name="myCheck7/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/2" name="myCheck7/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/3" name="myCheck7/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/4" name="myCheck7/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/5" name="myCheck7/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/6" name="myCheck7/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/7" name="myCheck7/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/8" name="myCheck7/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/9" name="myCheck7/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/10" name="myCheck7/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/11" name="myCheck7/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/12" name="myCheck7/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 
<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>8</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process8" class='col-sm-offset-1 col-sm-10' maxlength='250' value="{{ process8 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList8 %}
             						        {% for check in checkList8 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/{{ forloop.counter }}" name="myCheck8/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/{{ forloop.counter }}" name="myCheck8/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
     <!--</table>
	 <table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
	 -->
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/1" name="myCheck8/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/2" name="myCheck8/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/3" name="myCheck8/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/4" name="myCheck8/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/5" name="myCheck8/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/6" name="myCheck8/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/7" name="myCheck8/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/8" name="myCheck8/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/9" name="myCheck8/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/10" name="myCheck8/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/11" name="myCheck8/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/12" name="myCheck8/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 

<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->




<!-- input getname 'dateSTART','monthSTART','yearSTART' and textfield in each process is 'process1' - 'process8' and checkbox is 'myCheckY/X' while Y is row and X is col 

and last is note is 'notation'
-->



</table></H>
<font color = "FF0000" name="message">{{ error_dateST }}</font> 
<font color = "FF0000" name="message">{{ error_monthST }}</font> 
<font color = "FF0000" name="message">{{ error_yearST }}</font>
<font color = "FF0000" name="message">{{ error_process }}</font></br>
<div class="row">
<h4 class='col-sm-offset-1'>หมายเหตุ:</h4><textarea class="col-sm-offset-1 col-sm-10" name="notation" rows="10">{{ note }}</textarea>
</div>

   </div>
   <center><br>
    <input class="btn btn-primary" type="submit" value="บันทึก" name='save' />
    <a href="{% url 'group6:project_docs_index' %}"><input class="btn btn-danger" type="button" value="ยกเลิก" name = 'cancel' /></a>
</center>
</form>
<br>

<!--
<H id="myTextarea">Form HTML</H>
<p>Click the button to get the content of the text area.</p>
<button type="button" onClick="myFunction()">Try it</button>
<p id="demo"></p>
-->
</div>
{% endblock %}
