<!-- Extend in base.html as a body -->
{% extends "base.html" %}
<!-- Use customfunction in this page -->
{% load custom_function %}
<!-- Command for setting title of page -->
{% block title %}ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี - สร้างฟอร์มเสนอโครงงานใหม่{% endblock %}
<!-- Command for setting header of page -->
{% block pageHeader %}
<h2>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group6:project_docs_index' %}">ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</a></li>
    <li class="active">สร้างแบบฟอร์มเสนอโครงงานใหม่</li>
</ol>
{% endblock %}
<!-- This for content in base.html -->
{% block content %}
<div class="container-fluid">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!-- Style sheet : Use CSS for each tag name or class -->
    <style>
    table,tr,td{
        border-collapse: collapse;
    }
    body{
       background-color:white;
   }
   .page{
       width:210mm;
       margin:auto;
       position:relative;
       padding: 2cm;
       border: 1px #D3D3D3 solid;
       border-radius: 5px;
       background: white;
   }
   .form > H{
       margin-left:10;
   }
   .namestd{
       margin-left:10;
   }
   textarea {
       margin-left:10;
       resize:none;
       outline:none;
   }
   H{
       font:16pt "Angsana New";
   }
   input{
       outline:none;
       resize:none;
   }
   #o1{
       text-align:center;
   }
  </style>
  <!-- java script -->
  <script>
var dict = {
{% for s in student_all %}
        "{{ s.std_id }}": "{{ s.userprofile.prefix_name|get_prefix_name_th }} {{ s.userprofile.firstname_th }} {{ s.userprofile.lastname_th }}",
{% endfor %}
};

<!-- Use for update when type the student number -->
window.setInterval(function updateStudent(){
    var e1 = document.getElementById("stdnumber");
    var stdnum = e1.value;
    for(i=1; i<stdnum; i++){
        document.getElementById("studentNAME"+i).innerHTML = dict[document.getElementById("studentID"+i).value];
    }
}, 1000);

<!-- function yearselect use for select semester, year end of project -->
function yearselect(){
    var year = new Date();										<!-- Value of current date -->
    var list = document.getElementById("yearselect");			<!-- set tag id "yearselect" as "list" -->
    var list2 = document.getElementById("yearEnd");				<!-- set tag id "yearEnd" as "list2" -->
    var list3 = document.getElementById("termEND");				<!-- set tag id "termEND" as "list3" -->
    var i;														<!-- variable for looping -->
    for (i=0;i<list.length;i++){								<!-- loop for edit value in list as yesr -->
        list.options[i].text = year.getFullYear()-i+543;
        list.options[i].value = year.getFullYear()-i+543;
    }		
	for (i=0;i<list2.length;i++){								<!-- loop for edit value in list as yesr end project -->
        list2.options[i].text = year.getFullYear()+i+543;
        list2.options[i].value = year.getFullYear()+i+543;
    }
	<!-- Update value when edit this page -->
    var sel = document.getElementById("stdnumber");				
    sel.value = {{ numOP }};
    list.value = {{ yearOE }};
    list2.value = {{ yearEN }};
    list3.value = {{ semester }}
}

	<!-- Function for add more student in project -->
function addMoreStd(){
    var e1 = document.getElementById("stdnumber");				<!-- set tag id "stdnumber" as "e1" -->
    var stdnum = e1.value;										<!-- stdnum is value of e1 -->
    var txts = "";
    for (i = 1; i < 5; i++) { 									<!-- in this loop is for add textbox for add student -->
        var e2 = document.getElementById("studentElement"+i);
        if(i < stdnum){
            if(e2 == null){
                txts += "<div id='studentElement" + i + "'><H>"+e1.options[i].text+". "+"</H><H>เลขประจำตัว : </H><input type='text' name='studentID" + (i) + "' maxlength='13' id='studentID" + (i) + "'> <B id='studentNAME" + (i) +"' name='studentNAME" + (i) +"'></B></div>";
            }
        }else{
            if(e2 != null){
                e2.remove();
            }
        }
    }
    document.getElementById("namestd").innerHTML += txts;
}

</script>
<!--
id ################
f_name
l_name
faculty
major
c_live
c_work
unit
course
p_nameth
p_nameen
adviser
p_adviser
-->
<body onLoad="yearselect();">									<!-- load function yearselect when load this page -->
    <!-- if/else for check that update case or new case -->
    {% ifequal edit '1' %}
    <form action = "{% url 'group6:project_docs_create_3forms_add' %}" method = "post">
    {% else %}
    <form action = "{% url 'group6:project_docs_edit_update' project_id %}" method = "post">
    {% endifequal %}
        {% csrf_token %}
        
<!-- after this are HTML coding  -->
<!-- {.{ ... }} is syntax for access database and add | for function in custom_function ("{.{" to avoid error) -->
<!-- {.% ... %} is syntax for operation ex. if/else , forloop, etc. ("{.%" to aviod error) -->
        <div class="page">
            <center>
                <H>แบบฟอร์มสำรวจหัวข้อโครงงานปริญญานิพนธ์</H><br>
                <H>ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
                <H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
                <H>ปีการศึกษา <select id="yearselect" name="yearOfEducation">
                    <option>test1</option>
                    <option>test2</option>
                    <option>test3</option>
                    <option>test4</option>
                    <option>test5</option>
                    <option>test6</option>
                    <option>test7</option>
                    <option>test8</option>
                    <option>test9</option>
                </select></H><br><font color = "FF0000" name="message">{{ error_yearOE }}</font><br>
            </center>
            <label class="form">
                <font color = "FF0000" name="message">---ชื่อโครงงานจำกัดจำนวนตัวอักษร 150 ตัวอักษร---</font><br>
                <H>ชื่อโครงงาน (ภาษาไทย): </H><input id="nameth" type="text" name="name_thai" maxlength="150" value="{{ nameTH }}"> <font color = "FF0000" name="message">{{ error_nameTH }}</font></br>
                <H>ชื่อโครงงาน (อังกฤษ): </H><input id="nameen" type="text" name="name_eng" maxlength="150" value="{{ nameEN }}"> <font color = "FF0000" name="message">{{ error_nameEN }}</font></br>
                <H>จำนวนนักศึกษา: </H><select onChange="return addMoreStd();" id="stdnumber" name="numberOfPeople">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> คน <font color = "FF0000" name="message">{{ error_numOP }}</font></br>

            <H>เสนอโดย :</H><br>

            {% if student_list %}
                {% for student in student_list %}
                    {% if forloop.counter == 1 %}
                        <H>{{ forloop.counter }}. เลขประจำตัว : {{ student.std_id }} {{ student.userprofile.prefix_name|get_prefix_name_th }} {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}</H><br> <div class="namestd" id="namestd">
                    {% else %}
                        {% ifequal edit '1' %}
                            {% ifequal error_student|get_at_index:forloop.counter0 '' %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}" value="{{ student.std_id }}"> <B name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}">{{ student.userprofile.prefix_name|get_prefix_name_th }} {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}</B></div>
                            {% else %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}"> <B name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}"></B> <font color = "FF0000" name="message">{{ error_student|get_at_index:forloop.counter0 }}</font></div>
                            {% endifequal %}
                        {% else %}
                            <div id='studentElement{{ forloop.counter0 }}'><H>{{ forloop.counter }}. </H><H>เลขประจำตัว :</H><input type='text' name='studentID{{ forloop.counter0 }}' maxlength='13' id="studentID{{ forloop.counter0 }}" value="{{ student.std_id }}"> <B name='studentNAME{{ forloop.counter0 }}' id="studentNAME{{ forloop.counter0 }}">{% if student %}
{{ student.userprofile.prefix_name|get_prefix_name_th }} {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}
{% endif %}</B> {% if error_student %}<font color = "FF0000" name="message">{{ error_student|get_at_index:forloop.counter0 }}</font>{% endif %}</div>
                        {% endifequal %}
                    {% endif %}
                {% endfor %}
            {% else %}
            <H>1. เลขประจำตัว : {{ student.std_id }} {{ student.userprofile.prefix_name|get_prefix_name_th }} {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}</H>
            <br> <div class="namestd" id="namestd">
            {% endif %}

            
                
            </div>
            <H>ชื่ออาจารย์ที่ปรึกษา  :</H>
            <select id="p_adviser" name="adviser">
              {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.academic_position|get_prefix_name_th_teacher:teacher.userprofile.prefix_name }} {{ teacher.userprofile.firstname_th }} {{ teacher.userprofile.lastname_th }} ({{ teacher.shortname }})</option>
              {% endfor %}
              
          </select><font color = "FF0000" name="message">{{ error_adv }}</font></br>

          <font color = "FF0000" name="message">---วัตถุประสงค์, แนวเหตุผล ทฤษฏีสำคัญหรือสมมุติฐาน, ขอบเขตของการทำโครงงาน, ผลประโยชน์ที่คาดว่าจะได้รับ จำกัดจำนวนตัวอักษร 300 ตัวอักษร---</font><br>
          <H>วัตถุประสงค์:</H> <font color = "FF0000" name="message">{{ error_obj }}</font></br><textarea rows="6" cols="60" name="objective" maxlength="300">{{ obj }}</textarea></br>
          <H>แนวเหตุผล ทฤษฏีสำคัญหรือสมมุติฐาน:</H> <font color = "FF0000" name="message">{{ error_reasons }}</font></br><textarea rows="6" cols="60" name="reason" maxlength="300">{{ reasons }}</textarea></br>
          <H>ขอบเขตของการทำโครงงาน:</H> <font color = "FF0000" name="message">{{ error_scopes }}</font></br><textarea rows="6" cols="60" name="scope" maxlength="300">{{ scopes }}</textarea></br>
          <H>ผลประโยชน์ที่คาดว่าจะได้รับ:</H> <font color = "FF0000" name="message">{{ error_benefits }}</font></br><textarea rows="6" cols="60" name="benefit" maxlength="300">{{ benefits }}</textarea></br>	
                <H>ประมาณการค่าใช้จ่ายในโครงการ </H> <br>
                <H>ค่าวัสดุ:</H> <input id='matCOST' type="text" name="priceOfMaterial" value="{{ priceOM }}"><H>บาท</H> <font color = "FF0000" name="message">{{ error_priceOM }}</font><br>
                <H>ค่าใช้จ่ายเบ็ดเตล็ด:</H> <input id='otherCOST' type="text" name="priceOfOther" value="{{ priceOO }}"><H>บาท</H> <font color = "FF0000" name="message">{{ error_priceOO }}</font><br>
    <H>มีความประสงค์ขออนุมัติทำปริญญานิพนธ์เพื่อเป็นส่วนหนึ่งของการศึกษาตามหลักสูตร</H><br>
    <H>วิศวกรรมศาสตร์บัณฑิต ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ จำนวน:</H><input id="unit" type="text" name="credit" value="{{ credits }}"><H>หน่วย</H> <font color = "FF0000" name="message">{{ error_credits }}</font><br>
    
    <!-- Must FIX -->
    <H>ในวิชา:</H><select id="course" name="course">
                <option value="114901 โครงงาน 1 : Project I (EE 51)">114901 โครงงาน 1 : Project I (EE 51)</option>
                <option value="114902 โครงงาน 2 : Project II (EE 51)">114902 โครงงาน 2 : Project II (EE 51)</option>
                <option value="010113941 โครงงาน 1 : Project I (EE 55)">010113941 โครงงาน 1 : Project I (EE 55)</option>
                <option value="010113942 โครงงาน 2 : Project II (EE 55)">010113942 โครงงาน 2 : Project II (EE 55)</option>
                <option value="114321 โครงงานวิศวกรรคอมพิวเตอร์ 1 : Computer Engineering Project I (Cpr.E 49)">114321 โครงงานวิศวกรรคอมพิวเตอร์ 1 : Computer Engineering Project I (Cpr.E 49)</option>
                <option value="114322 โครงงานวิศวกรรคอมพิวเตอร์ 2 : Computer Engineering Project II (Cpr.E 49)">114322 โครงงานวิศวกรรคอมพิวเตอร์ 2 : Computer Engineering Project II (Cpr.E 49)</option>
                <option value="010123122 โครงงาน 1 : Project I (Cpr.E 54)">010123122 โครงงาน 1 : Project I (Cpr.E 54)</option>
                <option value="010123123 โครงงาน 2 : Project II (Cpr.E 54)">010123123 โครงงาน 2 : Project II (Cpr.E 54)</option>
            </select> <font color = "FF0000" name="message">{{ error_courses }}</font><br>
    <!-- Must FIX -->
    <H>คาดว่าจะเขียนปริญญานิพนธ์เสร็จภายในภาคที่:</H> <select id="termEND" name="semesterEnd">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <!--<input id='termEND' type="text" name="semesterEnd" value="{{ semester }}">--> <font color = "FF0000" name="message">{{ error_semester }}</font></br>
    <H>ปีการศึกษา <select id="yearEnd" name="yearEnd">
                    <option>test1</option>
                    <option>test2</option>
                    <option>test3</option>
                    <option>test4</option>
                    <option>test5</option>
                    <option>test6</option>
                    <option>test7</option>
                    <option>test8</option>
                    <option>test9</option>
                </select></H> <font color = "FF0000" name="message">{{ error_yearEN }}</font></br>
</label><br>
<font color = "FF0000" name="message">---ขั้นตอนการดำเนินงานจำกัดจำนวนตัวอักษร 150 ตัวอักษร---</font><br>
<H>
<p align="center">ขั้นตอนการดำเนินงานแนวคิดกับแผนที่วางไว้</p>
             		<table border="1" cellpadding="0" cellspacing="0" width="100%" height="208"> 
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>ขั้นตอนที่</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE>
             					รายละเอียดขั้นตอนการดำเนินงาน</br>เริ่มทำปริญญานิพนธ์เมื่อ 
                                <div class="col-sm-9">
                    <input style="font-size:16pt;" type="date" name="startDate" value="{{ startDate }}" class="form-control" placeholder="วันเริ่ม" title="วันเริ่ม">
                </div></td>

             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
             						<tr border="1">
             							<td width="40%" height="40" align=CENTER valign=MIDDLE>เดือนที่</td>
             						</tr>
             					</table>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	

             						<td width="8%" height="40" align=CENTER valign=MIDDLE>1</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>2</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>3</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>4</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>5</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>6</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>7</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>8</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>9</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>10</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>11</td> 
             						<td width="8%" height="40" align=CENTER valign=MIDDLE>12</td>

             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>1</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process1" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process1 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
                                                        {% if checkList1 %}
             						        {% for check in checkList1 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/{{ forloop.counter }}" name="myCheck1/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/{{ forloop.counter }}" name="myCheck1/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
                                                        <tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/1" name="myCheck1/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/2" name="myCheck1/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/3" name="myCheck1/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/4" name="myCheck1/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/5" name="myCheck1/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/6" name="myCheck1/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/7" name="myCheck1/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/8" name="myCheck1/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/9" name="myCheck1/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/10" name="myCheck1/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/11" name="myCheck1/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck1/12" name="myCheck1/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>2</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process2" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process2 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList2 %}
             						        {% for check in checkList2 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/{{ forloop.counter }}" name="myCheck2/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/{{ forloop.counter }}" name="myCheck2/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/1" name="myCheck2/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/2" name="myCheck2/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/3" name="myCheck2/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/4" name="myCheck2/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/5" name="myCheck2/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/6" name="myCheck2/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/7" name="myCheck2/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/8" name="myCheck2/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/9" name="myCheck2/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/10" name="myCheck2/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/11" name="myCheck2/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck2/12" name="myCheck2/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>3</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process3" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process3 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList3 %}
             						        {% for check in checkList3 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/{{ forloop.counter }}" name="myCheck3/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/{{ forloop.counter }}" name="myCheck3/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/1" name="myCheck3/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/2" name="myCheck3/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/3" name="myCheck3/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/4" name="myCheck3/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/5" name="myCheck3/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/6" name="myCheck3/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/7" name="myCheck3/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/8" name="myCheck3/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/9" name="myCheck3/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/10" name="myCheck3/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/11" name="myCheck3/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck3/12" name="myCheck3/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>4</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process4" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process4 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList4 %}
             						        {% for check in checkList4 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/{{ forloop.counter }}" name="myCheck4/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/{{ forloop.counter }}" name="myCheck4/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/1" name="myCheck4/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/2" name="myCheck4/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/3" name="myCheck4/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/4" name="myCheck4/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/5" name="myCheck4/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/6" name="myCheck4/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/7" name="myCheck4/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/8" name="myCheck4/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/9" name="myCheck4/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/10" name="myCheck4/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/11" name="myCheck4/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck4/12" name="myCheck4/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>5</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process5" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process5 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList5 %}
             						        {% for check in checkList5 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/{{ forloop.counter }}" name="myCheck5/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/{{ forloop.counter }}" name="myCheck5/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
             						<tr>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/1" name="myCheck5/1"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/2" name="myCheck5/2"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/3" name="myCheck5/3"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/4" name="myCheck5/4"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/5" name="myCheck5/5"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/6" name="myCheck5/6"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/7" name="myCheck5/7"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/8" name="myCheck5/8"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/9" name="myCheck5/9"></td> 
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/10" name="myCheck5/10"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/11" name="myCheck5/11"></td>
             							<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck5/12" name="myCheck5/12"></td>
             						</tr>
                                                        {% endif %}
             					</table>
             				</td>
             			</tr> 
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->
             			<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>6</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process6" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process6 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList6 %}
             						        {% for check in checkList6 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/{{ forloop.counter }}" name="myCheck6/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/{{ forloop.counter }}" name="myCheck6/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
     <!--</table>
	 <table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
	 -->
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/1" name="myCheck6/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/2" name="myCheck6/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/3" name="myCheck6/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/4" name="myCheck6/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/5" name="myCheck6/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/6" name="myCheck6/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/7" name="myCheck6/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/8" name="myCheck6/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/9" name="myCheck6/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/10" name="myCheck6/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/11" name="myCheck6/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck6/12" name="myCheck6/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 
<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>7</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process7" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process7 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList7 %}
             						        {% for check in checkList7 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/{{ forloop.counter }}" name="myCheck7/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/{{ forloop.counter }}" name="myCheck7/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/1" name="myCheck7/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/2" name="myCheck7/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/3" name="myCheck7/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/4" name="myCheck7/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/5" name="myCheck7/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/6" name="myCheck7/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/7" name="myCheck7/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/8" name="myCheck7/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/9" name="myCheck7/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/10" name="myCheck7/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/11" name="myCheck7/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck7/12" name="myCheck7/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 
<tr border="0">
             				<td width="20%" height="40" align=CENTER valign=MIDDLE>8</td> 
             				<td width="40%" height="40"align=CENTER valign=MIDDLE><input type="text" name="process8" class='col-sm-offset-1 col-sm-10' maxlength='100' value="{{ process8 }}"></td>
             				<td width="40%" height="40" align=CENTER valign=MIDDLE>
             					<table border="1"  cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >
                                                        {% if checkList8 %}
             						        {% for check in checkList8 %}
                                                                        {% if check %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/{{ forloop.counter }}" name="myCheck8/{{ forloop.counter }}" checked></td>
                                                                        {% else %}
                                                                                <td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/{{ forloop.counter }}" name="myCheck8/{{ forloop.counter }}"></td>
                                                                        {% endif %}
                                                                {% endfor %}
                                                        {% else %}
     <!--</table>
	 <table border="1" cellpadding="0" cellspacing="0" width="100%" height="50%" align="center" >	
	 -->
	 <tr>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/1" name="myCheck8/1"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/2" name="myCheck8/2"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/3" name="myCheck8/3"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/4" name="myCheck8/4"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/5" name="myCheck8/5"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/6" name="myCheck8/6"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/7" name="myCheck8/7"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/8" name="myCheck8/8"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/9" name="myCheck8/9"></td> 
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/10" name="myCheck8/10"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/11" name="myCheck8/11"></td>
	 	<td width="8%" height="40" align=CENTER valign=MIDDLE><input type="checkbox" id="myCheck8/12" name="myCheck8/12"></td>
	 </tr>
                                                        {% endif %}
	</table>
</td>
</tr> 

<!--..///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////.-->




<!-- input getname 'dateSTART','monthSTART','yearSTART' and textfield in each process is 'process1' - 'process8' and checkbox is 'myCheckY/X' while Y is row and X is col 

and last is note is 'notation'
-->



</table></H>
<font color = "FF0000" name="message">{{ error_dateST }}</font> 
<font color = "FF0000" name="message">{{ error_monthST }}</font> 
<font color = "FF0000" name="message">{{ error_yearST }}</font>
<font color = "FF0000" name="message">{{ error_process }}</font></br>
<div class="row">
<font color = "FF0000" name="message">---หมายเหตุจำกัดจำนวนตัวอักษร 450 ตัวอักษร---</font><br>
<h4 class='col-sm-offset-1'>หมายเหตุ:</h4><textarea class="col-sm-offset-1 col-sm-10" name="notation" rows="10" maxlength="450">{{ note }}</textarea>
</div>

   </div>
   <center><br>
    <input class="btn btn-primary" type="submit" value="บันทึก" name='save' />
    <a href="{% url 'group6:project_docs_index' %}"><input class="btn btn-danger" type="button" value="ยกเลิก" name = 'cancel' /></a>
</center>
</form>
<br>

</div>
{% endblock %}
