{% extends "base.html" %}

{% block title %}ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี - แบบเสนอโครงงานปริญญานิพนธ์ - {{ offer.project.name_thai }}{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group6:project_docs_index' %}">ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</a></li>
    <li class="active">แบบเสนอโครงงานปริญญานิพนธ์ - {{ offer.project.name_thai }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
.page{
	width:210mm;
	height:297mm;
	margin:auto;
	position:relative;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
	}
.form > H{
	margin-left:50;
}
H{
        font:16pt "Angsana New";
}
textarea {
	margin-left:50;
	resize:none;
	outline:none;
	}
input{
	outline:none;
	resize:none;
	}
#o1{
	text-align:center;
	}
@page{
	size:A4;
	margin:0;
	}
.text{
	border: 1px solid #000; /* Use for change border width*/
	width:120mm;
	height:26mm;
	resize:none;
	margin-left:50;
	
	}
.namestd{
	margin-left:50;
	}
/*@media print {
  .page {
		margin:0;
		font-size:20px;
		position:absolute;
		border: initial;
		width: initial;
		height:initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		}
}*/
</style>
<div class="page">
<CENTER><H>คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H>แบบเสนอโครงงานปริญญานิพนธ์</H><br>
<H>ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ </H><br>
<H>ปีการศึกษา {{ offer.project.yearOfEducation }}</H></CENTER>
<label class="form">
<H>ชื่อโครงงาน (ภาษาไทย) : {{ offer.project.name_thai }}</H><br>
<H>ชื่อโครงงาน (อังกฤษ) : {{ offer.project.name_eng }}</H><br>
<H>เสนอโดย :</H>
<div class="namestd" id="namestd">
{% for student in offer.project.student.all %}
<H>{{ forloop.counter }}. {{ student.userprofile.firstname_th }} {{ student.userprofile.lastname_th }}</H><H> เลขประจำตัว : {{ student.std_id }}</H><br>
{% endfor %}
</div>
<H>ชื่ออาจารย์ที่ปรึกษา : {{ offer.project.teacher.userprofile.firstname_th }} {{ offer.project.teacher.userprofile.lastname_th }} ({{ offer.project.teacher.shortname }})</H><br>
	<H>วัตถุประสงค์ :</H><br><div class="text">{{ offer.project.objective }}</div>
	<H>แนวเหตุผล ทฤฏีสำคัญหรือสมมุติฐาน :</H><div class="text">{{ offer.project.reason }}</div>
	<H>ขอบเขตของการทำโครงงาน :</H><br><div class="text">{{ offer.project.scope }}</div>

	<H>ประมาณการค่าใช้จ่ายในโครงการ </H><br>
    <H>ค่าวัสดุ : {{ offer.priceOfMaterial }}</H><H> บาท</H><br>
    <H>ค่าใช้จ่ายเบ็ดเตล็ด : {{ offer.priceOfOther }}</H><H> บาท</H><br>
	<H>รวมค่าใช้จ่ายในโครงการ : {{ priceOfTotal }}</H><H> บาท (ดังรายระเอียดที่แนบมา)</H></br>
	<H>ผลประโยชน์ที่คาดว่าจะได้รับ :</H><br><div class="text">{{ offer.project.benefit }}</div>	
	</label>
</div>
<a href="{% url 'group6:project_docs_index' %}"><input class="btn btn-danger" type="button" value="ย้อนกลับ" name = 'cancel' /></a> 
<a class="btn btn-default" href="{% url 'group6:project_docs_offerProject_print' offer.id %}" target = _blank><span class="glyphicon glyphicon-print"></span></a>
</div>
{% endblock %}
