{% extends "base.html" %}

{% block title %}ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี - แบบฟอร์มสำรวจหัวข้อโครงงานปริญญานิพนธ์ - {{ research.project.name_thai }}{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group6:project_docs_index' %}">ระบบ จัดการโครงงาน สำหรับนักศึกษา ปริญญาตรี</a></li>
    <li class="active">แบบฟอร์มสำรวจหัวข้อโครงงานปริญญานิพนธ์ - {{ research.project.name_thai }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body{
	}
.page{
	font:14pt "Angsana New";
	width:210mm;
	height:auto;
	margin:auto;
	position:relative;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
	word-break:break-all;
	}
.form > H{
	margin-left:0;
}
.text{
	border:none; /*Use for change border width*/
	resize:none;
	margin-left:0;
	float:none;
	
	}
#nameeng{
	padding-left:20mm;
	word-break:break-all;
	}
#yearspace{
	display:block;
	margin-bottom:10mm;
	 }
#nameth{
	padding-left:2mm;
	word-break:break-all;
	}
@media print {
	.page {
		font:14pt "Angsana New";
		margin-top:21mm;
		margin-left:26mm;
		margin-right:14mm;
		padding:0;
		width:initial;
		height:initial;
		size:portrait;
		position:absolute;
		border:0;
		border-radius:0;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		display:block;
		}
	#nameeng{
		padding-left:18mm;
		}
	.text{
		margin-left:0;
	}
	#yearspace{
		display:block;
		margin-bottom:10mm;
		 }
	#nameth{
		padding-left:2mm;
		}
}
</style>
<div class="page">
<center>
<H><b>แบบฟอร์มสำรวจหัวข้อโครงงานปริญญานิพนธ์</b></H><br>
<H>ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<br id="yearspace">
<H>ปีการศึกษา {{ research.project.yearOfEducation }}</H><br>
<br id="yearspace">
</center>
<label class="form">
<H>ชื่อโครงการ</H><H id="nameth">(ภาษาไทย) {{ research.project.name_thai }}</H><br>
<H id="nameeng">(ภาษาอังกฤษ) {{ research.project.name_eng }}</H><br>
<H>จำนวนนักศึกษา {{ research.numberOfPeople }} คน </H><br>
<H>ชื่ออาจารย์ที่ปรึกษา {{ research.project.teacher.userprofile.firstname_th }} {{ research.project.teacher.userprofile.lastname_th }} ({{ research.project.teacher.shortname }})</H>
	<div class="text">วัตถุประสงค์ {{ research.project.objective }}</div>
	<div class="text">แนวเหตุผล ทฤฏีสำคัญหรือสมมุติฐาน {{ research.project.reason }}</div>
	<div class="text">ขอบเขตของการทำโครงงาน {{ research.project.scope }}</div>
	<div class="text">ผลประโยชน์ที่คาดว่าจะได้รับ {{ research.project.benefit }}</div>
	</label>
</div><br>
<a href="{% url 'group6:project_docs_index' %}"><input class="btn btn-danger" type="button" value="ย้อนกลับ" name = 'cancel' /></a> 
<a class="btn btn-default" href="{% url 'group6:project_docs_researchProject_print' research.id %}" target = _blank><span class="glyphicon glyphicon-print"></span></a>
</div><br>
{% endblock %}
