{% extends "base.html" %}
{% block head %}
    <style>

    </style>
{% endblock %}

{% block title %}ระบบการเบิกจ่ายค่ารักษาพยาบาล{% endblock %}

{% block pageHeader %}
<h2>ระบบ<small>การเบิกจ่ายค่ารักษาพยาบาล</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">หน้าหลักของผู้ใช้งาน</li>
</ol>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"  class="active"><a href="#showStat" aria-controls="showStat" role="tab" data-toggle="tab">สถิติการเบิกจ่าย</a></li>
        <li role="presentation"><a href="#newCure" aria-controls="newCure" role="tab" data-toggle="tab">สร้างใบเบิกจ่ายค่ารักษาพยาบาล</a></li>
        <li role="presentation"><a href="#newStudy" aria-controls="newstudy" role="tab" data-toggle="tab">สร้างใบเบิกจ่ายเงินสวัสดิการ</a></li>
        <li role="presentation"><a href="#editFamily" aria-controls="editFamily" role="tab" data-toggle="tab">แก้ไขข้อมูลครอบครัว</a></li>
    </ul><br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="showStat">

                {% if eachUserDataList %}
                <h3>สถิติการเบิกจ่ายค่ารักษาพยาบาลของผู้ใช้งาน</h3>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-hover table bordered">
                                    <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>จำนวนเงิน</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in eachUserDataList %}
                                    <tr>
                                        <td data-title="ลำดับ">{{ forloop.counter }}</td>
                                        <td data-title="วันที่">{{ data.date }}</td>
                                        <td data-title="จำนวนเงิน">{{ data.price }}</td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                {% endif %}



    {% if withdrawCureList %}
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3>ใบการเบิกจ่ายค่ารักษาพยาบาลทั้งหมดของผู้ใช้งาน</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>วันที่</th>
                                <th>เมนู</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for officer in withdrawCureList%}
                            <tr>
                                <td data-title="ลำดับ">{{ forloop.counter }}</td>
                                <td data-title="วันที่">{{ officer.dateCommit }}</td>
                                 <td data-title="เมนู">
                                     <a class="btn btn-info btn-xs" href="{% url 'group4:addpdf' officer.id%}" target="_blank">พิมพ์</a>
                                 </td>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table><br><br><br><br><br>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}

            </div>


            <div role="tabpanel" class="tab-pane" id="newCure">
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <form class="form-horizontal" method="post" action="{%url 'group4:commitWithdrawCure'%}">
                                {% csrf_token %}
                                <fieldset disabled>
                                    <b>ข้าพเจ้า </b><input type="text" class="form-control" name='name' value="{{objUsers.firstname_th}} {{objUsers.lastname_th}}"><br>
                                </fieldset>
                                <b>เลขที่บัญชีออมทรัพย์</b><input type="text" class="form-control" name='account_id' required><br>
                                <b>ขอเบิกค่ารักษาพยาบาลของ</b><br>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off" name="check" value="1">ตนเอง
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off" name="check" value="2">คู่สมรส
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off" name="check" value="3">บิดา
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off" name="check" value="4">มารดา
                                    </label>
                                    <label class="btn btn-primary" name="childW1" onclick="jQuery('#child1').toggle(500)" >
                                        <input type="checkbox" autocomplete="off" name="check" value="5">บุตร
                                    </label>
                                    <label class="btn btn-primary" onclick="jQuery('#child2').toggle(500)">
                                        <input type="checkbox" autocomplete="off" name="check" value="6">บุตร
                                    </label>
                                </div><br><br>

                                <div id="child1" style="display:none"><b>บุตรคนที่ </b><input type="number" name="orderchildW1" class="form-control"><br></div>
                                <div id="child2" style="display:none"><b>บุตรคนที่ </b><input type="number" name="orderchildW2" class="form-control"><br></div>


                                <b>ป่วยเป็นโรค</b><input type='text' class="form-control" name='disease'><br>
                                <b>ได้รับการตรวจรักษาพยาบาลจาก</b><input type='text' class="form-control" name='hospital'><br>
                                <b>เป็นสถานพยบาลของ</b>
                                <select class="form-control" name='hospitalOf'>
                                    <option value="2" selected="selected">-- Please Select --</option>
                                    <option value="0">ของทางราชการ</option>
                                    <option value="1">เอกชน</option>
                                </select><br>
                                <b>ตั้งแต่วันที่</b><input type='date' class="form-control" name='startDate'><br>
                                <b>ถึงวันที่</b><input type='date' class="form-control" name='stopDate'><br>
                                <b>เป็นเงินรวมทั้งสิ้น(บาท)</b><input type='text' class="form-control" name='value'><br>
                                <b>(จำนวนเงินเป็นภาษาไทย)</b><input type='text' class="form-control" name='valueChar'><br>
                                <b>ตามใบเสร็จรับเงินที่แนบจำนวน</b><input type='text' class="form-control" name='numBill'><br>

                                <!--<b>เป็นเงิน(บาท)</b><input type='text' class="form-control" name='credit'><br>
                                <b>(จำนวนเงินภาษาไทย)</b><input type='text' class="form-control" name='creditChar'><br>-->
                                <center><button type="submit" class="btn btn-primary">บันทึกข้อมูลใบเบิกจ่าย</button></center><br><br><br>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="newStudy">
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <form class="form-horizontal" method="post" action="{%url 'group4:commitWithdrawCure'%}">
                                {% csrf_token %}
                                <fieldset disabled>
                                    <b>ข้าพเจ้า </b><input type="text" class="form-control" name='name' value="{{objUsers.firstname_th}} {{objUsers.lastname_th}}"><br>
                                </fieldset>
                                <b>เลขที่บัญชีออมทรัพย์</b><input type="text" class="form-control" name='account_id' required><br>
                                <b>สถานะ</b>
                                <fieldset disabled>
                                    <select class="form-control" name="status" >
                                        <option selected="selected">{{typeUser.position}}</option>
                                    </select><br>
                                </fieldset>
                                <center><button type="submit" class="btn btn-primary">บันทึกข้อมูลใบเบิกจ่าย</button></center><br><br><br>
                            </form>

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane active" id="editFamily">


            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
</div>
</div>

<br/>
{% endblock %}<!-- /block content -->


