<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>แบบตอบรับนักศึกษาเข้าฝึกงาน</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body{
	}
.pages{
    font:18pt "Angsana New";
    width:210mm;
    margin:auto;
    background: white;
    }
.bodypage{
    font:20pt "Angsana New";
    width:210mm;
    margin:5mm;
    background: white;
    padding:0;
    }
#topright{
	float:right;
	padding:0;
	}
</style>
<script>
</script>
</head>
<body onLoad="return window.print()">
<div class="pages">
<center>
<H>แบบตอบรับนักศึกษาฝึกงาน</H><br>
<H>อ้างถึงหนังสือ ที่ ศธ. ................../วฟ................../.................              ลงวันที........................................................................................</H><br>
<H>ภาควิชาวิศวกรรมศาสตร์ไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H>โทร.02-555-2000 ต่อ 8518, 8519, 8520    โทรสาร 02-585-7350</H><br>
<H>________________________________________________________________________________________________________</H><br><br>
</center>
</div>
<div class="bodypage">
<H>ข้าพเจ้า (นาย/นาง/นางสาว)......................................................................................................................................</H><br>
<H>ตำแหน่ง......................................................................................................................................................</H><br>
<H>สถานที่ประกอบการชื่อ (บริษัท, รัฐวิสาหกิจ, หน่วยงานราชการ)....................................................................</H><br>
<H>เลขที่...................หมู่................ถนน....................................................ซอย.....................................................</H><br>
<H>(แขวง/ตำบล)..............................(เขต/อำเภอ)....................................................จังหวัด...................................................</H><br>
<H>รหัสไปรษณีย์...............................โทรศัพท์...........................................โทรสาร.......................................................</H><br>
<H>ยินดีให้ความร่วมมือรับนักศึกษาฝึกงานจำนวน.............................................คน คือ</H></br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>ให้นักศึกษาเริ่มฝึกงานตั้งแต่วันที่....................เดือน..............................................พ.ศ.........................</H><br>
<H>โดยให้นักศึกษารายงานตัวที่ฝึกงานที่</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>สถานที่ให้นักศึกษาเข้ารับการฝึกงาน</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>อื่นๆ(โปรดระบุ)</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br><br><br>
<H id="topright">ลงนาม.......................................................</H><br>
<H id="topright">(.........................................................)</H><br>
<H id="topright">.........................................................</H><br>


</div>
</body>
</html>
