<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>แบบตอบรับนักศึกษาเข้าฝึกงาน</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body{
	}
.pages{
    font:18pt "Angsana New";
    width:210mm;
    margin:auto;
    background: white;
    }
.bodypage{
    font:18pt "Angsana New";
    width:210mm;
    margin:5mm;
    background: white;
    padding:0;
    }
#topright{
	float:right;
	padding:0;
	}
</style>
<script>
</script>
</head>
<body onLoad="return window.print()">
<div class="pages">
<center>
<H>แบบตอบรับนักศึกษาฝึกงาน</H><br>
<H>อ้างถึงหนังสือ ที่ ศธ. ................../วฟ................../.................              ลงวันที........................................................................................</H><br>
<H>ภาควิชาวิศวกรรมศาสตร์ไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H>โทร.02-555-2000 ต่อ 8518, 8519, 8520    โทรสาร 02-585-7350</H><br>
<H>___________________________________________________________________________________________________</H><br>
</center>
</div>
<div class="bodypage">
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้า (นาย/นาง/นางสาว)..................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">ตำแหน่ง..........................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">สถานที่ประกอบการชื่อ (บริษัท, รัฐวิสาหกิจ, หน่วยงานราชการ).................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">เลขที่..........................หมู่..................ถนน..........................................................ซอย.....................................................</span></H><br>
<H><span style="padding-left:1.5cm;">(แขวง/ตำบล)...........................................(เขต/อำเภอ)...........................................จังหวัด.............................................</span></H><br>
<H><span style="padding-left:1.5cm;">รหัสไปรษณีย์................................โทรศัพท์.............................................โทรสาร.........................................................</span></H><br>
<H><span style="padding-left:1.5cm;">ยินดีให้ความร่วมมือรับนักศึกษาฝึกงานจำนวน.............................................คน คือ</span></H></br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ให้นักศึกษาเริ่มฝึกงานตั้งแต่วันที่...........................เดือน...................................................พ.ศ.............................</span></H><br>
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โดยให้นักศึกษารายงานตัวที่ฝึกงานที่
..................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถานที่ให้นักศึกษาเข้ารับการฝึกงาน...................................................................................................................</span>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อื่นๆ(โปรดระบุ)....................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm; padding-right:1.5cm;">........................................................................................................................................................................................</span></H><br><br><br>
<H id="topright"><span style="padding-right:2.5cm">ลงนาม.......................................................</H><br>
<H id="topright"><span style="padding-right:2.5cm">(.........................................................)</span></H><br>
<H id="topright"><span style="padding-right:2.5cm">.........................................................</span></H></span>

</div>
</div>
</body>
</html>
