{% extends "base.html" %}
{% load custom_function %}
{% load staticfiles %}

{% block title %}แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group5:status' %}">ตรวจสอบสถานะการฝึกงาน</a></li>
    <li class="active">แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน</li>
</ol>
		
{% endblock %}
{% block content %}
<div class="container-fluid">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
.page{
	width:210mm;
	height:auto;
	margin:auto;
	position:relative;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
	}
.form > H{
	margin-left:50;
}
H{
        font:16pt "Angsana New";
}
textarea {
	margin-left:50;
	resize:none;
	outline:none;
	}
input{
	outline:none;
	resize:none;
	}
#o1{
	text-align:center;
	}
@page{
	size:A4;
	margin:0;
	}
.text{
	border: 1px solid #000; /* Use for change border width*/
	width:120mm;
	height:16mm;
	resize:none;
	margin-left:50;
	}
.namestd{
	margin-left:50;
	}
.comment{
	border: 1px solid #000; /* Use for change border width*/
	width:80mm;
	height:60mm;
	resize:none;

}
table,tr,td{
	border-collapse: collapse;
	font:16pt "Angsana New";
	}
@media print {
  .page {
		margin:0;
		font:16pt "Angsana New";
		position:absolute;
		border: initial;
		width: initial;
		height:initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		}
}

</style>
</div>
    <form action="">
    <div class="page">
    {% if currentUser and stu and stat%}
    <center>
    <h><u>แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน</u></h>
    </center>
        <br>ข้าพเจ้า
        <input type='text' name='name' style='width:50px;' value='{{prefix_name1}}'/>
        <input type='text' name='name' style='width:400px;' value='{{currentUser.firstname_th}} {{currentUser.lastname_th}}'/>
        </br></br>รหัสนักศึกษา   <input type='text' name='id_student' style='width:200px;'value = '{{stu.std_id}}'/>
        </br></br>นักศึกษาชั้นปีที่ <input type='text' name='stu_year' style='width:30px;'/>&nbspมีความประสงค์ขอให้ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ ออกหนังสือขอความอนุเคราะห์ฝึกงานตามรายละเอียดดังต่อไปนี้
        </br></br>
        <table style='width:100%'>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspเรียน</td>
                <td><input type='text' name='to' style='width:400px;'/></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสถานที่ฝึกงาน</td>
                <td><input type='text' name='office' style='width:400px;'/></td>
            </tr>
            <tr>
                <td rowspan=2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspที่อยู่</td>
            </tr>
            <tr>
                <td><textarea style="width: 400px;"name="address" id="address" cols="45" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโทรศัพท์</td>
                <td><input type='text' name='tel' style='width:400px;'/></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโทรสาร(FAX)</td>
                <td><input type='text' name='fax' style='width:400px;'/></td>
            </tr>
        </table>
        </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspระยะเวลาการฝึกงาน  ตั้งแต่&nbsp
                <select name = 'date1'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                    <option value='16'>16</option>
                    <option value='17'>17</option>
                    <option value='18'>18</option>
                    <option value='19'>19</option>
                    <option value='20'>20</option>
                    <option value='21'>21</option>
                    <option value='22'>22</option>
                    <option value='23'>23</option>
                    <option value='24'>24</option>
                    <option value='25'>25</option>
                    <option value='26'>26</option>
                    <option value='27'>27</option>
                    <option value='28'>28</option>
                    <option value='29'>29</option>
                    <option value='30'>30</option>
                    <option value='31'>31</option>
                </select>
                <select name = 'month1'>
                    <option value='01'>ม.ค.</option>
                    <option value='02'>ก.พ.</option>
                    <option value='03'>มี.ค.</option>
                    <option value='04'>เม.ย.</option>
                    <option value='05'>พ.ค.</option>
                    <option value='06'>มิ.ย.</option>
                    <option value='07'>ก.ค.</option>
                    <option value='08'>ส.ค.</option>
                    <option value='09'>ก.ย.</option>
                    <option value='10'>ต.ค.</option>
                    <option value='11'>พ.ย.</option>
                    <option value='12'>ธ.ค.</option>
                </select>
                <select name = 'year1'>
                    <option value='2558'>2558</option>
                    <option value='2559'>2559</option>
                    <option value='2560'>2560</option>
                    <option value='2560'>2561</option>
                    <option value='2560'>2562</option>
                    <option value='2560'>2563</option>
                    <option value='2560'>2564</option>
                    <option value='2560'>2565</option>
                    <option value='2560'>2566</option>
                    <option value='2560'>2567</option>
                    <option value='2560'>2568</option>
                </select>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspถึงวันที่&nbsp
                <select name = 'date2'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                    <option value='16'>16</option>
                    <option value='17'>17</option>
                    <option value='18'>18</option>
                    <option value='19'>19</option>
                    <option value='20'>20</option>
                    <option value='21'>21</option>
                    <option value='22'>22</option>
                    <option value='23'>23</option>
                    <option value='24'>24</option>
                    <option value='25'>25</option>
                    <option value='26'>26</option>
                    <option value='27'>27</option>
                    <option value='28'>28</option>
                    <option value='29'>29</option>
                    <option value='30'>30</option>
                    <option value='31'>31</option>
                </select>
                <select name = 'month2'>
                    <option value='01'>ม.ค.</option>
                    <option value='02'>ก.พ.</option>
                    <option value='03'>มี.ค.</option>
                    <option value='04'>เม.ย.</option>
                    <option value='05'>พ.ค.</option>
                    <option value='06'>มิ.ย.</option>
                    <option value='07'>ก.ค.</option>
                    <option value='08'>ส.ค.</option>
                    <option value='09'>ก.ย.</option>
                    <option value='10'>ต.ค.</option>
                    <option value='11'>พ.ย.</option>
                    <option value='12'>ธ.ค.</option>
                </select>
                <select name = 'year2'>
                    <option value='2558'>2558</option>
                    <option value='2559'>2559</option>
                    <option value='2560'>2560</option>
                    <option value='2561'>2561</option>
                    <option value='2562'>2562</option>
                    <option value='2563'>2563</option>
                    <option value='2564'>2564</option>
                    <option value='2565'>2565</option>
                    <option value='2566'>2566</option>
                    <option value='2567'>2567</option>
                    <option value='2568'>2568</option>
                </select>
            </br></br>
            <u>ทั้งนี้ข้าพเจ้ามีความประสงค์</u>
            </br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="radio" name="send" value="send by department">ขอให้ภาควิชาฯ จัดส่งหนังสือขอความอนุเคราะห์ฝึกงานไปตามที่อยู่ข้างบนนี้
            </br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="radio" name="send" value="send by student">ขอรับหนังสืออนุเคราะห์ฝึกงานไปยื่นด้วยตนเอง

    <CENTER><br><input class="btn btn-primary"  type ="submit" name="Submit" value="บันทึก">
    <a href="{% url 'login:menu' %}"><input class="btn btn-danger"  type ="button" name="Cancel" value="ยกเลิก" /></br></a></CENTER>
    </form>
    <br>
    </div>
        {% else %}
หมายเหตุ
{% endif %}
{% endblock %}