{% extends "base.html" %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group5:status' %}">ตรวจสอบสถานะการฝึกงาน</a></li>
    <li class="active">ประเมิณการฝึกงานของนักศึกษาฝึกงาน</li>
</ol>
		
{% endblock %}
{% block content %}
{% if Pro %}
<form action="/group5/form3/">
<body>
    <center>
    <u>ประเมิณการฝึกงานของนักศึกษาฝึกงาน</u></br></br>
    <table style='width:100%' border=1>
        <tr>
            <td><b><center>รหัสนักศึกษา</td>
            <td><b><center>ชื่อ-สกุล</td>
            <td><b><center>สถานที่ประกอบการ</td>
            <td><b><center>สถานะ</td>
            <td><b><center>อัพเดทสถานะ</td>
        </tr>
        {% for item in state %}
        {% if item.StatusPetition == 'CheckComplete'%}
        <tr>
            <td>{{item.studentG5_id}}</td>
            <td>
                {% for item2 in Pro %}
                    {% for item3 in stu %}
                        {% if item2.id = item3.userprofile_id and item.studentG5_id = item3.std_id%}
                            {{item2.firstname_th}} {{item2.lastname_th}}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
            <td>{{item.Internship_id}}</td>
            <td><center>{{item.StatusPetition}}</center></td>
            <td><center>
            <input type ="submit" name="Submit" value="{{item.NoPetition}}"><center></td>
        </tr>
        {% endif %}
    {% endfor %}
    <table><select name = 'status'>
                    <option value='pass'>ผ่านการฝึกงาน</option>
                    <option value='notpass'>ไม่ผ่านการฝึกงาน</option>
    </select></table>
    </table>
</body>
</form>
{% else %}    
หมายเหตุ
{% endif %}
{% endblock %}
