<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>รายชื่อนักศึกษาที่ฝึกงาน</title>
</head>

<body>
    <center>
    <u>รายชื่อนักศึกษาที่ฝึกงาน</u></br></br>
    <table style='width:100%' border=1>
        <tr>
            <td><b><center>รหัสนักศึกษา</td>
            <td><b><center>ชื่อ-สกุล</td>
            <td><b><center>สถานที่ประกอบการ</td>
            <td><b><center>สถานะ</td>
            <td><b><center>เมนู</td>
        </tr>
        <tr>
            <td>test&nbsp</td>
            <td>test&nbsp</td>
            <td>test&nbsp</td>
            <td>test&nbsp</td>
            <td><center><button>ดูข้อมูล</button><center></td>
        </tr>
    </table>


</body>
</html>
