{% extends "base.html" %}
{% load custom_function %}
{% load staticfiles %}

{% block title %}แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน{% endblock %}

{% block pageHeader %}

<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group5:status' %}">ตรวจสอบสถานะการฝึกงาน</a></li>
    <li class="active">แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน</li>
</ol>
		
{% endblock %}
{% block content %}
<div class="container-fluid">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
.page{
	width:210mm;
	height:auto;
	margin:auto;
	position:relative;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
	}
.form > H{
	margin-left:50;
}
H{
        font:16pt "Angsana New";
}
textarea {
	margin-left:50;
	resize:none;
	outline:none;
	}
input{
	outline:none;
	resize:none;
	}
#o1{
	text-align:center;
	}
@page{
	size:A4;
	margin:0;
	}
.text{
	border: 1px solid #000; /* Use for change border width*/
	width:120mm;
	height:16mm;
	resize:none;
	margin-left:50;
	}
.namestd{
	margin-left:50;
	}
.comment{
	border: 1px solid #000; /* Use for change border width*/
	width:80mm;
	height:60mm;
	resize:none;

}
table,tr,td{
	border-collapse: collapse;
	font:16pt "Angsana New";
	}
@media print {
  .page {
		margin:0;
		font:16pt "Angsana New";
		position:absolute;
		border: initial;
		width: initial;
		height:initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		}
}

</style>
</div>
    <form action="">
    <div class="page">
    {% if currentUser and stu and stat%}
    <center>
    <h><u>แบบคำร้องขอหนังสือขอความอนุเคราะห์ฝึกงาน</u></h>
    </center>
        <br>ข้าพเจ้า
        <input type='text' name='name' style='width:50px;' value='{{prefix_name1}}'/>
        <input type='text' name='name' style='width:400px;' value='{{currentUser.firstname_th}} {{currentUser.lastname_th}}'/>
        </br></br>รหัสนักศึกษา   <input type='text' name='id_student' style='width:200px;'value = '{{stu.std_id}}'/>
	{% for i in stuG5%}
	    {% if stu.std_id == i.studentID %}
        </br></br>นักศึกษาชั้นปีที่ <input type='text' name='stu_year' style='width:30px;' value = '{{i.studentYear}}'/>&nbspมีความประสงค์ขอให้ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ ออกหนังสือขอความอนุเคราะห์ฝึกงานตามรายละเอียดดังต่อไปนี้
	    {% endif %}
	{% endfor %}
        </br></br>
        <table style='width:100%'>
	    {% for i in stat%}
		    {% if stu.std_id == i.studentG5_id %}
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspเรียน</td>
		    <td><input type='text' name='to' style='width:400px;' value = '{{i.to}}'/></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสถานที่ฝึกงาน</td>
		    <td><input type='text' name='office' style='width:400px;' value = '{{i.Internship_id}}'/></td>
            </tr>
            <tr>
                <td rowspan=2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspที่อยู่</td>
            </tr>
            <tr>
		{% for j in Intern%}
               <!-- a{{i.Internship_id}} b {{j.name_Internship}}-->
		    {% if i.Internship_id == j.name_Internship %}
                <td><textarea style="width: 400px;"name="address" id="address" cols="45" rows="5" >{{j.add_Internship}}</textarea></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโทรศัพท์</td>
                <td><input type='text' name='tel' style='width:400px;' value = '{{j.Tel}}'/></td>
            </tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโทรสาร(FAX)</td>
                <td><input type='text' name='fax' style='width:400px;' value = '{{j.Fax}}'/></td>
		    {% endif %}
		{% endfor %}
            </tr>
        </table>
            <br>
            <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspระยะเวลาการฝึกงาน  ตั้งแต่<input type="date" name="Date_since" value="{{Date_since}}" class="form-control" placeholder="ตั้งแต่" title="ตั้งแต่"  style='width:200px;' required></th>
            <br>
            <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspถึงวันที่&nbsp <input type="date" name="Date_until" value="{{Date_until}}" class="form-control" placeholder="ถึง" title="ถึง" style='width:200px;' required></th>

            </br></br>
            <u>ทั้งนี้ข้าพเจ้ามีความประสงค์</u>
            </br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="radio" name="send" value="send by department">ขอให้ภาควิชาฯ จัดส่งหนังสือขอความอนุเคราะห์ฝึกงานไปตามที่อยู่ข้างบนนี้
            </br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="radio" name="send" value="send by student">ขอรับหนังสืออนุเคราะห์ฝึกงานไปยื่นด้วยตนเอง
	    {% endif %}
	{% endfor %}
    
    <CENTER><br><input class="btn btn-primary"  type ="submit" name="Submit" value="บันทึก">
    <a href="{% url 'login:menu' %}"><input class="btn btn-danger"  type ="button" name="Cancel" value="ยกเลิก" /></br></a></CENTER>
    </form>
    <br>
    </div>
        {% else %}
หมายเหตุ
{% endif %}
{% endblock %}