{% extends "base.html" %}

{% block pageHeader %}
<ol class="breadcrumb">
    <meta charset="UTF-8">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li><a href="{% url 'group5:mainG5' %}">รายชื่อนักศึกษาที่อยู่ในระบบฝึกงานทั้งหมด</a></li>
    <li class="active">เอกสารทั้งหมด</li>
</ol>
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>เอกสารระบบฝึกงาน</title>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h3> &nbsp<u>เอกสารที่เกี่ยวข้องกับระบบฝึกงาน</u></h3></div>
    </div>
    <br>

</head>
<body>
<div class="row">
    <div class="container">

        <!----------------------- Student info. --------------------------->

        {% for info1 in stu %}
        {% for info2 in state%}
        {%if info1.std_id = sid and info2.studentG5_id = sid%}
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ข้อมูลนักศึกษา</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-hover table-bordered">



                        <tr>
                            <th>รหัสนักศึกษา</th>
                            <td>{{info1.std_id}}</td>
                        </tr>
                        <tr>
                            <th>ชื่อ - นามสกุล</th>
                            <td>{{info1.userprofile.firstname_th}} {{info1.userprofile.lastname_th}}</td>
                        </tr>
                        <tr>
                            <th>บริษัทฝึกงาน</th>
                            <td>{{info2.Internship.name_Internship}}</td>

                        </tr>
                        <tr>
                            <th>สถานะการฝึกงาน</th>
                            <td>{%if info2.StatusPetition = "ไม่ได้รับการอนุมัติฝึกงาน"%}
                                <b><font color="red">{{info2.StatusPetition}}</font></b>
                                {%elif info2.StatusPetition = "เสร็จสิ้น"%}
                                <b><font color="green">{{info2.StatusPetition}}</font></b>
                                {%else%}
                                <b><font color="blue">{{info2.StatusPetition}}</font></b>
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <th>รูปแบบการจัดส่งหนังสือ<br>ขอความอนุเคราะห์ฝึกงาน</th>
                            {{state.send}}
                            <td>{%if info2.send = "send by student" %}
                                ขอรับหนังสืออนุเคราะห์ฝึกงานไปยื่นด้วยตนเอง
                                {%else%}
                                ขอให้ภาควิชาฯ จัดส่งหนังสือขอความอนุเคราะห์ฝึกงาน
                                {%endif%}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ไฟล์เอกสารการส่งตัว</h4>
                </div>
                <div class="panel-body">
                    <div class="table table-responsive table-hover table-bordered">
                        <h5>&nbsp &nbsp<b><u>เอกสารขอความอนุเคราะห์ฝึกงาน</u></b></h5>
                        {%for state in state %}
                        {%if state.studentG5_id = sid%}
                           <tr><td>
        <center>

            <a class="btn btn-primary" href="{% url 'group5:status_printALL' state.studentG5_id %}" style='width:95%'  > <span class="glyphicon glyphicon-primary"></span>
                ตรวจสอบแบบคำร้องขอฝึกงาน</a>
        </center>
                               <br>
   </td> </tr>

                        <form action="/group5/form1/">
                            <tr>
                                <td><br>
                                    <center>
                                        &nbsp;กรุณากรอกวันที่ยื่นเอกสาร&nbsp;
                                        <select name="date">
                                            <option value="๑">1</option>
                                            <option value="๒">2</option>
                                            <option value="๓">3</option>
                                            <option value="๔">4</option>
                                            <option value="๕">5</option>
                                            <option value="๖">6</option>
                                            <option value="๗">7</option>
                                            <option value="๘">8</option>
                                            <option value="๙">9</option>
                                            <option value="๑๐">10</option>
                                            <option value="๑๑">11</option>
                                            <option value="๑๒">12</option>
                                            <option value="๑๓">13</option>
                                            <option value="๑๔">14</option>
                                            <option value="๑๕">15</option>
                                            <option value="๑๖">16</option>
                                            <option value="๑๗">17</option>
                                            <option value="๑๘">18</option>
                                            <option value="๑๙">19</option>
                                            <option value="๒๐">20</option>
                                            <option value="๒๑">21</option>
                                            <option value="๒๒">22</option>
                                            <option value="๒๓">23</option>
                                            <option value="๒๔">24</option>
                                            <option value="๒๕">25</option>
                                            <option value="๒๖">26</option>
                                            <option value="๒๗">27</option>
                                            <option value="๒๘">28</option>
                                            <option value="๒๙">29</option>
                                            <option value="๓๐">30</option>
                                            <option value="๓๑">31</option>
                                        </select>
                                    </center>

                                    <br>
                                    <center>
                                        <input type=hidden name=id value={{sid}}>
                                        <button type="submit" class="btn btn-info" style='width:95%'
                                                formtarget="_blank">
                                            <span class="glyphicon glyphicon-print"></span>
                                            พิมพ์เอกสารขอความอนุเคราะห์นักศึกษาฝึกงาน
                                        </button>
                                    </center>

                        </form>


                        <br>

                        <form action="/group5/accept_trainee_print/">

                            <center>
                                <button type="submit" class="btn btn-info" style='width:95%' formtarget="_blank">
                                    <span class="glyphicon glyphicon-print"></span> พิมพ์แบบตอบรับนักศึกษาฝึกงาน
                                </button>
                            </center>

                        </form>

                        </td> </tr><br><br></div>
                    <div class="table table-responsive table-hover table-bordered">
                        {%if state.StatusPetition = "เสร็จสิ้น" or state.StatusPetition = "ได้รับการอนุมัติเข้าฝึกงาน"%}
                        <h5>&nbsp &nbsp<b><u>เอกสารการส่งตัว</u></b></h5>

                        <form action="/group5/form2_p/">
                            <tr>
                                <td><br>
                                    <center>
                                        &nbsp;กรุณากรอกวันที่ยื่นเอกสาร&nbsp;
                                        <select name="date">
                                            <option value="๑">1</option>
                                            <option value="๒">2</option>
                                            <option value="๓">3</option>
                                            <option value="๔">4</option>
                                            <option value="๕">5</option>
                                            <option value="๖">6</option>
                                            <option value="๗">7</option>
                                            <option value="๘">8</option>
                                            <option value="๙">9</option>
                                            <option value="๑๐">10</option>
                                            <option value="๑๑">11</option>
                                            <option value="๑๒">12</option>
                                            <option value="๑๓">13</option>
                                            <option value="๑๔">14</option>
                                            <option value="๑๕">15</option>
                                            <option value="๑๖">16</option>
                                            <option value="๑๗">17</option>
                                            <option value="๑๘">18</option>
                                            <option value="๑๙">19</option>
                                            <option value="๒๐">20</option>
                                            <option value="๒๑">21</option>
                                            <option value="๒๒">22</option>
                                            <option value="๒๓">23</option>
                                            <option value="๒๔">24</option>
                                            <option value="๒๕">25</option>
                                            <option value="๒๖">26</option>
                                            <option value="๒๗">27</option>
                                            <option value="๒๘">28</option>
                                            <option value="๒๙">29</option>
                                            <option value="๓๐">30</option>
                                            <option value="๓๑">31</option>
                                        </select>
                                    </center>

                                    <center><br>

                                        <input type=hidden name=id value={{sid}}>
                                        <button type="submit" class="btn btn-info" style='width:95%'
                                                formtarget="_blank">
                                            <span class="glyphicon glyphicon-print"></span>
                                            พิมพ์แบบขอส่งตัวนักศึกษาฝึกงาน
                                        </button>
                                    </center>

                                </td>
                            <tr>
                        </form>
                        <form action="/group5/reporting/">

                            <center><br>
                                <button type="submit" class="btn btn-info" style='width:95%' formtarget="_blank">
                                    <span class="glyphicon glyphicon-print"></span> พิมพ์แบบรายงานผลการฝึกงาน
                                </button>
                            </center>
                            <br><br>
                        </form>
                    </div>
                    {%endif%}
                    {%endif%}
                    {%endfor%}


                </div>

                <form action="/group5/ChangeStatus/" method="get">
                    {%if info2.send = "send by student" %}
                    กรุณาระบุวันที่นักศึกษามารับเอกสาร


                    <input type="date"
                           name="date"
                           value="{{date}}"
                           class="form-control"
                           placeholder="วันที่ต้องมารับเอกสาร"
                           title="วันที่ต้องมารับเอกสาร"
                           required></p>


                    {%endif%}

                    <center>


                        <a href="{% url 'group5:mainG5' %}" class="btn btn-warning" style='width:45%'
                           value="กลับสู่หน้าหลัก">กลับสู่เมนูหลัก</a>
                    </center>
                </form>
                <br>
            </div>
        </div>
    </div>

    {%endif%}
    {%endfor%}
    {%endfor%}
</div>
</div>

</body>
{% endblock %}
</html>