<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>แบบรายงานผลการฝึกงาน</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body{
	}
.pages{
    font:18pt "Angsana New";
    width:210mm;
    margin:auto;
    background: white;
    }
.bodypage{
    font:18pt "Angsana New";
    width:210mm;
    margin:5mm;
    background: white;
    padding:0;
    }
#topright{
	float:right;
	padding:0;
	}
#small{
    font:14pt "Angsana New";
    }
</style>
<script>
</script>
</head>
<body onLoad="return window.print()">
<div class="pages">
<center><B>
<H>ภาควิชาวิศวกรรมศาสตร์ไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H><U>แบบรายงานผลการฝึกงาน</U></H><br>
</B></center>
</div>
<div class="bodypage">
<H><span style="padding-left:1.5cm;">1. ชื่อนักศึกษา (นาย/นางสาว).......................................................................................................................................
</span></H><br>
<H><span style="padding-left:1.5cm;">&nbsp;&nbsp;&nbsp;&nbsp;ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ สาขาวิชา..................................................................................................
</span></H><br>
<H><span style="padding-left:1.5cm;">2. สถานที่เข้ารับการฝึกงาน...........................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">3. ระยะเวลาฝึกงาน ตั้งแต่วันที่................เดือน............................พ.ศ......................</span></H><br>
<H><dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถึง วันที่................เดือน............................พ.ศ......................</dd></H>
<H><span style="padding-left:1.5cm;">4. ลักษณะของงานที่รับการฝึก</span></H></br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">5. การเชื่อฟังและปฏิบัติตามคำสั่ง</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">6. การตรงต่อเวลา</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">7. การปรับปรุงตัวเข้ากับงานและเพื่อนร่วมงาน</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">8. ผลการปฏิบัติงานที่ได้รับมอบหมาย</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm;">9. ความเห็นของหัวหน้างานต่อนักศึกษาที่ฝึกงน</span></H><br>
<H><span style="padding-left:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H><span style="padding-left:1.5cm; padding-right:1.5cm;">........................................................................................................................................................................................</span></H><br>
<H id="topright">ลงนาม...........................................................</H><br>
<H id="topright">(.........................................................)</H><br>
<H id="topright">ตำแหน่ง.........................................................</H><br><br>
<H id="small"><span style="padding-left:1.5cm;"><B><U>หมายเหตุ</U></B> โปรดกรุณาส่งแบบรายงานและผลการฝึกนี้มายัง : ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</span></H><br>
<H id="small"><span style="padding-left:3cm;">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ 1518 ถ.ประชาราษฏร์ 1 บางซื่อ กรุงเทพฯ 10800</span></H><br>
<H id="small"><span style="padding-left:3cm;">โทร. 02-5552000 ต่อ 2518, 8519, 8520 โทรสาร 02-5857350</span></H>
</div>
</div>
</body>
</html>
