<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>แบบรายงานผลการฝึกงาน</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body{
	}
.pages{
    font:18pt "Angsana New";
    width:210mm;
    margin:auto;
    background: white;
    }
.bodypage{
    font:18pt "Angsana New";
    width:210mm;
    margin:5mm;
    background: white;
    padding:0;
    }
#topright{
	float:right;
	padding:0;
	}
#small{
    font:14pt "Angsana New";
    }
</style>
<script>
</script>
</head>
<body onLoad="return window.print()">
<div class="pages">
<center><B>
<H>ภาควิชาวิศวกรรมศาสตร์ไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</H><br>
<H><U>แบบรายงานผลการฝึกงาน</U></H><br>
</B></center>
</div>
<div class="bodypage">
<H>1. ชื่อนักศึกษา (นาย/นางสาว)...................................................................................................................................................</H><br>
<H>&nbsp;&nbsp;&nbsp;&nbsp;ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ สาขาวิชา..............................................................................................................</H><br>
<H>2. สถานที่เข้ารับการฝึกงาน.......................................................................................................................................................</H><br>
<H>3. ระยะเวลาฝึกงาน ตั้งแต่วันที่................เดือน............................พ.ศ......................</H><br>
<H><dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่................เดือน............................พ.ศ......................</dd></H>
<H>4. ลักษณะของงานที่รับการฝึก</H></br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>5. การเชื่อฟังและปฏิบัติตามคำสั่ง</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>6. การตรงต่อเวลา</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>7. การปรับปรุงตัวเข้ากับงานและเพื่อนร่วมงาน</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>8. ผลการปฏิบัติงานที่ได้รับมอบหมาย</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>9. ความเห็นของหัวหน้างานต่อนักศึกษาที่ฝึกงน</H><br>
<H>.........................................................................................................................................................................................................................</H><br>
<H>.........................................................................................................................................................................................................................</H><br><br>
<H id="topright">ลงนาม.......................................................</H><br>
<H id="topright">(.........................................................)</H><br>
<H id="topright">.........................................................</H><br><br>
<H id="small"><B><U>หมายเหตุ</U></B> โปรดกรุณาส่งแบบรายงานและผลการฝึกนี้มายัง : ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์</H><br>
<H id="small">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ 1518 ถ.ประชาราษฏร์ 1 บางซื่อ กรุงเทพฯ 10800</H><br>
<H id="small">โทร. 02-5552000 ต่อ 2518, 8519, 8520 โทรสาร 02-5857350</H>
</div>
</body>
</html>
