{% extends "base.html" %}
{% load custom_function %}
{% load staticfiles %}

{% block title %}ตรวจสอบสถานะการฝึกงาน{% endblock %}

{% block pageHeader %}
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">ตรวจสอบสถานะการฝึกงาน</li>
</ol>
{% endblock %}

{% block content %}
<script type="type/javascript">
function confirmLeave() {
	if(!confirm("Do you wish to continue without finishing the payment process? Your account will not be setup...")) return;
		window.open('popup.html','width=400,height=400');
}
</script>

<div class="container-fluid">
{% for message in messages %}
    <br><font color = "FF0000" name="message">*{{ message }}</font>
{% endfor %}
{% if currentUser and stu and pet%}
	<table width = 100%>
    	<tr>
			<td width = 20%></td>
			<td width = 5%><h4>รหัสนักศึกษา</h4></td>
			<td width = 10%><u><h4>{{stu.std_id}}</h4></u></td>
			<td></td>
    	</tr>
		<tr>
			<td width = 20%></td>
			<td width = 5%><h4>ชื่อ-สกุล</h4></td>
			<td width = 10%><h4>{{currentUser.firstname_th}} {{currentUser.lastname_th}}</h4></td>
			<td></td>
   	 	</tr>
	</table>
	<div class="table-responsive">
                <table class="table table-hover table-bordered" id="no-more-tables">
                    <thead>
					{% for item in pet %}
							{% if stu.std_id =  item.studentG5_id%}
    					<tr>
							<th>สถานที่ฝึกงาน</th>
							<th>วันที่ยื่นใบคำร้องขอ</th>
							<th>สถานะ</th>
							{% if item.StatusPetition = "ไม่ได้รับการอนุมัติเข้าฝึกงาน" %}
							<th>แก้ไขแบบคำร้องขอฝึกงาน</th>
							{% endif %}
							<th>พิมพ์แบบคำร้องขอฝึกงาน</th>
							{% if item.StatusPetition = "กำลังดำเนินการ" and item.send = "send by student" %}
							<th>วันที่ต้องไปรับเอกสาร</th>
							{% endif %}
						</tr>
							{% endif %}
    					{% endfor %}
					</thead>
					<tbody>
    					{% for item in pet %}
							{% if stu.std_id =  item.studentG5_id%}
								<tr>
	    							<td data-title= 'สถานที่ฝึกงาน'>{{item.Internship_id}}</td>
	    							<td data-title= 'วันที่ยื่นใบคำร้องขอ'>{{createdat}}</td>
	   					 			<td data-title= 'สถานะ'>{{item.StatusPetition}}</td>
									{% if item.StatusPetition = "ไม่ได้รับการอนุมัติเข้าฝึกงาน" %}
									<td data-title= 'แก้ไขแบบคำร้องขอฝึกงาน'><a class="btn btn-warning"  href="{% url 'group5:status_edit' stu.std_id %}">แก้ไขแบบคำร้องขอฝึกงาน</a></td>
									{% endif %}
									<td data-title= 'พิมพ์แบบคำร้องขอฝึกงาน'><form action="/group5/status/print/">
											<input type=hidden name=id value={{state.studentG5_id }}>
                                        	<button type="submit" class="btn btn-primary" style='width:95%' formtarget="_blank">
                                                <span class="glyphicon glyphicon-primary"></span>
                                           ตรวจสอบแบบคำร้องขอฝึกงาน
                                        	</button>
										 </form></td>
									{% if item.StatusPetition = "กำลังดำเนินการ" and item.send = "send by student" %}
										<td data-title= 'วันที่ต้องไปรับเอกสาร'>{{date_end}}</td>
									{% endif %}
								 </tr>
							{% endif %}
    					{% endfor %}
					</tbody>
				</table>
	</div>

	</center><br>
{% else %}
	<div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <strong>ยังไม่มีข้อมูล!</strong> กรุณา
                    <a href = '/group5/addpet/'><strong>เพิ่มข้อมูล</strong></a>
                </div>
            </div>
		<div class="col-md-3"></div>
	</div>
{% endif %}
	<font color="#FF0000">**หมายเหตุ : กรณีที่สถานะ "ไม่อนุมัติการเข้ารับฝึกงาน" ให้แก้ไขข้อมูล เพื่อทำการส่งแบบคำร้องใหม่**</font>
	<br>
	<center><a href="{% url 'login:menu' %}"><input class="btn btn-danger"  type ="button" name="Cancel_status" value="ย้อนกลับ" /></br></a></center>
</div>
{% endblock %}

