{% extends "base.html" %}

{% block pageHeader %}<h3>ระบบ <small>อาจารย์สองภาษา</small></h3>{% endblock %}

{% block content %}
    <!-- check has Prof2Lang object -->
    {% if prof2langList %}

    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <strong>ยังไม่มีข้อมูล!</strong> กรุณา
                    <a class="alert-link" href="#">เพิ่มข้อมูล</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
{% endblock %}