{% extends "base.html" %}
{% block head %}
    <style>
        th {
            text-align: center;
        }
        td#subjectName {
            text-align: left;
        }
    </style>
{% endblock %}

{% block title %}ระบบอาจารย์สองภาษา{% endblock %}

{% block pageHeader %}<h2>ระบบ <small>อาจารย์สองภาษา</small></h2>{% endblock %}

{% block content %}
    <!-- check has Prof2Lang object -->
    {% if teachList %}
        <div class="container-fluid">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>ชื่อ-สกุล</th>
                        <th>ตัวย่อ</th>
                        <th>รหัสวิชา</th>
                        <th>ชื่อวิชา</th>
                        <th>ตอนเรียน</th>
                        <th>วัน</th>
                        <th>เวลา</th>
                        <th>ห้องเรียน</th>
                        <th>เบอร์โทรศัพท์</th>
                        <th>E-mail</th>
                        <th>บ/ช สหกรณ์</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for teach in teachList %}
                    <tr align="center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ teach.prof }}</td>
                        <td>{{ teach.prof.shortName }}</td>
                        <td>{{ teach.subject.subjectID }}</td>
                        <td id="subjectName">{{ teach.subject.subjectName }}</td>
                        <td>{{ teach.section.section }}</td>
                        <td>{{ teach.section.date }}</td>
                        <td>{{ teach.section.startTime|time:"H.i" }} - {{ teach.section.endTime|time:"H.i" }}</td>
                        <td>{{ teach.section.classroom }}</td>
                        <td>{{ teach.prof.tell }}</td>
                        <td>{{ teach.prof.email }}</td>
                        <td>{{ teach.prof.sahakornAccount }}</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="#">ดูข้อมูล</a>
                            <a class="btn btn-default btn-xs" href="#">แก้ไข</a>
                            <a class="btn btn-danger btn-xs" href="#">ลบ</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="#">เพิ่มข้อมูล</a>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <strong>ยังไม่มีข้อมูล!</strong> กรุณา
                    <a class="alert-link" href="#">เพิ่มข้อมูล</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
{% endblock %}