{% extends "base.html" %}
{% block head %}
    <style>

    </style>
{% endblock %}

{% block title %}ระบบอาจารย์สองภาษา{% endblock %}

{% block pageHeader %}
<h2>ระบบ <small>อาจารย์สองภาษา</small></h2>
<ol class="breadcrumb">
    <li><a href="{% url 'login:menu' %}">เมนู</a></li>
    <li class="active">ระบบอาจารย์สองภาษา</li>
</ol>
{% endblock %}

{% block content %}
    <!-- check has Prof2Lang object -->
    {% if teachList %}
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-3">
                    <a class="btn btn-primary btn-block" href="{% url 'group3:prof2lang_add' 0 %}"><span class="glyphicon glyphicon-plus"></span> เพิ่มข้อมูล</a>
                    <a class="btn btn-default btn-block" href="{% url 'group3:genallpdf'%}" target = _blank><span class="glyphicon glyphicon-print"></span> พิมพ์ข้อมูล</a>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="no-more-tables">
                            <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ชื่อ-สกุล</th>
                                <th>ตัวย่อ</th>
                                <th>รหัสวิชา</th>
                                <th>ชื่อวิชา</th>
                                <th>ตอนเรียน</th>
                                <th>เมนู</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for teach in teachList %}
                            <tr>
                                <td data-title="ลำดับ">{{ forloop.counter }}</td>
                                <td data-title="ชื่อ-สกุล">{{ teach.prof }}</td>
                                <td data-title="ตัวย่อ">{{ teach.prof.shortName }}</td>
                                <td data-title="รหัสวิชา">{{ teach.subject.subjectID }}</td>
                                <td data-title="ชื่อวิชา">{{ teach.subject.subjectName }}</td>
                                <td data-title="ตอนเรียน">{{ teach.section.section }}</td>
                                <td data-title="เมนู">
                                    <a class="btn btn-info btn-xs" href="{% url 'group3:prof2lang_view' teach.id %}">ดูข้อมูล</a>
                                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delModal{{teach.id}}" >ลบ</a>
                                    <a class="btn btn-default btn-xs" href="{% url 'group3:genpdf' teach.id %}" target = _blank><span class="glyphicon glyphicon-print"></span></a>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="delModal{{teach.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">ลบข้อมูล</h4>
                                        </div>
                                        <div class="modal-body">
                                            คุณแน่ใจหรือว่าต้องการลบข้อมูลนี้
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                                            <a href="{% url 'group3:prof2lang_delete' teach.id %}" class="btn btn-success" >ตกลง</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <strong>ยังไม่มีข้อมูล!</strong> กรุณา
                    <a class="alert-link" href="{% url 'group3:prof2lang_add' 0 %}">เพิ่มข้อมูล</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}

{% endblock %}