{% extends "login/profile/profile_base.html" %}
{% load staticfiles %}

{% block profile_content %}

<!-- if have errors -->
{% for error in errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>ล้มเหลว! </strong> {{ error }}
</div>
{% empty %}
{% endfor %}

{% if success %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>สำเร็จ! </strong> {{ success }}
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-body">

      <form class="form-horizontal" action="#" method="post">
          {% csrf_token %}

          <!-- 1. currentPassword -->
          <div class="form-group">
              <label class="col-md-3 control-label">รหัสผ่านปัจจุบัน: </label>
              <div class="col-md-6">
                  <input type="password" name="cPass" class="form-control" title="รหัสผ่านปัจจุบัน" placeholder="รหัสผ่านปัจจุบัน" required>
              </div>
          </div>

          <!-- 2. newPassword -->
          <div class="form-group">
              <label class="col-md-3 control-label">รหัสผ่านใหม่: </label>
              <div class="col-md-6">
                  <input type="password" name="nPass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!#$%&'()*+,./:;<=>?@\^_`{|}~-])[A-Za-z0-9!#$%&'()*+,./:;<=>?@\^_`{|}~-]{8,}" class="form-control" title="รหัสผ่านใหม่" placeholder="รหัสผ่านใหม่" required>
              </div>
          </div>

          <!-- 3. newPasswordAgain -->
          <div class="form-group">
              <label class="col-md-3 control-label">รหัสผ่านใหม่(อีกครั้ง): </label>
              <div class="col-md-6">
                  <input type="password" name="nPassAgain" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!#$%&'()*+,./:;<=>?@\^_`{|}~-])[A-Za-z0-9!#$%&'()*+,./:;<=>?@\^_`{|}~-]{8,}" class="form-control" title="รหัสผ่านใหม่" placeholder="รหัสผ่านใหม่" required>
              </div>
               <div class="col-md-3">
                  <p class="help-block" style="color: red;">
                      กรอกรหัสผ่านอย่างน้อย 8 ตัวอักษร ที่ประกอบด้วยตัวเลข, ตัวอักษร และสัญลักษณ์ อย่างน้อยชนิดละ 1 ตัวอักษร
                  </p>
              </div>
          </div>

          <!-- Button -->
          <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">บันทึกการเปลี่ยนแปลง</button>
              </div>
          </div>


      </form>

  </div>
</div>

{% endblock %}
