{% extends "base.html" %}
{% load staticfiles %}

ใส่ Head ใน block ด้านล่าง
{% block head %}

{% endblock %}

ใส่ title ใน block ด้านล่าง
{% block title %}
    {{ user.get_full_name }}
{% endblock %}

{% block pageHeader %}
    <!-- ใส่ pageHeader (ส่วนที่แสดงเป็นหัวข้อด้านบนสุดของหน้าเว็บ) ที่นี่ -->

{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <!-- ใส่เนื้อหาของหน้าเว็บ ที่นี่ -->
        <div class="container">

            <div class="col-md-3">
<!------------------------------------------------- ปุ่มกดเมนูด้านซ้าย ----------------------------------------------------->
                <!-- 1. profile-btn -->
                <a href="{% url 'login:profile_index' %}" class="btn btn-default btn-block {{ profile_index }}">บัญชีของฉัน</a>
                <a href="{% url 'login:profile_editPassword' %}" class="btn btn-default btn-block {{ profile_change_password }}">เปลี่ยนรหัสผ่าน</a>
                {% if userprofile.type == '0' %}
                    <!-- for Student -->
                    <a href="{% url 'login:profile_student' %}" class="btn btn-default btn-block {{ profile_student }}">ข้อมูลนักศึกษา</a>
                {% endif %}
                {% if userprofile.type == '1' %}
                    <!-- for Teacher -->
                    <a href="{% url 'login:profile_teacher' %}" class="btn btn-default btn-block {{ profile_teacher }}">ข้อมูลอาจารย์</a>
                {% endif %}
                {% if userprofile.type == '2' %}
                    <!-- for Officer -->
                    <a href="{% url 'login:profile_officer' %}" class="btn btn-default btn-block {{ profile_officer }}">ข้อมูลพนักงาน/เจ้าหน้าที่</a>
                {% endif %}
            </div><!-- /col-md-3 -->

            <div class="col-md-9">
<!------------------------------------------------- ข้อมูล Content ----------------------------------------------------->
                {% block profile_content %}{% endblock %}

            </div><!-- /col-md-9 -->

        </div><!-- /container -->

    {% else %}
        <!-- user not authenticated -->
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> กรุณา<a href="{% url 'login:login' %}">เข้าสู่ระบบ</a></div>
    {% endif %}
{% endblock %}
